.course {

    &__container {
        padding-bottom: 40px;
    }

    &__company {

        &_indent {
            padding-top: 20px;
            padding-bottom: 40px;

            @media(max-width: 992px) {
                padding-bottom: 30px;
            }

            @media(max-width: 522px) {
                padding-bottom: 20px;
            }
        }

        &-container {
            display: flex;
            grid-gap: 30px;
        }

        &-about {
            background: #2D3241;
            border: 1px solid #444B5F;
            border-radius: 10px;
            padding: 20px;

            @media(max-width: 992px) {
                padding: 16px;
            }
        }

        &-description {
            font-size: 16px;
            text-indent: 2rem;

            @media(max-width: 992px) {
                font-size: 15px;
            }
        }

        &-icon {

            @media(max-width: 522px) {
                display: none;
            }

            img {
                max-width: 200px;
                height: auto;
            }
        }

        &-name {
            font-size: 30px;
            text-align: center;

            @media(max-width: 992px) {
                font-size: 24px;
            }
        }
    }

    &__name {
        position: relative;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        padding: 20px;
        color: inherit;
        text-decoration: none;
        border-radius: 3px;
        border: 1px solid #444B5F;
        background: #2D3241;
    
        @media(max-width: 992px) {
            margin-bottom: 40px;
            padding: 16px;
        }
    }

    &__title {
        display: block;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media(max-width: 992px) {
            font-size: 24px;
            margin-bottom: 8px;
        }
    }

    &__description {
        text-indent: 2rem;

        @media(max-width: 992px) {
            font-size: 15px;
        }
    }

    &__teachers {
        margin-bottom: 30px;

        h3 {
            text-align: center;
        }
    }

    &__tariff {
        h3 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            @media(max-width: 992px) {
                flex-wrap: wrap;
            }
        }

            .tariff {
                max-width: 400px;
                min-width: 300px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #363B4B;
                border-radius: 8px;
                border: 1px solid #4c546a;

                &__title {
                    background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-align: center;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #767e94;
                }

                &__list {
                    // padding-left: 16px;
                    margin-bottom: 20px;

                    li {
                        padding-bottom: 10px;
                        text-align: center;
                    }
                }

                &__cost {
                    padding-top: 10px;
                    font-size: 20px;
                    font-style: italic;
                }

                &__buy {
                    margin-right: 0;
                }
            }
    }
}