.course {

    &__container {
        position: relative;
    }

    &__subtitle {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 38px;
        font-weight: 700;
    }

    &-header {
        &__background {
            position: relative;
            width: 100%;
            opacity: 0.5;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
        }

        &__container {
            position: absolute;
            top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__title {
            margin-bottom: 30px;
            font-size: 44px;
            font-weight: 700;
        }

        &__description {
            margin-bottom: 120px;
            width: 80%;
            font-size: 18px;
            text-align: center;
        }

        &__company {

            span {
                display: block;
                padding: 8px 40px;
                background: #ffffff;
                color: #000000;
                font-weight: 600;
                cursor: pointer;
                border-radius: 8px;

                &:hover {
                    background: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }

    &-learn {
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        &__item {
            padding: 20px;
            background: #3E4459;
            border-radius: 16px;
        }

        &__subtitle {
            padding-bottom: 10px;
            font-size: 18px;
            font-weight: 700;
        }
    }

    &-teachers {
        &__item {
            display: flex;
            flex-direction: column;
            text-align: center;
            color: #ffffff;
            cursor: pointer;

            img {
                margin-bottom: 10px;
                border-radius: 50%;
            }
        }

        &__name {
            margin-bottom: 10px;
        }
    }

    &-reviews {
        &__container {
            position: relative;
            height: 200px;
            border: 1px solid rgba(255, 255, 255, 0.05);
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.02);
            overflow: hidden;
        }

        &__add {
            position: absolute;
            z-index: 5;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 42%;
            margin-bottom: 20px;
            border: 1px solid #ffffff;
            border-radius: 8px;
            cursor: pointer;
            text-align: center;

            span {
                display: block;
                padding: 6px 0;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.4);
            }
        }
    }

    &-footer {
        &__container {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        &__info {
            padding: 20px;
            background: #313541;
            border-radius: 12px;

            &-header {
                display: flex;
                justify-content: space-between;
            }
            
            &_price {
                max-width: 240px;
                font-size: 42px;
                font-weight: 700;
                line-height: 40px;
            }

            &_data {
                font-size: 14px;
                text-align: right;
            }

            &_duration {
                font-size: 14px;
            }
        }

        &__cost {
            padding-top: 20px;

            &_section {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &_old {
                position: relative;
                opacity: 0.6;

                &::after {
                    content: "";
                    position: absolute;
                    top: calc(50% - 1px);
                    left: -2px;
                    display: block;
                    width: calc(100% + 4px);
                    height: 2px;
                    background-color: #e84e1b;
                    transform: rotate(-11deg);
                }
            }

            &_discount {
                background: #525a70;
                border: 1px solid #898e9f;
                border-radius: 12px;

                span {
                    display: inline-block;
                    padding: 4px 8px;
                }
            }

            &_new {
                padding-top: 10px;
                font-size: 24px;

                div {
                    font-size: 12px;
                    color: #e28263;
                }
            }
        }

        &__enroll {
            margin-top: 30px;
            margin-bottom: 0;
        }
    }
}