.slider-wrap {
    max-width: 1240px;
    position: relative;
    margin: 0 auto;
}

.slider-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);

    &_prev {
        right: -35px;
    }

    &_next {
        left: -35px;
    }
}

.slider-carousel {
    font-size: 0;
    cursor: pointer;
    white-space: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;

    &.no-transition {
        scroll-behavior: auto;
    }

    &.dragging {
        cursor: grab;
        user-select: none;
        scroll-behavior: auto;
        scroll-snap-type: none;
    }
}

.slider-carousel::-webkit-scrollbar {
    display: none;
}

.slider-slide {
    scroll-snap-align: start;
    height: 350px;
    object-fit: contain;
    margin-left: 15px;
    width: calc(100% / 3);
}

.slider-slide:first-child {
    margin-left: 0;
}



@media screen and (max-width: 900px) {
    .slider-slide {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .slider-slide {
        width: 100%;
    }
}