.sliderMenu-wrap {
    max-width: 1200px;
    position: relative;
}

.sliderMenu-wrap .slider-container {
    font-size: 0;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.slider-container img {
    height: 340px;
    // object-fit: cover;
    object-fit: contain;
    margin-left: 15px;
    width: calc(100% / 3);
}

.slider-container img:first-child {
    margin-left: 0;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;

    &.slider-button_prev {
        left: -25px;
    }

    &.slider-button_next {
        right: -25px;
    }
}

@media screen and (max-width: 900px) {
    .slider-container img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .slider-container img {
        width: 100%;
    }
}