.university {

    &_indent {
        padding: 20px 0;
    }

    &__title {
        margin: 0 auto 20px auto;
        text-align: center;

        @media(max-width: 992px) {
            font-size: 34px;
        }
    }

    &__about {
        display: flex;
        gap: 10px;

        @media(max-width: 767px) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }

    &__social {
        display: flex;
        padding-bottom: 10px;

        &-item {
            margin-right: 10px;
        }

        &-icons {
            width: 32px;
            height: 32px;
            background: #393C47;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-height: 16px;
            }
        }
    }

    &__description {
        font-size: 18px;
        text-indent: 2rem;
    }

    &__teachers {
        &-title {
            font-size: 32px;
            text-align: center;

            &_indent {
                padding: 20px 0;
            }
        }

        &-slide {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;
        }

        &-block {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            height: auto;
            max-height: 365px;
            margin-bottom: 20px;

            img {
                height: 220px;
                background-size: cover;
            }
        }
    }

    &__slidertitle {
        color: #ffffff;
        font-size: 20px;
        text-align: center;
    }
}