ul{
  list-style: none;
}
.admin-inner {
  max-width: 1240px;
  margin: 0px auto;
}
.admin-wrap{
  padding-top: 20px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  grid-gap: 25px;
}
.content-hidden{
  display: none;
}
.sidebar{
  background: #363B4B;
  border-radius: 8px;
  height: 500px;
}

.list-item{
  padding: 20px 10px;
  cursor: pointer;
  border-bottom: 1px solid #8991A8;
}
.list-item:hover{
  background: #8991A8;

}
.wrap-btns{
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-template-rows: auto;
  grid-gap: 15px;

  .button-container-preview{
    margin-top: 0;
  }
}