//utils
@import 'utils/fonts.scss';
@import 'utils/variables.scss';

//main
*,
::after,
::before {
    box-sizing: border-box
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

#modals {
    position: relative;
    z-index: 9999;
}

html {
    scrollbar-color: $akebi_purple transparent;
    scrollbar-width: thin;
}

body {
    margin: 0px;
    font-family: $base_font, sans-serif;
    background: $noble_black;
    padding: 0 !important;
    overflow: overlay;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-button {
        background-repeat: no-repeat;
        width: 6px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: linear-gradient(45deg, $summer_sky 0, $blue_oyster_cult 45%, $akebi_purple 57%, $lilac_lotion 70%);
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

#app {
    background-color: $noble_black;
    color: $white;
    width: 100%;
    // padding-top: 80px;
    overflow: hidden;
    min-height: 100vh;

    &[data-scroll="scrollUserNews"] {

        #mainFooter {
            display: none;
        }
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

.h1,
h1 {
    font-size: calc(1.375rem + 1.5vw)
}

@media (min-width: 1200px) {

    .h1,
    h1 {
        font-size: 2.5rem
    }
}

.h2,
h2 {
    font-size: calc(1.325rem + .9vw)
}

@media (min-width: 1200px) {

    .h2,
    h2 {
        font-size: 2rem
    }
}

.h3,
h3 {
    font-size: calc(1.3rem + .6vw)
}

@media (min-width: 1200px) {

    .h3,
    h3 {
        font-size: 1.75rem
    }
}

.h4,
h4 {
    font-size: calc(1.275rem + .3vw);
}

@media (min-width: 1200px) {

    .h4,
    h4 {
        font-size: 1.5rem;
    }
}

.h5,
h5 {
    font-size: 1.25rem
}

.h6,
h6 {
    font-size: 1rem
}

input {
    outline: none;

    &[type=number] {

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

textarea {
    outline: none;

    &::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-button {
        /*background-image: url(App.css);*/
        background-repeat: no-repeat;
        width: 5px;
        height: 0px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $royal_battle;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.dn {
    display: none !important;
}

.desktop_dn {
    display: none;

    @media(max-width: 1199px) {
        display: block;
    }
}

.link {
    color: $white;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background: linear-gradient(56.57deg, $hailey_blue 0%, $thick_purple 51.56%, $spicy_pink 105.28%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/* swiper */
.swiper {
    z-index: 10 !important;

    .comment {
        &_text {
            padding-left: 20px;
            padding-right: 20px;
        }
    }


    &-cube {
        &+div {
            .comment {
                &_text {
                    margin-top: 20px;
                }
            }
        }
    }
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-icons {
    margin-top: 10px;
    width: 100%;
    max-width: 1240px;
    // height: 145px;
    height: 100px;

    @media(max-width: 1199px) {
        // height: 280px;
        // height: 230px;
    }
}

.slide-item {
    text-align: center;

    a {
        &:nth-child(1) {
            @media(max-width: 1199px) {
                display: block;
                margin-bottom: 65px;
            }
        }
    }
}

.fa-arrow-left {
    background: linear-gradient(56.57deg, $hailey_blue 0%, $thick_purple 51.56%, $spicy_pink 105.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-arrow-right {
    background: linear-gradient(56.57deg, $hailey_blue 0%, $thick_purple 51.56%, $spicy_pink 105.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.swiper-button-next {
    background-color: $white;
    width: 36px !important;
    height: 36px !important;
    /* background: #FFFFFF; */
    box-shadow: -4px -4px 4px rgba(117, 117, 117, 0.25), 0px 4px 14px $live_jazz;
    border-radius: 100%;
    right: -20px !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-next,
.swiper-button-prev {
    top: 46% !important;
}

.swiper-button-prev {
    background-color: $white;
    width: 36px !important;
    height: 36px !important;
    /* background: #FFFFFF; */
    box-shadow: -4px -4px 4px rgba(117, 117, 117, 0.25), 0px 4px 14px $live_jazz;
    border-radius: 100%;
    left: -20px !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '' !important;
}

.swiper-container {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
}

.swiper-pagination-bullet-active {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 9px)) !important;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 9px)) !important;
    background: linear-gradient(56.57deg, $hailey_blue 0%, $thick_purple 51.56%, $spicy_pink 105.28%) !important;
}

@media(max-width: 1240px) {
    .swiper-icons {
        width: 80%;
    }

    .swiper-container {
        width: 100%;
    }

    .swiper-button-next {
        right: 15px !important;
    }

    .swiper-button-prev {
        left: 15px !important;
    }
}

/* select styles */
.justselect {
    display: none;

    &-body-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 1;
    }

    &-wrapper {
        position: relative;
        width: 100%; //300px;
    }

    &-title {
        width: 100%; //300px;
        height: 55px;
        // background: white;
        background-color: #313643;
        color: $white;
        border: 1px solid #474c5a;
        text-align: left;
        outline: none;
        background-image: url(../svg/select_arrow.svg);
        background-repeat: no-repeat;
        background-position: bottom calc(50% - 4px) right 25px;
        cursor: pointer;
        border-radius: 4px;
        box-sizing: border-box;
        padding-left: 25px;
        padding-top: 27px;
        padding-bottom: 10px;
        // border: none;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        // color: $black;

        &--inline {}
    }

    &-list {
        position: absolute;
        left: 0;
        top: 53.5px;
        width: 100%;
        list-style: none;
        padding: 0;
        border-radius: 0 0 4px 4px;
        -webkit-box-shdow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        // display: none;
        z-index: 100;
        overflow: hidden;
        margin: 0;
        font-size: 16px;

        &.active {
            display: block;
        }

        li {
            line-height: normal;
            cursor: pointer;
            text-align: left;
            padding: 20px 15px;
            // background: $white;
            // color: $black;
            background-color: #313643;
            color: $white;
            font-weight: 600;
            border-bottom: 1px solid $black_flame;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.btn-view-all {
    font-weight: 600;
    cursor: pointer;
    width: 207px;
    height: 45px;
    background: $navy_blazer;
    border: 1px solid $black_river_falls;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;

    &:hover {
        background: $black_river_falls;
    }

    &-a {
        padding-top: 60px;
        width: 207px;
        margin: 0 auto;
        text-decoration: none;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1024px) {
            padding-top: 20px;
        }

        &:hover {
            color: $white;
        }
    }
}

/* checkox */
.checkbox {
    position: relative;
    margin-bottom: 1rem;

    &__input {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;

        &:checked {
            &+.checkbox__label {
                &::before {
                    /* background-color: #49d120; */
                    background: linear-gradient(56.57deg,
                            $hailey_blue 0%,
                            $thick_purple 51.56%,
                            $spicy_pink 105.28%);

                    border-color: $kingly_cloud;
                }

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    &__label {
        padding-left: 42px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        line-height: 32px;
        user-select: none;

        &::before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            border: 2px solid $kingly_cloud;
            background-color: $white;

            position: absolute;
            top: 5px;
            left: 0;
            z-index: 1;

            transition: background 0.1s linear, border 0.1s linear;
        }

        &::after {
            content: "";
            display: block;
            width: 24px;
            height: 24px;

            background: url("../svg/check.svg") no-repeat;
            background-size: 18px 16px;
            opacity: 0;

            position: absolute;
            top: 9px;
            left: 3px;
            z-index: 2;

            transition: opacity 0.1s linear;
        }

        a {
            text-decoration: none;
        }
    }
}

#toTop {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 90px;
    /* отступ кнопки от нижнего края страницы*/
    right: 30px;
    cursor: pointer;
    display: none;
    color: $carbon;
    border: 2px solid $atlantic_charter;
    background: $noble_black;
    border-radius: 100%;
    font-family: verdana;
    font-size: 11px;
    z-index: 999;

    img {
        transform: rotate(180deg);
        width: 100%;
    }
}

.notify_close {
    position: absolute;
    right: 13px;
    top: 10px;
    height: 12px;
    cursor: pointer;
}

.user_rating {
    display: inline-block;
    background: url('../svg/rating_heart.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 33px;
    height: 29px;
    line-height: 28px;
    font-size: 9px;
    font-weight: 600;
    color: #40F2D0;
}

/* audio/video player */
.controls {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
    padding: 5px 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.audio_container {
    position: relative;
    width: 100%;

    .controls {
        background: #232733;
        border-radius: 10px;
        padding: 15px 0;
        position: relative;
    }
}

.playpause {
    padding: 0 5px;
    font-size: 12pt;
    text-transform: uppercase;
    height: 16px;
    cursor: pointer;
    margin: 0 10px;
}

.progress_player {
    width: 100%;
    margin-right: 10px;

    span {
        display: inline-block;
        text-align: start;
    }
}

.total_player {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border-radius: 10px;
    display: flex !important;
    overflow: hidden;
}

.current {
    background: linear-gradient(145.74deg, #CC5CDA 0%, #454FCE 98.08%);
    border-radius: 10px;
    line-height: 0;
    height: 24px;
    transition: 0.6s;
}

.video_container {
    position: relative;
    width: 100%;
    // height: 250px;

    .current {
        height: 10px;
    }

    video {
        width: 100%;
        // height: 100%;
        height: auto;
        max-height: 100%;
    }
}

.video_sign {
    position: absolute;
    top: 7px;
    left: 5px;
    width: 34px;
    height: 29px;
    background: no-repeat url("../svg/sections/news_video_inactive.svg") center/100%;
}

.time {
    color: #E5E5E5;
    font-size: 11px;
    display: flex;
    margin-right: 10px;
    width: 95px;
    word-break: keep-all;
}

.dynamic {
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.player_fullsize {
    margin-right: 10px;

    img {
        height: 15px;
        cursor: pointer;
    }
}

.page-content {
    background-color: #232733;
    padding-bottom: 30px;
    padding-top: 1px;
}

.c-page {
    padding: 20px 0;
    background: $infinity3;

    &__title {
        display: flex;
        align-items: center;
        margin: 0 0 15px;
        padding: 0 20px;
        font-family: $base_font, Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 43px;
        color: $white;
    }
}

.c-container {
    width: 100%;
    padding: 0 10px;
}

.c-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.c-date {
    position: absolute;
    bottom: -10px;
    font-size: 9px;
    color: #B1B7CE;
}

.c-text {

    &--error {
        background: linear-gradient(225deg, #FF7272 0%, #D93030 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &--green {
        background: #32DE80;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.c-button {
    border: none;
    cursor: pointer;

    &--file {
        width: 100%;
        height: 48px; //60px;
        padding: 2px;
        border-radius: 5px; // 15px;
        background: linear-gradient(160deg, #C126CE 42.19%, #284CCB 100%);
        margin: 0;
        cursor: pointer;

        &:hover {

            .c-button {

                &__container {
                    background: none;
                }
            }
        }


        .c-button {

            &__field {
                display: none !important;
            }

            &__container {
                display: flex;
                height: 100%;
                width: 100%;
                text-align: center;
                border-radius: 5px; //15px;
                background: #202432;
                transition: 1s;
            }

            &__title {
                line-height: 60px;
                color: #ffffff;
                font-weight: 600;
                font-size: 22px;
            }

            &__icon {
                margin: auto;
            }
        }
    }

    &--outline {
        width: 100%;
        height: 48px !important;
        padding: 2px;
        border-radius: 15px;
        background: linear-gradient(160deg, #C126CE 42.19%, #284CCB 100%);
        margin: 0 !important;
        border-radius: 5px !important;

        &[disabled] {
            background: $spaceman;
            cursor: default;
        }

        &:hover {

            .c-button {
                &__wrapper {
                    background: none;
                }
            }
        }

        &.clicked_button-type_1-part_1 {
            width: 100% !important;
            background: $spaceman  !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .clicked_button-type_1-part_2 {
            border-radius: 5px !important;
            background: #202432 !important;
            width: 100% !important;

            span {
                color: $white  !important;
            }
        }

        .c-button {

            &__wrapper {
                height: 100%;
                width: 100%;
                text-align: center;
                border-radius: 15px;
                background: #202432;
                transition: 1s;
                border-radius: 5px !important;

                span {
                    font-size: 22px;
                    line-height: 44px;
                    font-weight: 400;
                    color: $white;
                }
            }
        }
    }

    &--outline2 {
        display: block;
        width: 60%;
        margin: 0 auto;
        margin-top: 5px;
        height: 44px;
        line-height: 44px;
        padding: 1px;
        background: linear-gradient(56.57deg, $hailey_blue 0%, $thick_purple 51.56%, $spicy_pink 105.28%);
        border-radius: 5px;
        cursor: pointer;

        @media(max-width: 1199px) {
            margin-top: 20px;
        }

        &:hover {
            .c-button__wrapper {
                background: none;
            }
        }

        .c-button {

            &__wrapper {
                width: 100%;
                height: 100%;
                text-align: center;
                background: $prestige_blue;
                border-radius: 5px;
                transition: 0.7s;
            }
        }
    }

    &--primary {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 50px;
        margin-right: 10px;
        padding: 0 20px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 110%;
        color: #fff;
        text-align: center;
        text-decoration: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 6px;
        overflow: hidden;
        z-index: 1;

        &::after {
            position: absolute;
            content: "";
            display: inline-block;
            background: #3bade3;
            background: linear-gradient(45deg, #3bade3 0%, #576fe6 45%, #9844b7 57%, #ff357f 70%);
            height: 50px;
            width: 1500px;
            z-index: -1;
            -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
            transition: -webkit-transform 400ms ease-in;
            transition: transform 400ms ease-in;
            transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
            top: 0;
        }

        &:hover {
            &::after {
                -webkit-transform: translateX(5px);
                transform: translateX(5px);
            }
        }
    }

    &--primary2 {
        display: flex;
        border-radius: 10px;
        height: 67px;
        width: 100%;
        padding: 0;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 2px;
        cursor: pointer;
        z-index: 0;

        &::after {
            position: absolute;
            content: "";
            display: inline-block;
            background: #3bade3;
            background: linear-gradient(45deg,
                    #3bade3 0%,
                    #576fe6 25%,
                    #9844b7 51%,
                    #ff357f 100%);
            height: 67px;
            width: 1000px;
            z-index: -1;
            -webkit-transform: translateX(-542px); //translateX(-750px);
            transform: translateX(-542px); //translateX(-750px);
            transition: -webkit-transform 400ms ease-in;
            transition: transform 400ms ease-in;
            transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
        }

        &:hover {

            &::after {
                -webkit-transform: translateX(-327px);
                transform: translateX(-327px);
            }
        }

        .c-button {
            &__wrapper {
                color: #fff;
                position: relative;
                margin: auto;
            }
        }
    }

    &--secondary {
        filter: grayscale(1);
    }

    &--gray {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 207px;
        margin: 0 auto;
        text-decoration: none;
        color: #ffffff;
        background: none;

        .c-button {

            &__wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 207px;
                height: 45px;
                font-weight: 600;
                background: #292D3C;
                border: 1px solid #353C52;
                border-radius: 3px;
                transition: 0.6s;
                cursor: pointer;
            }
        }

        &:hover {

            .c-button {

                &__wrapper {
                    background: #353C52;
                }
            }
        }
    }

    &--inverse {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 207px;
        margin: 0 auto;
        text-decoration: none;
        color: $black;
        background: none;

        .c-button {
            &__wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 207px;
                height: 45px;
                font-weight: 600;
                background: $white;
                border: 1px solid lightgray;
                border-radius: 3px;
                transition: 0.6s;
                cursor: pointer;
            }
        }

        &:hover {

            .c-button {

                &__wrapper {
                    background: lightgray;
                }
            }
        }
    }

    &--gradient {
        position: relative;
        display: block;
        width: 120px;
        height: 50px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        letter-spacing: 1px;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        background-color: transparent;
        z-index: 0;

        &::after {
            position: absolute;
            content: "";
            top: 0;
            display: inline-block;
            background: #3bade3;
            background: linear-gradient(45deg,
                    #3bade3 0%,
                    #576fe6 25%,
                    #9844b7 51%,
                    #ff357f 100%);
            height: 50px;
            width: 240px;
            z-index: -1;
            -webkit-transform: translateX(-180px);
            transform: translateX(-180px);
            transition: -webkit-transform 400ms ease-in;
            transition: transform 400ms ease-in;
            transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
        }

        &:hover {
            &::after {
                -webkit-transform: translateX(-130px);
                transform: translateX(-130px);
            }
        }

        .c-button {

            &__text {
                font-size: 13px;
                color: $white;
                position: relative;
            }
        }

        @media(max-width: 464px) {
            height: 34px;
            // width: 95px;
        }
    }

    &--registration {
        display: flex;
        height: 50px;
        min-width: 186px;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        text-align: center;
        border-radius: 10px;

        border-style: solid;
        border-image: linear-gradient(45deg,
                #3bade3 0%,
                #576fe6 25%,
                #9844b7 51%,
                #ff357f 100%);
        border-image-slice: 1;
        border-width: 2px;

        &::after {
            position: absolute;
            content: "";
            display: inline-block;
            border-image: #3bade3;
            border-image: linear-gradient(45deg,
                    #3bade3 0%,
                    #576fe6 25%,
                    #9844b7 51%,
                    #ff357f 100%);

            height: 50px;
            width: 372px;
            z-index: -1;
            -webkit-transform: translateX(-280px);
            transform: translateX(-280px);
            transition: -webkit-transform 400ms ease-in;
            transition: transform 400ms ease-in;
            transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
        }

        &:hover {

            &::after {
                -webkit-transform: translateX(-200px);
                transform: translateX(-200px);
            }
        }

        .c-button {
            &__wrapper {
                color: #fff;
                position: relative;
                margin: auto;
            }
        }
    }

    &--gradient2 {
        position: relative;
        display: flex;
        height: 50px;
        width: 100%;
        padding: 0;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        text-align: center;
        border-radius: 10px;
        transition: 1s;
        overflow: hidden;
        z-index: 0;

        &::after {
            position: absolute;
            content: "";
            display: inline-block;
            background: #3bade3;
            background: linear-gradient(45deg,
                    #3bade3 0%,
                    #576fe6 25%,
                    #9844b7 51%,
                    #ff357f 100%);
            height: 50px;
            width: 888px;
            z-index: -1;
            -webkit-transform: translateX(-280px);
            transform: translateX(-280px);
            transition: -webkit-transform 400ms ease-in;
            transition: transform 400ms ease-in;
            transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
            left: 0;
        }

        &:hover {
            &::after {
                -webkit-transform: translateX(-200px);
                transform: translateX(-200px);
            }
        }

        .c-button {

            &__text {
                color: #fff;
                position: relative;
                margin: auto;
            }
        }
    }

    &--inactive {

        &::after {
            filter: grayscale(1);
        }

        .c-button {

            &__text {
                color: #BEBEBE;
            }
        }
    }

    &--toggler {
        background: linear-gradient(89.03deg, #679FEF 0.54%, #A87FFF 97.66%);
        width: 130px;
        height: 54px;
        margin-right: 10px;
        margin-bottom: 15px;
        margin-top: 15px;
        border: 0;
        border-radius: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 115%;
        color: #9A93BC;
        position: relative;
        background-color: transparent;
        z-index: 2;
        color: #FFFFFF;

        &:last-child {
            margin-right: 0;
        }

        &::before {
            content: ' ';
            height: 54px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            border-radius: 10px;
            background: linear-gradient(107.19deg, #5F479B 1.5%, rgba(40, 28, 71, 0.2) 109.67%);
            transition: 1s;
        }

        &.c-button--active {

            &::before {
                background: none !important;
            }

            &::after {
                background: none !important;
                content: ' '
            }
        }
    }

    &--animated {
        background: transparent;

        &::after {
            content: '';
            position: absolute;
            height: 10px;
            width: 10px;
            background: linear-gradient(45deg, #3bade3 0, #576fe6 25%, #9844b7 51%, #ff357f 100%);
            filter: blur(2px);
            border-radius: 50%;
            transform: translate(-50%, 50%);
            left: 0;
            bottom: 0;
            animation: animatedButton1 4s ease-in-out infinite;
        }

        &::before {
            content: '';
            position: absolute;
            height: 10px;
            width: 10px;
            background: linear-gradient(45deg, #3bade3 0, #576fe6 25%, #9844b7 51%, #ff357f 100%);
            filter: blur(2px);
            border-radius: 50%;
            transform: translate(-50%, 50%);
            right: 0;
            top: 0;
            animation: animatedButton2 4s ease-in-out infinite;
        }
    }

    &--comm {
        text-align: center;
        border-radius: 3px;
        display: block;
        min-height: 32px;
        width: max-content;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        font-weight: 600;
        background: transparent;
        border: none;
        padding-top: 0;

        &::after {
            position: absolute;
            top: 0;
            content: "";
            display: inline-block;
            background: #3bade3;
            background: linear-gradient(45deg, #3bade3 0%, #576fe6 10%, #9844b7 70%, #ff357f 90%);
            height: 55px;
            width: 440px;
            z-index: -1;
            -webkit-transform: translateX(-330px);
            transform: translateX(-330px);
            transition: -webkit-transform 400ms ease-in;
            transition: transform 400ms ease-in;
            transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
        }

        &:hover {
            &::after {
                -webkit-transform: translateX(-236px);
                transform: translateX(-236px);
            }
        }

        span {
            color: #fff;
        }
    }
}

@keyframes animatedButton1 {
    0% {
        left: 0;
        bottom: 0;
        transform: translate(-50%, 50%) rotate(0deg);
    }

    25% {
        left: 100%;
        bottom: 0;
        transform: translate(-50%, 50%) rotate(90deg);
    }

    50% {
        left: 100%;
        bottom: 100%;
        transform: translate(-50%, 50%) rotate(180deg);
    }

    75% {
        left: 0;
        bottom: 100%;
        transform: translate(-50%, 50%) rotate(270deg);
    }

    100% {
        left: 0;
        bottom: 0;
        transform: translate(-50%, 50%) rotate(360deg);
    }
}

@keyframes animatedButton2 {
    0% {
        right: 0;
        top: 0;
        transform: translate(50%, -50%) rotate(180deg);
    }

    25% {
        right: 100%;
        top: 0;
        transform: translate(50%, -50%) rotate(270deg);
    }

    50% {
        right: 100%;
        top: 100%;
        transform: translate(50%, -50%) rotate(360deg);
    }

    75% {
        right: 0;
        top: 100%;
        transform: translate(50%, -50%) rotate(450deg);
    }

    100% {
        right: 0;
        top: 0;
        transform: translate(50%, -50%) rotate(540deg);
    }
}

.c-groupbtn {
    position: relative;
    display: inline-flex;
    vertical-align: middle;

    input {

        &[hidden] {
            position: absolute;
            clip: rect(0, 0, 0, 0);
            pointer-events: none;

            &:checked {
                &+.c-button--outline {
                    color: #fff;
                    background: #0d6efd;
                    border-color: #0d6efd;
                }
            }
        }

        &[disabled] {
            &+.c-button {
                pointer-events: none;
                filter: none;
                opacity: .65;
            }
        }
    }

    .c-button {

        &:not(:last-child) {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        &:not(:nth-of-type(1)) {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }

        &--outline {
            color: #0d6efd;
            border: 1px solid #0d6efd;
            background: transparent;
            text-align: center;
            line-height: 1.5;
        }
    }

    &--lg {

        .c-button {
            padding: 0.5rem 1rem;
            font-size: 1.25rem;
            border-radius: 0.3rem;
        }
    }
}

.c-link {
    display: block;
    text-decoration: none;
    color: #ffffff;

    &__container {
        display: block;
        width: 60%;
        margin: 0 auto;
        margin-top: 5px;
        height: 44px;
        line-height: 44px;
        padding: 1px;
        background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
        border-radius: 5px;
        cursor: pointer;

        &:hover {

            .c-link__btn {
                background: none;
            }
        }
    }

    &__btn {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #313643;
        border-radius: 5px;
        transition: 0.7s;
    }

    &--gradient {

        .c-link {
            &__container {
                position: relative;

                &::after {
                    position: absolute;
                    left: 1px;
                    right: 1px;
                    top: 1px;
                    bottom: 1px;
                    background: #313643;
                    content: '';
                    border-radius: 5px;
                    transition: 0.7s;
                }

                &:hover {
                    &::after {
                        background: none;
                    }
                }
            }

            &__btn {
                position: relative;
                background: none;
                z-index: 2;
            }
        }
    }
}

.c-goback {
    z-index: 11111;
    text-decoration: none;
    cursor: pointer;

    &__arrow {
        filter: invert(70%) sepia(16%) saturate(191%) hue-rotate(199deg) brightness(99%) contrast(88%);

        @media (max-width: 1240px) {
            width: 7px !important;
            height: 13px;
        }
    }

    &__text {
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        color: #8A93AE;
        margin-left: 10px;
    }
}

.editblockinfo {
    display: none;
}

/* !!! Запрет выделения */
// body { -webkit-touch-callout: none !important; }
// a { -webkit-user-select: none !important; }
// *:not(input[type="text"]):not(input[type="password"]):not(input[type="number"]):not(textarea):not([contenteditable="true"]):not([contenteditable="true"] *):not(.playpause):not(video):not(.input-question):not(.userinfoinput):not(.editblockinfo):not(.message_notification):not(#toTop):not(#toTop img):not(.swiper-post_media_image_container > img) {
//     user-select: none !important;
//     -moz-user-select: none !important;
//     -webkit-user-select: none !important;
// }
// *[contenteditable="true"] {
//     user-select: auto;
//     -webkit-user-select: text;
// }
/* !!!end Запрет выделения */

.crop-container {

    .c-button {

        &--file {
            margin: 0;
        }
    }

    .img-container {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0;

        img {
            max-width: 100%;
        }
    }

    &+.alert {
        margin: 0;
        padding: 0;
        border-width: 0;

        &-success,
        &-error,
        &-warning {
            margin: 1rem 0;
            padding: 1rem;
            border-width: 1px;
        }
    }
}

.c-main {

    &__body {
        margin-top: 70px;

        &--noheader {
            margin-top: 0;
        }
    }

    &__wrapperbg {
        padding-top: 20px;
        // background: url("../svg/lines-two.svg") no-repeat;
        background-color: $infinity1;
        background-position: top -145px left 0px;

        @media(max-width: 1199px) {
            padding-top: 0;
        }

        &2 {
            padding-top: 60px;
            background: url("../svg/lines-three.svg") no-repeat;
            background-position: top 165px right 20px;
            margin-bottom: 20px;

            @media(max-width: 1240px) {
                padding-top: 0;
            }

            @media(max-width: 1024px) {
                padding-top: 0;
            }
        }

        &3 {}
    }
}

@media(max-width: 1240px) {
    .page-content {
        padding: 1px 30px 30px 30px;
    }
}

@media(max-width: 1024px) {
    .page-content {

        &--full {
            padding: 1px 0 30px 0;
        }
    }
}

@media(max-width: 767px) {
    .page-content {
        padding: 1px 20px 30px 20px;

        &--full {
            padding: 1px 0 30px 0; //1px 20px 30px 20px;
        }
    }
}

@media(min-width: 768px) {
    .c-container {
        width: calc(100% - 60px);
        margin-left: auto;
        margin-right: auto;
    }

    .c-page {
        padding: 35px 0 96px;

        &__title {
            margin-bottom: 30px;
            font-size: 28px;
            line-height: 43px;
        }
    }
}

@media(min-width: 1240px) {
    .c-container {
        max-width: 1240px;
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .c-page {
        padding: 60px 0 177px;

        &__title {
            margin-bottom: 40px;
            font-size: 32px;
            line-height: 43px;
        }
    }
}

//BLOCKS
@import 'blocks/header.scss';
@import 'blocks/userNotificationsBlock.scss';
@import 'blocks/userPageNotify.scss';
@import 'blocks/preview.scss';
@import 'blocks/projects.scss';
@import 'blocks/modals.scss';
@import 'blocks/indexContent.scss';
@import 'blocks/indexQuestions.scss';
@import 'blocks/questions.scss';
@import 'blocks/startaps.scss';
@import 'blocks/cryptoExchanges.scss';
@import 'blocks/listExchangeOffices.scss';
@import 'blocks/topProfessionals.scss';
@import 'blocks/news.scss';
@import 'blocks/footer.scss';
@import 'blocks/friends.scss';
@import 'blocks/messages.scss';
@import 'blocks/partners.scss';
/* User */
@import 'blocks/userMain.scss';
@import 'blocks/userProfileList.scss';
/* Chats */
@import 'blocks/chats.scss';
/* Settings */
@import 'blocks/userSettings.scss';
/* Edit post */
@import 'blocks/post.scss';
/* Affiliate */
@import 'blocks/affiliate.scss';
/* Lenta */
@import 'blocks/lenta.scss';
/* Contacts */
@import 'blocks/contacts.scss';
/* University */
@import 'blocks/university.scss';
/* Blog */
@import 'blocks/blog.scss';
/* About us */
@import 'blocks/aboutUs.scss';
/* Terms of service */
@import 'blocks/terms.scss';
/* Career whith us */
@import 'blocks/jobs.scss';
/* 404 */
@import 'blocks/error404.scss';
/* Wallet */
@import 'blocks/wallet.scss';
/* Cropper Image */
@import 'blocks/cropper.scss';