.container-social {

    max-width: 1240px;
    margin: 0px auto;

    .H1 {
        display: flex;
        justify-content: center;
        font-size: 40px;
        padding-top: 10px;
    }
}

.block-section {
    //background: rgba(255, 255, 255, 0.11);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 25px;
    margin: 0 15px;

    .H3 {
        padding-bottom: 40px;
        padding-top: 25px;
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
}

.btns-wrap-1 {
    display: grid;
    //grid-template-columns: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;




    .btn-item_img {

        // justify-self: start-left;
        width: 25px;
        height: auto;

    }

    .btn-item_img-flag {
        // justify-items: end;
        // justify-self: self-end;
        width: 25px;
        height: auto;
    }

    .btn-item {
        background: linear-gradient(89.03deg, #2c66b8 0.54%, #8859ec 97.66%);
        padding: 10px;
        border-radius: 8px;
        height: 45 px;
        text-decoration: none;
        color: #FFFFFF;
        display: flex;
        text-align: center;
        justify-content: space-between;
        font-size: 20px;
    }
}

//}
.btn-item-2 {
    //max-width: 600px;
    // min-height: 185px;
    background: rgba(255, 255, 255, 0.11);
    padding: 10px;
    border-radius: 8px;
    // height: 45px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    //justify-content: center;
    text-align: center;
    //justify-content: space-between;
    font-size: 20px;



}

.block-section-2 {
    padding: 15px;
    border-radius: 8px;
    margin: 0 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 1240px;
    position: relative;
    //outline-style: solid;
    border-color: linear-gradient(89.03deg, #2c66b8 0.54%, #8859ec 97.66%);

    .H3 {
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding-bottom: 30px;
    }

    .p1 {
        //max-width: 500px;
        height: 118px;
        margin-top: 10px;
        font-size: 15px;
        text-indent: 1.5em;
        text-align: justify;
        -webkit-line-clamp: 5;
        //display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .btns-wrap-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);
        grid-gap: 15px;

        &.btns-wrap-small {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-gap: 15px;

            .btn-item_img-2 {
                display: flex;
                //align-self: center;
                //width: 90px;
                height: 70px;
                float: left;
                margin: 7px 7px 7px 0px;

            }



            .btn-small {
                display: grid;
                grid-template-columns: 1fr 6fr;
                margin-top: 15px;
            }
        }

        .SP2 {
            font-size: 1.25rem;
            //display: grid;
            //grid-template-columns: 1fr;
            //justify-content: center;
            //height: 30px;
        }

        .btn-item_img-2 {
            // justify-self: start-left;
            // width: 90px;
            height: 70px;
            float: left;
            margin: 7px 7px 7px 0px;

        }

        .btn-item_img-flag {
            // justify-items: end;
            // justify-self: self-end;
            width: 25px;
            height: auto;
        }


    }

}

#con1___1 {
    width: 5%
}

#con2___2 {
    width: 95%
}

.btn-item-3 {
    //max-width: 600px;
    min-height: 185px;
    height: 250px;

    background: rgba(255, 255, 255, 0.11);
    padding: 10px;
    border-radius: 8px;
    // height: 45px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    //justify-content: space-between;
    font-size: 20px;

    //display: grid;
    //grid-template-columns: 1fr 1fr;
    //grid-template-rows: 1fr 1fr;
    .apps-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.block-section-3 {

    padding: 15px;
    border-radius: 8px;
    margin: 0 15px;
    margin-bottom: 25px;
    max-width: 1240px;
    //height: 400px;
    position: relative;
    //outline-style: solid;
    border-color: linear-gradient(89.03deg, #2c66b8 0.54%, #8859ec 97.66%);

    .go-apps {
        width: 150px;
        display: flex;
        align-self: flex-end;
        justify-self: center;

    }

    .H3 {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    .P2 {
        //max-width: 450px;
        text-indent: 1.5em;
        text-align: justify;
        font-size: 15px;
        height: 120px;
        margin-top: 10px;
        -webkit-line-clamp: 3;
        //display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .btns-wrap-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;



        .btn-item_img-3 {
            // justify-self: start-left;
            width: 90px;
            height: 90px;
            float: left;
            margin: 7px 7px 7px 0px;
        }

        .btn-item_img-flag {
            // justify-items: end;
            // justify-self: self-end;
            width: 25px;
            height: auto;
        }

    }

}

@media(max-width: 992px) {
    .block-section-2 {

        margin: 0 15px;
        margin-bottom: 10px;

        .btns-wrap-2 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            // .btn-item_img {
            //     width: 50px;
            //     height: 50px;
            // }
            &.btns-wrap-small {
                grid-template-columns: 1fr;
                grid-template-rows: auto;

                .btn-item_img-2 {
                    display: flex;
                    align-self: center;
                    //width: 50px;
                    height: 50px;
                    float: left;
                    margin: 10px 7px 7px 10px;
                }



            }

        }

        .p1 {
            font-size: 14px;
            margin: 0 10px;
            height: 70px;

            .btn-item_img-2 {
                width: 50px;
                height: 50px;
                float: left;
                margin: 0px 7px 7px 0;
            }
        }
    }

    .block-section-3 {
        margin: 0 15px;
        margin-top: 10px;
        margin-bottom: 10px;

        .btns-wrap-3 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            // .btn-item_img {
            //     width: 50px;
            //     height: 50px;
            // }
        }



        .P2 {
            font-size: 14px;
            margin: 0 10px;
            height: 68px;

            .btn-item_img-3 {
                width: 50px;
                height: 50px;
                float: left;
                margin: 7px 7px 7px 0;
            }
        }

        .btn-item-3 {
            height: 122px;
        }
    }


}

@media(min-width:670px) and (max-width:990px) {
    .btns-wrap-1 {
        grid-template-columns: 1fr;
    }

    .block-section-2 {
        margin: 0 15px;
        margin-bottom: 10px;

        .btns-wrap-2 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            //max-width: 980px;
            //max-height: 200px;  

            // .btn-item_img {
            //     width: 50px;
            //     height: 50px;
            // }
            &.btns-wrap-small {
                grid-template-columns: 1fr;
                grid-template-rows: auto;

                .btn-item_img-2 {
                    display: flex;
                    align-self: center;
                    width: 50px;
                    height: 50px;
                    float: left;
                    margin: 10px 7px 7px 10px;
                }



            }
        }

        .p1 {
            font-size: 14px;
            margin: 0 10px;
            height: 70px;

            .btn-item_img-2 {
                width: 50px;
                height: 50px;
                float: left;
                margin: 0px 7px 7px 0;
            }
        }
    }

    .block-section-3 {
        .btns-wrap-3 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            .btns-wrap-3 {
                grid-template-columns: 1fr;
                grid-template-rows: auto;

                // .btn-item_img {
                //     width: 50px;
                //     height: 50px;
                // }
            }


            .P2 {
                font-size: 14px;
                margin: 0 10px;
                height: 68px;

                .btn-item_img-3 {
                    width: 50px;
                    height: 50px;
                    float: left;
                    margin: 7px 7px 7px 0;
                }
            }

            .btn-item-3 {
                height: 122px;
            }
        }
    }
}

@media(max-width: 767px) {
    .btns-wrap-1 {
        grid-template-columns: 1fr;
    }

    .btns-wrap-2 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;


        // .btn-item_img {
        //     width: 50px;
        //     height: 50px;
        // }
        &.btns-wrap-small {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            .btn-item_img-2 {
                display: flex;
                align-self: center;
                width: 50px;
                height: 50px;
                float: left;
                margin: 10px 7px 7px 10px;
            }



        }
    }

    .p1 {
        font-size: 14px;
        margin: 0 10px;
        height: 70px;

        .btn-item_img-2 {
            width: 50px;
            height: 50px;
            float: left;
            margin: 0px 7px 7px 0;
        }
    }

    .btn-item-2 {
        height: 122px;
    }

    .block-section-3 {
        .btns-wrap-3 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;



            .P2 {
                font-size: 14px;
                margin: 0 10px;
                height: 68px;

                .btn-item_img-3 {
                    width: 50px;
                    height: 50px;
                    float: left;
                    margin: 7px 7px 7px 0;
                }
            }

            .btn-item-3 {
                height: 122px;
            }
        }
    }
}

@media(max-width: 464px) {
    .btns-wrap-1 {
        grid-template-columns: 1fr;
    }

    .block-section-2 {
        .btns-wrap-2 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            &.btns-wrap-small {
                grid-template-columns: 1fr;
                grid-template-rows: auto;

                .btn-item_img-2 {
                    display: flex;
                    align-self: center;
                    width: 50px;
                    height: 50px;
                    float: left;
                    margin: 10px 7px 7px 10px;
                }



            }

        }

        .p1 {
            font-size: 14px;
            margin: 0 10px;
            height: 70px;

            .btn-item_img-2 {
                width: 50px;
                height: 50px;
                float: left;
                margin: 0px 7px 7px 0;
            }
        }

        .btn-item-2 {
            height: 122px;
        }




    }

    .block-section-3 {
        .btns-wrap-3 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;



            .P2 {
                font-size: 14px;
                margin: 0 10px;
                height: 68px;

                .btn-item_img-3 {
                    width: 50px;
                    height: 50px;
                    float: left;
                    margin: 7px 7px 7px 0;
                }
            }

            .btn-item-3 {
                height: 122px;
            }
        }
    }
}



.conteiner-game {
    max-width: 1240px;
    margin: 0px auto;
}

.start__pr {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #8859ec;
    padding-top: 15px;
    padding-bottom: 15px;
    animation-duration: 3s;
    animation-name: slideinnn;
}

@keyframes slideinnn {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.start__game {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #8859ec;
    padding-top: 15px;
    padding-bottom: 15px;
    animation-duration: 6s;
    animation-name: slideinnn;
}

.stats_main {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.stats_1 {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr;

}

.stats_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.stats_view_pr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.stats_view {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(221, 212, 212);
    //outline-style: solid;

}

.btn_change_way {
    background: linear-gradient(89.03deg, #2c66b8 0.54%, #3926eb, #5036ad, #8859ec 97.66%);
    background-size: 400% 400%;
    animation: gradienttt 4s ease infinite;
    transform: translate3d(0, 0, 0);


    border-radius: 8px;
    text-align: center;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-style: oblique;
    color: cyan;
}

.btn_game_with_friend {
    background: linear-gradient(89.03deg, #2c66b8 0.54%, #3926eb, #5036ad, #8859ec 97.66%);
    background-size: 400% 400%;
    animation: gradienttt 4s ease infinite;
    transform: translate3d(0, 0, 0);


    border-radius: 8px;
    text-align: center;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-style: oblique;
    color: cyan;
}

.st-gm {
    //не используется
    background: linear-gradient(89.03deg, #2c66b8 0.54%, #8859ec 97.66%);
    padding: 13px;
    border-radius: 8px;

    height: 50 px;
    //text-decoration: none;
    color: #FFFFFF;
    //display: flex;
    text-align: center;
    //justify-content: space-between;
    font-size: 20px;
}

.one_game {
    display: flex;
    justify-content: center;
    height: auto;
}


.wi_lo {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.block__size__1 {
    border: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;

    //border-color: linaer-gradient(89.03deg, #2c66b8 0.54%,#3926eb,#5036ad, #8859ec 97.66%);
    width: 150px;
    height: auto;
}

.diz-gm {
    display: flex;
    justify-content: center;
    align-content: center;
    color: random($limit: 10);
    fill: #8859ec;
    width: 140px;
    height: auto;

    filter: invert(77%) sepia(19%) saturate(1363%) hue-rotate(138deg) brightness(97%) contrast(82%);

}

.restart_game {
    display: flex;
    justify-content: center;
    border-radius: 8px;

}

.btn_reset_gm {
    background: linear-gradient(89.03deg, #2c66b8 0.54%, #3926eb, #5036ad, #8859ec 97.66%);
    background-size: 400% 400%;
    animation: gradienttt 4s ease infinite;
    transform: translate3d(0, 0, 0);


    border-radius: 8px;
    text-align: center;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-style: oblique;
    color: cyan;
}

@keyframes gradienttt {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#field {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    width: 450px;
    height: 450px;
    border: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    background: linear-gradient(to top, red, purple);
    // border-color: linaer-gradient(89.03deg, #2c66b8 0.54%,#3926eb,#5036ad, #8859ec 97.66%);
    //text-align: center;
    //font-weight: bold;
}

#modalsetin {
    padding-top: 140px;
    font-size: 25px;
    color: #8859ec;
    height: auto;
    text-align: center;
    //     animation-duration: 1s;
    //   animation-name: slidein;
}

.one_game_sea_war {
    display: flex;
    justify-content: space-around;
    height: auto;
}

#field_sea_war {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
    width: 600px;
    height: 600px;
    border: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    //background: linear-gradient(to top, red, purple);
    // border-color: linaer-gradient(89.03deg, #2c66b8 0.54%,#3926eb,#5036ad, #8859ec 97.66%);
    //text-align: center;
    //font-weight: bold;
    position: relative;
    overflow: hidden;
}

.block_size_sea_war {
    border: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;

    //border-color: linaer-gradient(89.03deg, #2c66b8 0.54%,#3926eb,#5036ad, #8859ec 97.66%);
    width: 60px;
    height: auto;
}

#ship4 {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 3fr;
    width: 240px;
    height: 60px;
    border: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    //background: linear-gradient(to top, red, purple);
    // border-color: linaer-gradient(89.03deg, #2c66b8 0.54%,#3926eb,#5036ad, #8859ec 97.66%);
    //text-align: center;
    //font-weight: bold;
    position: relative;
    overflow: hidden;
}

#ship3 {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr;
    width: 180px;
    height: 60px;
    border: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    //background: linear-gradient(to top, red, purple);
    // border-color: linaer-gradient(89.03deg, #2c66b8 0.54%,#3926eb,#5036ad, #8859ec 97.66%);
    //text-align: center;
    //font-weight: bold;
    position: relative;
    overflow: hidden;
}
#ship2 {
    display: grid;
    grid-template-columns: 3fr 3fr ;
    grid-template-rows: 3fr;
    width: 120px;
    height: 60px;
    border: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    //background: linear-gradient(to top, red, purple);
    // border-color: linaer-gradient(89.03deg, #2c66b8 0.54%,#3926eb,#5036ad, #8859ec 97.66%);
    //text-align: center;
    //font-weight: bold;
    position: relative;
    overflow: hidden;
}
#ship1 {
    display: grid;
    grid-template-columns: 3fr  ;
    grid-template-rows: 3fr;
    width: 60px;
    height: 60px;
    border: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    //background: linear-gradient(to top, red, purple);
    // border-color: linaer-gradient(89.03deg, #2c66b8 0.54%,#3926eb,#5036ad, #8859ec 97.66%);
    //text-align: center;
    //font-weight: bold;
    position: relative;
    overflow: hidden;
}


.colorbackall {
    background-color: #8859ec;
}

.colornull {
    background-color: #414043;
}

.colorbackall2 {
    background-color: blue;
}

.ship {
    width: 100px;
    height: 100px;
    transition: 0.01s linear;
    //position:absolute;
    
}

.ship-4 {
    background-color: #FFFFFF;
}
.ship-3{
     background-color: yellow;
}

.ship-2{
    background-color: greenyellow;
}

.ship-1{
     background-color: black;
     
}
