.container-social {

    max-width: 1240px;
    margin: 0px auto;

    .H1 {
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding-top: 10px;
    }
}

.block-section {
    background: rgba(255, 255, 255, 0.11);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 25px;

    .H3 {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
}

.btns-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;




    .btn-item_img {
        // justify-self: start-left;
        width: 25px;
        height: auto;
    }

    .btn-item_img-flag {
        // justify-items: end;
        // justify-self: self-end;
        width: 25px;
        height: auto;
    }

    .btn-item {
        background: linear-gradient(89.03deg, #2c66b8 0.54%, #8859ec 97.66%);
        padding: 10px;
        border-radius: 8px;
        height: 45 px;
        text-decoration: none;
        color: #FFFFFF;
        display: flex;
        text-align: center;
        justify-content: space-between;
        font-size: 20px;
    }
}