.container-social {

    max-width: 1240px;
    margin: 0px auto;

    .H1 {
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding-top: 10px;
    }
}

.block-section {
    background: rgba(255, 255, 255, 0.11);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 25px;

    .H3 {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
}

// @media (max-width:750px) {
//     .btns-wrap {


//         grid-template-columns: 1fr;
//     }
// }
//@media screen and (max-width:750px) {
.btns-wrap-1 {
    display: grid;
    //grid-template-columns: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;




    .btn-item_img {
        // justify-self: start-left;
        width: 25px;
        height: auto;

    }

    .btn-item_img-flag {
        // justify-items: end;
        // justify-self: self-end;
        width: 25px;
        height: auto;
    }

    .btn-item {
        background: linear-gradient(89.03deg, #2c66b8 0.54%, #8859ec 97.66%);
        padding: 10px;
        border-radius: 8px;
        height: 45 px;
        text-decoration: none;
        color: #FFFFFF;
        display: flex;
        text-align: center;
        justify-content: space-between;
        font-size: 20px;
    }
}

//}
.btn-item-2 {
    //max-width: 600px;
    // min-height: 185px;
    background: rgba(255, 255, 255, 0.11);
    padding: 10px;
    border-radius: 8px;
    // height: 45px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    //justify-content: space-between;
    font-size: 20px;

}

.block-section-2 {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    max-width: 1240px;
    position: relative;
    outline-style: solid;
    border-color: linear-gradient(89.03deg, #2c66b8 0.54%, #8859ec 97.66%);

    .H3 {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    .p1 {
        //max-width: 500px;
        height: 120px;
        margin-top: 10px;

        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .btns-wrap-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 200px);
        grid-gap: 15px;

        .SP2 {

            //justify-content: center;
            //height: 30px;
        }

        .btn-item_img-2 {
            // justify-self: start-left;
            width: 90px;
            height: 90px;
            float: left;
            margin: 7px 7px 7px 0px;

        }

        .btn-item_img-flag {
            // justify-items: end;
            // justify-self: self-end;
            width: 25px;
            height: auto;
        }


    }

}

.btn-item-3 {
    //max-width: 600px;
    min-height: 185px;
    height: 250px;
    background: rgba(255, 255, 255, 0.11);
    padding: 10px;
    border-radius: 8px;
    // height: 45px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    //justify-content: space-between;
    font-size: 20px;

    //display: grid;
    //grid-template-columns: 1fr 1fr;
    //grid-template-rows: 1fr 1fr;
    .apps-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.block-section-3 {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 25px;
    max-width: 1240px;
    //height: 400px;
    position: relative;
    outline-style: solid;
    border-color: linear-gradient(89.03deg, #2c66b8 0.54%, #8859ec 97.66%);

    .go-apps {
        width: 150px;
        display: flex;
        align-self: flex-end;
        justify-self: center;

    }

    .H3 {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    .P2 {
        //max-width: 450px;
        height: 120px;
        margin-top: 10px;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .btns-wrap-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;



        .btn-item_img-3 {
            // justify-self: start-left;
            width: 90px;
            height: 90px;
            float: left;
            margin: 7px 7px 7px 0px;
        }

        .btn-item_img-flag {
            // justify-items: end;
            // justify-self: self-end;
            width: 25px;
            height: auto;
        }

    }

}

@media(max-width: 992px) {
    .block-section-2 {
        margin: 0 15px;
        margin-bottom: 10px;

        .btns-wrap-2 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            // .btn-item_img {
            //     width: 50px;
            //     height: 50px;
            // }
        }

        .p1 {
            font-size: 14px;
            margin: 0 10px;
            height: 70px;

            .btn-item_img-2 {
                width: 50px;
                height: 50px;
                float: left;
                margin: 0px 7px 7px 0;
            }
        }
    }

    .block-section-3 {
        margin: 0 15px;
        margin-top: 10px;
        margin-bottom: 10px;

        .btns-wrap-3 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            // .btn-item_img {
            //     width: 50px;
            //     height: 50px;
            // }
        }



        .P2 {
            font-size: 14px;
            margin: 0 10px;
            height: 70px;

            .btn-item_img-3 {
                width: 50px;
                height: 50px;
                float: left;
                margin: 7px 7px 7px 0;
            }
        }

        .btn-item-3 {
            height: 122px;
        }
    }


}

@media(min-width:670px) and (max-width:990px) {
    .block-section-2 {
        margin: 0 15px;
        margin-bottom: 10px;

        .btns-wrap-2 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            //max-width: 980px;
            //max-height: 200px;  

            // .btn-item_img {
            //     width: 50px;
            //     height: 50px;
            // }
        }

        .p1 {
            font-size: 14px;
            margin: 0 10px;
            height: 70px;

            .btn-item_img-2 {
                width: 50px;
                height: 50px;
                float: left;
                margin: 0px 7px 7px 0;
            }
        }
    }

    .block-section-3 {
        .btns-wrap-3 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            .btns-wrap-3 {
                grid-template-columns: 1fr;
                grid-template-rows: auto;

                // .btn-item_img {
                //     width: 50px;
                //     height: 50px;
                // }
            }


            .P2 {
                font-size: 14px;
                margin: 0 10px;
                height: 70px;

                .btn-item_img-3 {
                    width: 50px;
                    height: 50px;
                    float: left;
                    margin: 7px 7px 7px 0;
                }
            }

            .btn-item-3 {
                height: 122px;
            }
        }
    }
}

@media(max-width: 767px) {
    .btns-wrap-2 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;


        // .btn-item_img {
        //     width: 50px;
        //     height: 50px;
        // }
    }

    .p1 {
        font-size: 14px;
        margin: 0 10px;
        height: 70px;

        .btn-item_img-2 {
            width: 50px;
            height: 50px;
            float: left;
            margin: 0px 7px 7px 0;
        }
    }

    .btn-item-2 {
        height: 122px;
    }

    .block-section-3 {
        .btns-wrap-3 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;



            .P2 {
                font-size: 14px;
                margin: 0 10px;
                height: 70px;

                .btn-item_img-3 {
                    width: 50px;
                    height: 50px;
                    float: left;
                    margin: 7px 7px 7px 0;
                }
            }

            .btn-item-3 {
                height: 122px;
            }
        }
    }
}

@media(max-width: 464px) {
    .btns-wrap-1 {
        grid-template-columns: 1fr;
    }

    .block-section-2 {
        .btns-wrap-2 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;


        }

        .p1 {
            font-size: 14px;
            margin: 0 10px;
            height: 70px;

            .btn-item_img-2 {
                width: 50px;
                height: 50px;
                float: left;
                margin: 0px 7px 7px 0;
            }
        }

        .btn-item-2 {
            height: 122px;
        }




    }

    .block-section-3 {
        .btns-wrap-3 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;



            .P2 {
                font-size: 14px;
                margin: 0 10px;
                height: 70px;

                .btn-item_img-3 {
                    width: 50px;
                    height: 50px;
                    float: left;
                    margin: 7px 7px 7px 0;
                }
            }

            .btn-item-3 {
                height: 122px;
            }
        }
    }
}