:root {
  --main-gradient: linear-gradient(56.57deg, #2973ff 0%, #8846d3 45.56%, #ff22ac 65.28%);
  --dark-blue1: #30374C; // use modals
  --dark-blue2: #2f2d3d;
  --text-fiolet: #8846d3;
  // text
  --main-text: #FFFFFF;
  --fiolet: #8846d3;
  // for cards
  --card-default: #313643;
}