$fiolet: linear-gradient(89.03deg, #2c66b8 0.54%, #8859ec 97.66%);

.container-voice{
    padding-top: 80px;
    max-width: 1240px;
    margin: 0px auto;

}
.voice-title{
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    
    
}
.btns-wrap{
    display: grid;
grid-template-columns: 1fr 1fr 3fr;
grid-gap: 8px;
grid-area: auto;
display: flex;
justify-content: space-between;
}
.voice-inner{
    background: rgba(255, 255, 255, 0.11);
    padding: 15px;
    border-radius: 15px;

    .list-voice{
        list-style-type: decimal!important;
    }

    .list-el{
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        list-style-type: decimal;

        span {
            width: 200px;
        }
    }
    .list-el::marker{
        list-style-type: decimal;
    }
    .checkbox-train{
        width: 20px;
        height: 20px;
        margin-left: 15px;
    }
    .wrap-btn{
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .btn{
        background: $fiolet;
        border-radius: 10px;
        outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
        padding: 15px;
        border: 5px solid #FFFFFF;
        opacity: 0.5;
        color: #FFFFFF;
        background-color:#002ead;
      transition: 0.7s;
    }
    .btn:focus{
        background: rgb(159, 201, 226);
    }
    .btn:hover, .btn-checked{
        opacity: 1  ;
    }
    .name{
        text-align: center;
    }
    .description{
        text-align: center;

    }
    input:checked + .btn{
        opacity: 1;
    }
}
