.voting {
    margin-top: 100px;
    background: rgb(189, 183, 183)   ; 
}

.text {
    display:flex;
    justify-content: center;
    
}

.text {
    color:deeppink;
}

.Opis{
    text-align: end;
    font-size: 20px;
    color: #000000;
    padding: 17px 20px;
    font-size: 25px;
}

.city {
    display: block;
    font-size: 20px;
    color: #ffffff;
}

.list {
    font-size: 20px;
    color:blue;
}

.list-city {
    font-size: 20px;
    color:blue;
}
.voice{
    color: #ffffff;
    text-decoration: none;
    user-select: none;
    background: rgb(201, 33, 11);
    padding: 10px 15px;
    display:flex;
    justify-content: center;
    font-size: 22px;
}