.modal-exchange {
    &__subtitle {
        font-weight: 600;
    }

    &__section {
        display: flex;
        align-items: center;
        padding: 15px 10px;
        margin-bottom: 6px;
        border: 1px solid #404861;
        border-radius: 10px;

        &_title {
            margin-right: 8px;
        }

        &_name {
            font-size: 22px;
            font-weight: 500;
            margin-right: 8px;
            text-transform: uppercase;
        }

        input {
            width: 100%;
            margin-right: 10px;
            padding: 5px 10px;
            background: #313541;
            border: 1px solid #353C50;
            border-radius: 10px;
            color: #ffffff;
        }

        &_max {
            cursor: pointer;
        }

        &_conditions {
            font-size: 12px;
        }

        &_weight {
            margin-bottom: 2px;
            font-weight: 600;
        }

        &_output {
            display: flex;
        }
    }
    
    &__coin {
        &_uppercase {
            text-transform: uppercase;
        }
    }

    &__icon {
        width: 32px;
        height: 32px;
        margin-right: 12px;
        border-radius: 50%;
    }
}