.calendar {
    position: relative;
    width: 1092px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 120px;

    @media(max-width: 1199px) {
        width: 100%;
    }

    @media(max-width: 799px) {
        padding-top: 48px;
        padding-bottom: 80px;
    }

    @media(max-width: 490px) {
        padding-top: 39px;
        padding-bottom: 60px;
    }
}

.calendar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 490px) {
        flex-direction: column;
    }

    h2 {
        margin: 0;
        font-size: 26px;
        font-weight: 600;
        text-transform: uppercase;

        @media(max-width: 490px) {
            padding-bottom: 10px;
            font-size: 24px;
        }
    }

    span {
        font-weight: 400;
    }
}

.calendar-subtitle {
    width: 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        margin: 0;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        font-style: italic;
        color: #d4dfff;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    button {
        display: flex;
        border: 0;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    &-arrow {
        transform: rotate(180deg);
    }
}

.calendar-day-name {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    padding-top: 25px;

    span {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
    }
}

.calendar-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 156px);
    grid-template-rows: repeat(6, 130px);
    border-right: 1px dashed #767E98;
    border-bottom: 1px dashed #767E98;

    @media(max-width: 1199px) {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 120px);
    }

    @media(max-width: 970px) {
        grid-template-rows: repeat(6, 101px);
    }

    @media(max-width: 600px) {
        grid-template-rows: repeat(6, 70px);
    }

    @media(max-width: 490px) {
        grid-template-rows: repeat(6, 45px);
    }
}

.calendar-cell {
    display: flex;
    position: relative;
    border-top: 1px dashed #767E98;
    border-left: 1px dashed #767E98;
    cursor: pointer;

    &--current {
        position: absolute;
        left: 4%;
        align-self: center;
        width: 92%; 
        height: 92%;
        z-index: 1;
        background-color: #cfcbcb;
    }

    &--active {
        position: absolute; 
        left: 0;
        width: 100%; 
        height: 100%;
        z-index: 1;
        border: 2px solid #ffffff; 
    }

    &:hover {
        background-color: #373d51;
        transition: .5s ease-in-out;
    }
}

.calendar-day {
    position: absolute;
    z-index: 1;
    display: inline-block;
    padding: 10px 10px 10px 8px;
    color: #8995b8;
    opacity: 0.4;

    &_background {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        &--show {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    @media(max-width: 600px) {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.calendar-render {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.calendar-month {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 270px);
    margin-top: 25px;
    border-right: 1px dashed #767E98;
    border-bottom: 1px dashed #767E98;

    @media(max-width: 1199px) {
        grid-template-rows: repeat(3, 270px);
    }

    @media(max-width: 970px) {
        grid-template-rows: repeat(3, 211px);
    }

    @media(max-width: 600px) {
        grid-template-rows: repeat(3, 149px);
    }

    @media(max-width: 490px) {
        grid-template-rows: repeat(3, 99px);
    }

    &_cell {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px dashed #767E98;
        border-left: 1px dashed #767E98;
        background-color: #232733;

        &:hover {
            background-color: #373d51;
            transition: .5s ease-in-out;
            cursor: pointer;
        }
    }

    &_name {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}

.calendar-year {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 270px);
    margin-top: 25px;
    border-right: 1px dashed #767E98;
    border-bottom: 1px dashed #767E98;

    @media(max-width: 1199px) {
        grid-template-rows: repeat(3, 270px);
    }

    @media(max-width: 970px) {
        grid-template-rows: repeat(3, 211px);
    }

    @media(max-width: 600px) {
        grid-template-rows: repeat(3, 149px);
    }

    @media(max-width: 490px) {
        grid-template-rows: repeat(3, 99px);
    }

    &_cell {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px dashed #767E98;
        border-left: 1px dashed #767E98;
        background-color: #232733;

        &:hover {
            background-color: #373d51;
            transition: .5s ease-in-out;
            cursor: pointer;
        }
    }

    &_name {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}


.calendar-notes {
    position: relative;
    display: block;
    margin-top: 40px;

    @media(max-width: 490px) {
        margin-top: 15px;
    }

    &-append {
        width: 100%;
        height: 70px;
        margin-bottom: 20px;
        background: #2C303E;
        border-radius: 6px;

        @media(max-width: 490px) {
            height: 48px;
        }

        // &::before {
        //     content: "";
        //     position: absolute;
        //     top: 15px;
        //     right: 340px;
        //     width: 40px;
        //     height: 40px;
        //     background-image: url(../svg/white_plus.svg);
        //     background-size: 40px 40px;

        //     @media(max-width: 490px) {
        //         top: 9px;
        //         width: 30px;
        //         height: 30px;
        //         background-size: 30px 30px;
        //     }
        // }

        &:hover {
            opacity: 0.7;
        }

        p {
            cursor: pointer;
            display: flex;
            justify-content: center;
            height: 100%;
            align-items: center;
            font-size: 30px;
            line-height: 26px;

            @media(max-width: 490px) {
                font-size: 24px;
            }
        }

        span {
            font-size: 20px;
        }
    }

    &_item {
        position: relative;
        display: flex;
        align-items: center;
        height: 70px;
        width: 100%;
        margin-bottom: 20px;
        padding: 5px 20px;
        background: linear-gradient(107.19deg, #5F479B 1.5%, rgba(40, 28, 71, 0.2) 109.67%);
        border-radius: 6px;

        &:last-child {
            margin-bottom: 0;
        }

        @media(max-width: 490px) {
            height: 48px;
            margin-bottom: 10px;
        }

        &-date {
            margin-right: 40px;
            font-size: 30px;

            @media(max-width: 490px) {
                margin-right: 25px;
                font-size: 18px;
                font-weight: 600;
            }
        }

        &-description {
            width: 100%;

            h3 {
                width: calc(100% - 70px);
                margin: 0;
                font-size: 16px;
                font-weight: 700;
                line-height: 28px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                @media(max-width: 490px) {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
    
            p {
                width: calc(100% - 70px);
                margin: 0;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                @media(max-width: 490px) {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }

        &-delete,
        &-edit {
            position: absolute;
            top: 10px;
            display: block;
            opacity: 0.8;
            cursor: pointer;

            @media(max-width: 490px) {
                top: 5px;
            }

            &:hover {
                opacity: 0.6;
            }
        }

        &-delete {
            right: 10px;
            width: 14px;

            @media(max-width: 490px) {
                right: 5px;
                width: 12px;
            }
        }

        &-edit {
            right: 40px;
            width: 16px;

            @media(max-width: 490px) {
                right: 28px;
            }
        }
    }
}

.create_post_calendar {
    background: #313543;
    border: 1px solid #44495c;
    border-bottom: 0;
    outline: none;
    box-sizing: border-box;
    font-weight: 500;
    color: #ffffff;
    position: relative;
    display: flex;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &[contentEditable=true]:empty:not(:focus):before {
        content: attr(data-text)
    }

    &::before {
        content: '';
        position: absolute;
        pointer-events: none;
        opacity: .4;
    }

    &-title {
        margin-bottom: 20px;
        padding: 15px 20px;
        white-space: nowrap;
        overflow: hidden;
    }

    &-description {
        height: 100px;
        padding: 8px 20px;
        line-height: 20px;
        overflow: hidden;
    }
}

.calendar-color {
    position: relative;
    display: block;
    padding: 20px;

    &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: #ffffff;
        border-radius: 6px;
        cursor: pointer;
    }

    &-default {
        display: block;
        width: 30px;
        height: 30px;
    }

    &-list {
        position: absolute;
        bottom: 25px;
        left: 80px;
        display: none;
        margin-top: 15px;
    }

    &-item {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        list-style-type: none;
        cursor: pointer;
    }

    &-type1 {
        background: linear-gradient(89.03deg, #2C66B8 0.54%, #8859EC 97.66%);
    }

    &-type2 {
        background: linear-gradient(107.19deg, #5F479B 1.5%, rgba(40, 28, 71, 0.2) 109.67%);
    }

    &-type3 {
        background: linear-gradient(272.66deg, #343B4F -1.2%, rgba(51, 58, 78, 0.35) 116.4%);
    }

    &-type4 {
        background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
    }

    &-type5 {
        background: linear-gradient(225deg, #284BC5 0%, #11B883 100%);
    }

    &-type6 {
        background: linear-gradient(125.97deg, #9B51E0 -0.04%, #E051D2 121.46%);
    }
}

.modals-calendar {
    position: relative;
    z-index: 10000;
}
