$icoItem: #303545;
$line: #7B8195;
$objective: #A87FFF;
$borderFilter: #474c5a;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.ico-container {
  background: $background;
}

.tags-ico {
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-between;
}

.tag_button-ico {
  width: 80px;
}

// list-tabs
.list-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $line;

  .list-tabs_item {
    font-size: 18px;
    font-weight: 700;
    padding: 15px 0;
    color: $text;

    &.active {
      color: $title;
      border-bottom: 1px solid transparent;
      border-image: linear-gradient(to right, #679FEF, #A87FFF);
      -moz-border-image: -moz-linear-gradient(left, #679FEF, #A87FFF);
      -webkit-border-image: -webkit-linear-gradient(left, #679FEF, #A87FFF);
      border-image-slice: 1;
    }
  }
}

// listIcoStartaps
.ico-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 6px;
  padding-top: 70px;

  @media(max-width: 992px) {}

  @media(max-width: 464px) {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 6px;
  }
}

// style block filtres
.search-wrap {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  position: relative;

  .filter-search_icon {
    position: absolute;
    right: 0px;
    height: 30px;
  }
}

.ico-search {
  position: relative;

  .ico-search_icon {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  .search {
    width: 100%;
    border-radius: 5px;
    background: $search;
    color: #A8B0CC;
    height: 36px;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    font-style: italic;
    border: none;
    padding: 10px 15px 10px 39px;
  }
}

.filter-dropdowns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding-top: 6px;

  .dropdown {
    background: $icoItem;
    border-radius: 8px;
    border: 1px solid $borderFilter;
    padding: 15px 25px;

    .dropdown-title {
      font-size: 14px;
      box-sizing: border-box;
      font-weight: 600;
    }

    .dropdown-list {
      padding-left: 0;
    }

    .dropdown-list>li {
      list-style-type: none;
      padding: 5px 0;
      border-top: 1px solid $borderFilter;
      border-bottom: 1px solid $borderFilter;
    }
  }
}




.ico-list_item {
  background: $icoItem;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 12px 20px 12px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-template-areas:
    'image info'
    'date date';

  .item-img {
    grid-area: image;
    width: 72px;
    height: 72px;
    border-radius: 5px;
  }

  .item-info {
    grid-area: info;
  }

  .item-date {
    display: flex;
    justify-content: space-between;
    grid-area: date;
    color: $text;
    font-size: 12px;
  }

  .item-title {
    font-weight: 700;
  }

  .item-desc {
    font-size: 14px;
  }

  .item-sum {
    color: $text;

    .item-sum_procent {
      opacity: .6;
    }
  }

  .item-sum_obj {
    color: $objective;
  }


}