$icoItem: #303545;
$line: #7B8195;
$objective: #A87FFF;
$borderFilter: #474c5a;
$icon: #353a46;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.ico-wrap {
  position: relative;
}

.ico-back {
  position: absolute;
  z-index: 0;
  opacity: .6;
  top: 20%;
  height: 70%;

  &.ico-back-left {
    left: 0;
    transform: rotate(45deg);
  }

  &.ico-back-right {
    right: 0;
    transform: rotate(120deg);
  }
}

.ico-container {
  background: $icoItem;
}

.ico-inner {
  padding-top: 75px;
}

.ico-wrapper {
  max-width: 1240px;
  margin: 0 auto;

  @media(max-width: 992px) {
    width: calc(100% - 20px);
    padding-bottom: 60px;
  }

  @media(max-width: 464px) {
    width: calc(100% - 10px);
    padding-bottom: 40px;
  }
}

.tags.tags-ico {
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-between;
  z-index: 5;
}

.tag_button-ico {
  width: 140px;

  @media(max-width: 464px) {
    width: 80px;
  }
}

// listIcoStartaps
.ico-list {
  display: flex;
  flex-direction: column;

}
.list-ico_wrap {
  // border: 1px solid #474c5a;
  // margin-top: 20px;
}

.list-ico_tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background: #7B8195;
  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(10px);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  .ico-tabs:first-child {
    border-top-left-radius: 8px;
  }

  .ico-tabs:nth-child(2) {
    border-right: 2px solid #303545;
    border-left: 2px solid #303545;
  }

  .ico-tabs:last-child {
    border-top-right-radius: 8px;
  }

  .ico-tabs {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: calc(100% / 3);
    font-weight: 500;
    opacity: .7;

    &:focus {
      outline: none;

      span {
        border-bottom: 2px solid;
        border-radius: 0;
      }
    }

    @media(max-width: 464px) {
      font-size: 12px;
    }
  }

  .ico-tabs:hover {
    opacity: 1;
  }

  .ico_tabs-active {
    background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
    opacity: 1;
    font-weight: 700;
  }
}

.list-ico {
  padding-top: 15px;
  display: grid;
  grid-gap: 15px;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  border: 1px solid #474c5a;

}

@media(max-width: 992px) {
  .list-ico {
    // grid-template-rows: auto;
    // grid-template-rows: 185px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .ico-filtres {
    padding-top: 75px;
  }
}

@media(max-width: 464px) {
  .ico-filtres {
    padding-top: 60px;
  }
}


// style block filtres
.search-wrap {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-gap: 5px;
  align-items: center;
  position: relative;

  @media(max-width: 464px) {
    grid-template-columns: 1fr 0.2fr;

  }

  .filter-search_icon {
    position: absolute;
    right: 0px;
    height: 30px;
    cursor: pointer;
  }
}

.ico-search {
  position: relative;

  .ico-search_icon {
    position: absolute;
    top: 10px;
    left: 12px;
    max-height: 20px;
  }

  .search {
    width: 100%;
    border-radius: 5px;
    background: $search;
    color: #A8B0CC;
    // height: 55px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    font-style: italic;
    border: none;
    padding: 10px 15px 10px 45px;
  }
}

.filter-dropdowns {
  // height: 300px;
  transition: all .3s;
  // overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding-top: 10px;
  // padding-bottom: 20px;

  @media(max-width: 767px) {
    grid-template-columns: 1fr;
  }

  >div {
    position: relative;

    .filter-name {
      position: absolute;
      top: 6px;
      left: 25px;
      z-index: 4;
      color: #7D8CA9;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .filter-dropdown_date {
    display: flex;
    position: relative;

    @media(max-width: 767px) {
      display: grid;
      grid-template-columns: 1fr 0.1fr;
      grid-template-rows: auto;
      grid-gap: 5px;

      .arrow-sort {
        position: absolute;
        right: 0;
        margin-right: 6px;
        margin-left: 0;
      }
    }

    @media(max-width: 464px) {
      grid-template-columns: 1fr 0.2fr;
    }

    .dropdown {
      width: 100%;
      position: relative;
    }

    .arrow-sort {
      // height: 55px;
      height: 45px;
      margin-left: 15px;
    }
  }
}

.dropdown {
  background: $icoItem;
  border-radius: 4px;
  border: 1px solid $borderFilter;
  position: relative;
  cursor: pointer;

  .dropdown-title {
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 600;
    outline: none;
    // height: 55px;
    height: 45px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 10px;
    line-height: 20px;
    display: flex;
    align-items: center;
    position: relative;

    .dropdown-arrow {
      position: absolute;
      top: 14px;
      right: 15px;
      transition: transform .3s ease-in-out;

      &.dropdown-checked {
        transform: rotate(-180deg)
      }
    }

  }

  .dropdown-list {
    padding-left: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    z-index: 5;
    // z-index: -1;
    // opacity: 0;
    // visibility: hidden;
    overflow: hidden;
    width: 100%;
    background: $icoItem;
    border: 1px solid $borderFilter;
    // max-height: 0;
    // transition: 0.5s ease-out;
  }

  .dropdown-list_show {
    z-index: 4;
    visibility: visible;
    // opacity: 1;
    // max-height: 100vh;
    transition: 0.5s ease-in;
    // -webkit-animation: moveFromTop 300ms ease-in-out;
    // -moz-animation: moveFromTop 300ms ease-in-out;
    // -ms-animation: moveFromTop 300ms ease-in-out;
    // -o-animation: moveFromTop 300ms ease-in-out;
    // animation: moveFromTop 300ms ease-in-out;
  }



  .dropdown-list:last-child {
    border-radius: 0 0 4px 4px;
  }

  .dropdown-list_el {
    opacity: .7;
  }

  .dropdown-list_el:hover {
    opacity: 1;
  }

  .dropdown-list>li {
    list-style-type: none;
    padding: 13px 15px;
    border-bottom: 1px solid $borderFilter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    height: 45px;
  }

  .dropdown-list>li:last-child {
    border-bottom: 0;
  }
}

// filter check crypto emergency
.filter-check {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ico-list_item-wrap {
  border-radius: 8px;
  border: 1px solid rgba(43, 43, 43, 0.568);

}

.ico-list_item {
  perspective: 2000px;
  transition: .4s;
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px 12px 20px 12px;
  position: relative;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-template-areas: 'image info';
  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  // border: 1px solid rgba(43, 43, 43, 0.568);
  // height: 100%;
  height: 185px;

  @media(max-width: 992px) {
    grid-template-columns: 15% 80%;

  }

  @media(max-width: 767px) {
    grid-template-columns: 15% 80%;

  }

  @media(max-width: 464px) {
    grid-template-columns: 20% 80%;
    height: 170px;
  }

  .item-category{
    position: absolute;
    top: 10px;
    right: 10px;
    span{
      font-weight: 800;
      background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .item-img {
    grid-area: image;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .item-img_el {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .item-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }

  .item-date {
    color: $text;
    font-size: 12px;
    position: absolute;
    bottom: 10px;

    &.item-date_start {
      left: 12px;
    }

    &.item-date_end {
      right: 12px;
    }
  }

  .item-title {
    font-weight: 700;
    font-size: 22px;

    @media(max-width: 464px) {
      font-size: 18px;
    }
  }

  .item-desc {
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    // height: 65px;

    @media(max-width: 464px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .item-sum_wrap {
    padding-top: 15px;
  }

  .item-sum {
    color: $text;
    font-size: 18px;
    font-weight: 600;

    .item-sum_procent {
      opacity: .6;
    }
  }

  .item-sum_obj {
    color: $objective;
  }
}

// .ico-list_item-wrap:hover {
//   background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
//   scale: 1.01;
//   transition-duration: .5s;

//   @media(max-width: 767px) {
//     scale: 1;
//   }
// }

// .ico-list_item:hover {
//   // transform: rotateX(-10deg) skewX(2deg);
//   background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
//   transition-duration: .4s;
//   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//   scale: 1.01;

//   @media(max-width: 767px) {
//     transform: rotateX(0) skewX(0);
//     background: rgba(255, 255, 255, 0.11);
//   }
// }

// ============================
// внутренняя страница
.ico-card {
  padding: 10px;
}

.card-head{
  display: grid;
  grid-template-columns: 80px calc(100% - 80px);
  grid-column-gap: 25px;
  grid-template-rows: auto;
  grid-template-areas: 
    'icon title'
    '. text';

    @media(max-width: 992px) {
      grid-template-areas: 
        'icon title'
        'text text';
    }

  .card-icon{
    grid-area: icon;
    height: 80px;
    min-height: 80px;
    width: 80px;
    min-width: 80px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 15px;
    display: grid;
    align-items: center;

    >img{
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
  .card-head_title{
    grid-area: title;
    color: #FFFFFF;
    font-weight: 700;
    display: grid;
    align-items: center;
  }
  .card-main_info{
    grid-area: text;
    margin-bottom: 0;
    padding-right: 25px;
    font-size: 18px;
    line-height: 22px;

    @media(max-width: 767px) {
      font-size: 16px;
    }
  }
}


.card-media {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  padding-top: 20px;

  .card-img_wrap {
    border-radius: 8px;
    background-size: cover;

    .card-img {
      width: 100%;
      height: auto;
      // height: 100%;
      max-height: 100%;
      border-radius: 8px;
      background-size: cover;

    }
  }


  @media(max-width: 992px) {}

  @media(max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  @media(max-width: 464px) {}
}


// block information
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 2px solid $borderFilter;
  border-radius: 8px;

  @media(max-width: 992px) {}

  @media(max-width: 767px) {
    margin-top: 10px;
  }

  @media(max-width: 464px) {}

  .card-info_status {
    text-transform: uppercase;
    font-weight: 700;
  }

  .card-info_summ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 0;

    .info-summ_obj {
      font-size: 20px;
      color: $objective;
    }

    .info-summ_done {
      text-transform: uppercase;
      color: #CBD3EB;
    }
  }

  .card-btn {
    border: 1px solid $objective;
    cursor: pointer;
    height: 40px;
    width: 150px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: transparent;
    display: block;


    &.card-btn_active {
      border: none;
      position: relative;
      display: block;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      letter-spacing: 1px;
      text-align: center;
      text-decoration: none;
      overflow: hidden;
      z-index: 0;
    }

    &.card-btn_active::after {
      position: absolute;
      content: '';
      top: 0;
      background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
      height: 40px;
      width: 255px;
      z-index: -1;
      transform: translateX(-180px);
      transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
    }

    .card-btn_text {
      font-size: 13px;
      color: #FFFFFF;
      position: relative;
      font-weight: 700;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


  .info-social {
    margin-top: 15px;
  }
}

.info-social {
  display: flex;

  .info-social_link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $icon;
    margin-right: 15px;


    >img {
      max-height: 18px;
    }
  }

  .info-social_link:last-child {
    margin-right: 0;
  }
}

// block details ICO
.ico-details {
  border-top: 2px solid $borderFilter;
  border-bottom: 2px solid $borderFilter;
  padding: 20px;

  >h4 {
    font-size: 20px;
    font-weight: 600;
  }

  .ico-details_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 275px;
    padding-top: 15px;

    >p {
      display: flex;
      align-items: center;
    }

    @media(max-width: 992px) {}

    @media(max-width: 767px) {
      grid-template-columns: 1fr;
      height: auto;
    }

    @media(max-width: 464px) {
      >p {
        font-size: 14px;
      }
    }
  }

  .details_bold {
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 10px;
  }

}

// gallery
.ico-media {
  padding-bottom: 50px;

  @media(max-width: 767px) {
    padding-bottom: 0;
  }
}

.ico-media>h4 {
  padding-top: 10px;
  padding-left: 15px;
}

.media-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;

  @media(max-width: 767px) {
    padding-bottom: 0;
  }

  .media-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;

    @media(max-width: 992px) {}

    @media(max-width: 767px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media(max-width: 464px) {}

    .media-img {
      // height: 150px;
      overflow: hidden;
      border-radius: 8px;

      >img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        background-image: cover;
      }
    }
  }
}

// =============================
// list-startaps
.list-startaps {
  // padding-top: 80px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px;

  .startaps-item{
    height: auto;
  }

  @media(max-width: 767px) {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

// ===============================
// animation
@keyframes moveFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}