.notes {
    max-width: 1240px;
    margin: 0 auto;
    padding: 30px 0;

    @media(max-width: 992px) {
        width: calc(100% - 20px);
    }

    @media(max-width: 599px) {
        width: calc(100%);
        padding: 20px 10px;
    }
}

.notes-content {
    display: flex;
    height: 600px;
    background: #2c303e;
    border-radius: 8px;
}

.notes-list {
    width: 300px;
    border-right: 1px solid #464d62;
    overflow: auto;
    overflow-x: hidden;

    @media(max-width: 992px) {
        width: 220px;
    }

    @media(max-width: 599px) {
        width: 100%;
        border-right: 0;
    }

    &::-webkit-scrollbar {
        width: 24px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        width: 4px;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3b425a;
        border: 10px solid #2c303e;
        border-radius: 40px;
    }
}

.notes-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
    height: 70px;
    padding: 0;
    padding-left: 60px;
    border: 0;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;

    &:hover {
        background: #464d62;
        border-radius: 8px 0 0 0;
    }

    @media(max-width: 992px) {
        width: 220px;
    }

    @media(max-width: 599px) {
        width: 100%;

        &:hover {
            border-radius: 8px 8px 0 0;
        }
    }

    &::before {
        content: "";
        position: absolute;
        left: 20px;
        height: 20px;
        width: 20px;
        background: url('../svg/answer_plus.svg');
        background-size: 20px 20px;
        background-repeat: no-repeat;
    }
}

.notes-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    padding: 14px;
    cursor: pointer;

    h3 {
        margin: 0;
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &_img {
        position: absolute;
        top: 10px;
        right: 15px;

        img {
            border-radius: 10px;
            object-fit: cover;
        }
    }

    &_block {
        display: flex;
        align-items: center;

        p {
            margin-bottom: 0;
            margin-left: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #e1e1e1;
        }

        span {
            font-size: 14px;
            color: #a0a0a0;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &:hover {
        background: #464d62;
    }

    &_active {
        background: #464d62;
        pointer-events: none;
    }
}

.notes-item_preview-img .notes-item-section {
    width: calc(100% - 60px);
}

.dead {
    @media(max-width: 599px) {
        display: none;
    }
}

.notes-content-wrapper {
    position: relative;
    width: calc(100% - 300px);
    padding: 30px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 24px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        width: 4px;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3b425a;
        border: 8px solid #2c303e;
        border-radius: 40px;
    }

    @media(max-width: 992px) {
        width: calc(100% - 220px);
    }

    @media(max-width: 599px) {
        display: none;
    }

    &.active {
        @media(max-width: 599px) {
            display: block;
            width: 100%;
            padding-left: 20px;
        }
    }
}

.notes-button__img {
    position: absolute;
    top: 20px;
    left: 40px;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }

    @media(max-width: 599px) {
        top: 19px;
        right: 60px;
    }
}

.notes-button__icon {
    width: 20px;

    @media(max-width: 599px) {
        position: absolute;
        right: 0;
    }
}

.notes-content-img {
    display: flex;
    gap: 20px;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 24px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        width: 4px;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3b425a;
        border: 8px solid #2c303e;
        border-radius: 40px;
    }
}

.notes-img-wrapper {
    position: relative;
    margin-top: 20px;
}

.notes-img-preview {
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.notes-delete-media {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(192deg) brightness(103%) contrast(103%);
    position: absolute;
    right: 3px;
    top: 0;
    z-index: 3;
    cursor: pointer;
    display: none;

    img {
        width: 20px;

        &:hover {
            opacity: 0.6;
        }
    }
}

.notes-img-wrapper:hover .notes-delete-media {
    display: block;
}

.notes-content-delete {
    position: absolute;
        top: 15px;
        right: 15px;
        width: 28px;
        display: block;
        margin-left: auto;
        padding: 5px;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }
}

.notes-content-close {
    display: none;

    @media(max-width: 599px) {
        position: absolute;
        top: 15px;
        left: 20px;
        display: block;
        width: 45px;
        margin-left: auto;
        padding: 5px;
        cursor: pointer;
        transform: rotate(180deg);

        &:hover {
            opacity: 0.6;
        }
    }
}

.notes-input-title {
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 0;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    background: transparent;
    border: 0;
    white-space: nowrap;
    overflow: hidden;

    &[contentEditable=true]:empty:not(:focus):before {
        content: attr(data-text)
    }
}

.notes-input-placeholder::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    pointer-events: none;
    opacity: .4;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
    border: none;
    outline: none;
}

.notes-description {
    position: relative;
    height: 60%;
    margin-top: 10px;
    color: #ffffff;

    &[contentEditable=true]:empty:not(:focus):before {
        content: attr(data-text)
    }
}
