.planning {
    width: 1240px;
    height: calc(100vh - 200px);
    margin: 0 auto;
    margin-top: 100px;

    &_container {
        display: flex;
        justify-content: space-between;
    }

    &-tab {
        background: #3d4457;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
        
        h3 {
            margin: 0;
            padding: 10px 30px;
        }
    }
}

.planning-create {
    position: relative;
    padding-right: 30px;

    &::before {
        content: "";
        display: block;
        position: absolute;
        right: 20px;
        top: 15px;
        width: 22px;
        height: 22px;
        background: url("../svg/white_plus.svg") no-repeat;
        background-size: 22px 22px;
    }
}

.planning-users {
    margin-top: 20px;

    &-search {
        width: 100%;
        padding: 10px 20px;
        background: #313543;
        border: 1px solid #44495c;
        border-radius: 10px;
        color: #ffffff;

        &::placeholder {
            font-weight: 600;
            opacity: 0.5;
        }
    }
}

.planning-user {
    margin-top: 15px;
    margin-left: 20px;

    &_list {
        padding-bottom: 8px;

        &:last-child {
            padding-bottom: 0;
        }
    }
    
    &_item {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    &_avatar {
        width: 25px;
        height: 25px;
        text-align: center;
    
        &-preview {
            height: 25px;
        }
    }

    &_name {
        margin-left: 20px;
    }
}

.planning-user_item:hover .planning-user_name {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background: #464d62;
    }
    
}

.planning-user_group {

    &-name {
        position: relative;
        display: inline-block;
        margin-top: 8px;
        margin-right: 5px;
        padding: 2px 23px 2px 8px;
        background: #44495c;
        border-radius: 4px;

        &:last-child {
            margin-right: 0;
        }

        img {
            position: absolute;
            right: 1px;
            padding: 5px;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}
