$background: #232733;
$icon: #393C47;
$fiolet: #A43CF9;
$orange: #FF9B00;
$blue: #1D7AF8;
$red: #FF6E6C;
$mint: #00F2C6;
$lightBlue: #00A5F7;

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}

// .appearience {
//   padding-bottom: 60px;
// }

// styles page list-startaps 
.ico-list_item.startaps-item {
  padding-bottom: 12px;
}

// style btns
.btn-item {
  margin-top: 20px;
  width: 100%;
  color: $title;
  background: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  padding: 15px 50px;
  border: 5px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #679FEF, #A87FFF);
  border-radius: 6px;
  cursor: pointer;

  .btn-item_text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// classes color
.fiolet {
  color: $fiolet;
}

.orange {
  color: $orange;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.mint {
  color: $mint;
}

.lightBlue {
  color: $lightBlue;
}

// classes color

.startap {
  background: $background;
  padding-top: 35px;
}

.startap-img {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 0;
  height: 65%;
  opacity: .6;

  @media(max-width: 992px) {
    display: none;
  }
}

.startap-inner {
  max-width: 1240px;
  margin: 0 auto;
  padding-bottom: 70px;

  @media(max-width: 992px) {
    width: calc(100% - 20px);
    padding-bottom: 60px;
  }

  @media(max-width: 464px) {
    width: calc(100% - 10px);
    padding-bottom: 40px;
  }

  // main block
  .crypto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;

    @media(max-width: 992px) {}

    @media(max-width: 767px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    @media(max-width: 464px) {}



    // social
    .social-img {

      @media(max-width: 767px) {
        margin-bottom: 55px;
      }

      >img {
        width: 100%;
        height: auto;
      }
    }

    .social-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-decoration: none;
      padding-top: 25px;
      padding-bottom: 35px;

      @media(max-width: 992px) {
        padding-top: 15px;
        padding-bottom: 15px;
      }


      .icons-item {
        display: flex;
        align-items: center;
        text-decoration: none;


        .icons-img {
          width: 34px;
          height: 34px;
          background: $icon;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          >img {
            max-height: 18px;
          }
        }
      }

      .icons-text {
        display: flex;
        margin-left: 10px;
        font-weight: 500;
        font-size: 15px;
        line-height: 43px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
      }

    }

    .social-desc {
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      display: flex;
      align-items: center;
      color: #E4EAFC;
    }

    .social-btns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 18px;


    }

    // information
    .info {
      background: #2D3241;
      border: 1px solid #444B5F;
      border-radius: 10px;
      padding: 35px;
      height: fit-content;

      .info-desc {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }



  // Road Map
  .startap-title {
    font-weight: 700;
    font-size: 76px;
    line-height: 115%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
  }

  .roadmap-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;

    .roadmap-item_year {
      font-weight: 700;
      font-size: 36px;
      line-height: 115%;
      margin-bottom: 20px;
    }

    .roadmap-item_text {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      font-feature-settings: 'salt' on, 'liga' off;
    }

    @media(max-width: 992px) {}

    @media(max-width: 767px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media(max-width: 464px) {}

  }

  // tokenomics
  .diagramm {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1fr;
    grid-gap: 25px;
  }

  .diagramm-line,
  .diagramm-circle {
    background: #2D3241;
    box-shadow: 0px 4px 54px #202532;
    border-radius: 15px;
    padding: 30px;
  }

  //diagramm-line 
  .diagramm-line {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // height: 300px;
  }

  .progressBlock {
    // width: 380px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    >span {
      margin-left: 10px;
    }
  }

  .progressBlock-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10px;
    background: $fiolet;
    border-radius: 4px;
  }

  // line progress
  .progressBlock:first-child .progressBlock-column {
    background: $fiolet;
    width: calc(100% / 100 * 30);
  }

  .progressBlock:nth-child(2) .progressBlock-column {
    background: $orange;
    width: calc(100% / 100 * 15);
  }

  .progressBlock:nth-child(3) .progressBlock-column {
    background: $blue;
    width: calc(100% / 100 * 40);
  }

  .progressBlock:nth-child(4) .progressBlock-column {
    background: $red;
    width: calc(100% / 100 * 25);
  }

  .progressBlock:nth-child(5) .progressBlock-column {
    background: $mint;
    width: calc(100% / 100 * 10);
  }

  .progressBlock:nth-child(6) .progressBlock-column {
    background: $lightBlue;
    width: calc(100% / 100 * 10);
  }

  // line progress

  .line-points {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 25px;
    grid-row-gap: 25px;


    .line-point_item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;

      .line-point_circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 15px;
      }

      .line-point_procent {
        position: absolute;
        right: 0;

      }
    }

    // points illustration
    .line-point_item:first-child .line-point_circle {
      border: 4px solid $fiolet;
    }

    .line-point_item:nth-child(2) .line-point_circle {
      border: 4px solid $orange;
    }

    .line-point_item:nth-child(3) .line-point_circle {
      border: 4px solid $blue;
    }

    .line-point_item:nth-child(4) .line-point_circle {
      border: 4px solid $red;
    }

    .line-point_item:nth-child(5) .line-point_circle {
      border: 4px solid $mint;
    }

    .line-point_item:nth-child(6) .line-point_circle {
      border: 4px solid $lightBlue;
    }

    // points illustration

  }


  // diagramm line

  // our team

  .team-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    justify-content: center;

    @media(max-width: 992px) {}

    @media(max-width: 767px) {}

    @media(max-width: 464px) {}
  }

  .team-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h5> {
      font-weight: 600;
      font-size: 18px;
      line-height: 175%;
    }

    >span {
      text-align: center;
      color: #CAD4F3;
      font-size: 15px;
      font-weight: 500;
      line-height: 150%;
      padding: 0 10px;
    }
  }

  .team-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: linear-gradient(334.15deg, #171B27 1.13%, #272B39 101.15%);
    border-radius: 10px;
    height: auto;
    max-height: 365px;
    margin-bottom: 20px;
  }

  .team-btn {
    width: 260px;
  }

  // gallery


}