*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}

$background: #232733;
$icon: #393C47;
$colors: (
  0: #e7f700,
  1: #A43CF9,
  2: #FF9B00,
  3: #1D7AF8,
  4: #FF6E6C,
  5: #00F2C6,
  6: #00A5F7,
  7: #31f700,
  8: #f70000,
  9: #f7007c,
  10: #3f0c46,
  11: #729200,
  12: #bfe4f7,
  13: #253f55,
  14: #00536d,
);
$fiolet: #A43CF9;
$orange: #FF9B00;
$blue: #1D7AF8;
$red: #FF6E6C;
$mint: #00F2C6;
$lightBlue: #00A5F7;


// classes color
.fiolet {
  color: $fiolet;
}

.orange {
  color: $orange;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.mint {
  color: $mint;
}

.lightBlue {
  color: $lightBlue;
}

// classes color

.startap {
  background: $background;
  padding-top: 35px;
}

.startap-img {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 0;
  // height: 65%;
  opacity: .6;

  @media(max-width: 992px) {
    display: none;
  }
}

.startap-inner {
  max-width: 1240px;
  margin: 0 auto;
  padding-bottom: 70px;

  @media(max-width: 992px) {
    width: calc(100% - 20px);
  }

  @media(max-width: 464px) {
    width: calc(100% - 10px);
  }

  // style btns
  .btn-item {
    margin-top: 20px;
    width: 100%;
    color: $title;
    background: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 50px;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #679FEF, #A87FFF);
    border-radius: 6px;
    cursor: pointer;


    @media(max-width: 464px) {
      margin-top: 0;
    }

    .btn-item_text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


  // main block
  .crypto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    z-index: 1;

    @media(max-width: 992px) {}

    @media(max-width: 767px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    @media(max-width: 464px) {}



    // social
    .social-img {

      @media(max-width: 464px) {

        .social-video {
          height: 300px;
          margin-bottom: 20px;
        }
      }

      >img {
        width: 100%;
        height: auto;

        // @media(max-width: 464px) {
        //   margin-bottom: 20px;
        // }
      }
    }

    .startap-social_icons {
      display: grid;
      grid-template-columns: repeat(auto-fill, 130px);
      grid-row-gap: 15px;
      grid-column-gap: 15px;
      justify-content: space-evenly;
      text-decoration: none;
      padding-top: 25px;
      padding-bottom: 35px;

      @media(max-width: 992px) {
        padding-top: 15px;
        padding-bottom: 15px;
        grid-template-columns: repeat(auto-fill, 120px);
      }

      .icons-item {
        display: flex;
        align-items: center;
        text-decoration: none;


        .icons-img {
          width: 32px;
          height: 32px;
          background: $icon;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          >img {
            max-height: 15px;
          }
        }
      }

      .icons-text {
        display: flex;
        margin-left: 10px;
        font-weight: 500;
        font-size: 15px;
        line-height: 43px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
      }

    }

    .social-desc {
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      display: flex;
      align-items: center;
      color: #E4EAFC;

      @media(max-width: 767px) {
        font-size: 16px;
        line-height: 28px;
      }
    }

    .social-btns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 18px;

      @media(max-width: 464px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }

      .social-btn_passive {
        border: 2px solid #444B5F;
        border-radius: 0;
      }
    }

    // information
    .info {
      background: #2D3241;
      border: 1px solid #444B5F;
      border-radius: 10px;
      padding: 35px;
      height: fit-content;

      @media(max-width: 767px) {
        padding: 20px;
      }

      .info-desc {
        font-size: 18px;
        line-height: 26px;

        @media(max-width: 767px) {
          font-size: 16px;
          line-height: 28px;
        }
      }
    }
  }



  // Road Map
  .startap-title {
    font-weight: 700;
    font-size: 76px;
    line-height: 115%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;

    @media(max-width: 767px) {
      font-size: 48px;
      padding: 35px 0;
    }

    @media(max-width: 464px) {
      font-size: 36px;
      padding: 25px 0;
    }
  }

  .roadmap {
    position: relative;
    z-index: 1;
  }

  .roadmap-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;


    .roadmap-item_year {
      font-weight: 700;
      font-size: 36px;
      line-height: 115%;
      margin-bottom: 20px;
    }

    .roadmap-item_text {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      font-feature-settings: 'salt' on, 'liga' off;
    }


    @media(max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media(max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0;

      .roadmap-item_year {
        font-size: 30px;
      }
    }

    @media(max-width: 464px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding: 0 10px;

      .roadmap-item_year {
        font-size: 24px;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
      }

      .roadmap-item_text {
        text-align: center;
      }
    }
  }

  // promovideo
  .promovideo {
    margin: 0 15%;
    position: relative;
    z-index: 5;

    @media(max-width: 992px) {
      margin: 0;
    }

    @media(max-width: 767px) {
      .promovideo-video {
        height: 400px;
      }
    }

    @media(max-width: 464px) {
      .promovideo-video {
        height: 300px;
      }
    }
  }

  // tokenomics
  .diagramm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 25px;

    @media(max-width: 767px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  .diagramm-line,
  .diagramm-circle {
    background: #2D3241;
    box-shadow: 0px 4px 54px #202532;
    border-radius: 15px;
    padding: 30px;
    height: fit-content;

    @media(max-width: 464px) {
      padding: 15px;
    }
  }

  // diagramm circle
  .diagramm-circle {
    display: flex;
    flex-direction: column;
    align-items: center;

    .diagramm-circle_wrap {
      width: 250px;
      height: 250px;

      @media(max-width: 464px) {
        width: 200px;
        height: 200px;
      }
    }

    @each $index,
    $color in $colors {
      .progress-circle--#{$index} {
        stroke: $color;
      }
    }

    // .progress-circle:hover{
    //   stroke-width: 3;
    // }

    .circle-points {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 10px;
      margin-top: 20px;

      @media(max-width: 464px) {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 10px;
      }
    }

    .circle-points_item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      .circle-line {
        width: 30px;
        height: 4px;
        border-radius: 4px;
        margin-right: 15px;
        margin-top: 5px;
      }

      .circle-desc {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;

        .circle-desc_bold {
          font-size: 16px;
          line-height: 22px;
          font-weight: 700;
        }
      }
    }


  }


  //diagramm-line 
  .diagramm-line {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .progressBlock {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    >span {
      margin-left: 10px;
    }

    @media(max-width: 464px) {
      margin-bottom: 10px;

      .progressBlock-column {
        height: 8px;
      }
    }
  }

  .progressBlock-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10px;
    border-radius: 4px;
  }

  // line progress
  @each $index,
  $background in $colors {
    .progressBlock-column--#{$index} {
      background: $background;
    }
  }

  // line progress

  .line-points {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 25px;
    grid-row-gap: 25px;

    @media(max-width: 464px) {
      grid-column-gap: 20px;
      grid-row-gap: 17px;
    }

    .line-point_item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;

      .line-point_circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 15px;

        @media(max-width: 464px) {
          margin-right: 8px;
          width: 20px;
          height: 20px;
        }
      }

      .line-point_name,
      .line-point_procent {
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;

        @media(max-width: 464px) {
          font-size: 13px;
        }
      }

      .line-point_procent {
        position: absolute;
        right: 0;
        margin-left: 5px;
      }
    }

    // points illustration
    @each $index,
    $border in $colors {
      .line-point_circle--#{$index} {
        border: 4px solid $border;
      }
    }

  }

  // hover for diagramm
  @each $index in $colors{
    .circle-points_item--#{$index}:hover .progress-circle--#{$index}{
      stroke-width: 3
    }
  }
  .circle-points_item--0:hover .circle-desc{
    font-size: 24px;
  }
  // hover for diagramm
  // diagramm line



  // gallery
  .gallery-wrap.media-wrap {
    @media(max-width: 464px) {
      padding-bottom: 20px;
    }
  }

}

// our team
.team-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-template-rows: auto;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  justify-content: center;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  @media(max-width: 464px) {
    margin-bottom: 30px;
  }

  h5> {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
  }

  >span {
    text-align: center;
    color: #CAD4F3;
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    padding: 0 10px;
  }
}

.team-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: linear-gradient(334.15deg, #171B27 1.13%, #272B39 101.15%);
  border-radius: 10px;
  height: auto;
  max-height: 365px;
  margin-bottom: 20px;
}

// swiper slider for block our team
.mySwiper {
  .swiper-pagination {
    margin-top: 15px;
  }
}