//colors
$white: #ffffff;
$white02: rgba(255, 255, 255, 0.2);
$white075: rgba(255, 255, 255, 0.75);
$black: #000000;
$akebi_purple: #9844b7;
$summer_sky: #3bade3;
$blue_oyster_cult: #576fe6;
$lilac_lotion: #ff357f;
$royal_battle: #2f3645;
$hailey_blue: #2973FF;
$thick_purple: #8846D3;
$spicy_pink: #FF22AC;
$black_iris: #2D3243;
$noble_black: #1D2029;
$spinel_stone_black: #252a38;
$kachi_indigo: #383f51;
$infinity: #222630; 
$infinity1: #232733;
$infinity2: #212531;
$anchors_aweigh: #2E3340; 
$spaceman: #5E6983;
$biro_blue: #313746;
$marshal_blue: #3E4354;
$crystal_bell: #EFEFEF;
$mistral: #B8C0CD;
$c64_purple: #7668CB;
$nocturnal: #767C85;
$noghrei_silver: #bdbdbd; 
$emptiness: #fcfcfc;
$sapphire_stone: #43495C;
$venice_green: #72FFB6;
$retro_lime: #10D194;
$german_liquorice: #303647;
$georgia_peach: #FF7272;
$blood_moon: #D93030;
$porpoise: #dadada;
$carbon: #333333;
$kachi_indigo: #383f51;
$pixel_white: #DBDBDB;
$guilliman_blue: #679FEF;   //rgba(103,159,239,1), rgb(103,159,239)
$purple_llusionist: #A87FFF;    //rgba(168,127,255,1)
$china_aster: #444B5F;
$sceptre_blue: #353944;
$blue_nights: #353a46;
$german_liquorice1: #303749;
$vintage_ribbon: #9198B3;
$award_night: #57617C;
$german_liquorice2: #31374A;
$atlantic_charter: #2B3040; //rgba(43, 48, 64, 0)
$evening_over_the_ocean: #424B67;
$prestige_blue: #313643;
$black_flame: #474c5a;
$thalassophile: #3FA5E4;
$da_blues: #536172;
$heritage: #B0B7CD;
$supernatural: #313541;
$tried_true_blue: #474E61;
$non_skid_grey: #8991A8;
$algal_fuel: #2DCA73;
$tomato_frog: #FF4545;
$evening_hush: #7D8CA9;
$bunting: #2b3449;
$dark: #1d2331;
$soulful: #394256;
$vermilion_cinnabar: #E84142;
$miami_marmalade: #F7931A;
$barberry_yellow: #F3BA2F;
$seljuk_blue: #437FEC;
$moonless_mystery: #202432;
$coarse_wool: #191D28;
$pacific_line: #2F3443;
$black_orchid: #4f5362;
$german_liquorice3: #30374C;
$live_jazz: #87809A;
$navy_blazer: #292D3C;
$black_river_falls: #353C52;
$biro_blue: #323746;
$nightshade_purple: #525A73;
$mood_indigo: #33394A;
$heavy_violet: #52586A;
$blue_zodiac: #3B4255;
$blue_zodiac1: #3A4155;
$husky: #E3EAFF;
$dark_spell: #32384B;
$crystal_falls: #DEE3F3;
$powder_lilac: #BFC4CE;
$inky_violet: #707DA0;
$veranda_iris: #99A3BD;
$lost_in_time: #9FAEBF;
$mid_blue: #2C66B8;
$gloomy_purple: #8859EC;
$violet_aura: #838BA3;
$pacific_line: #303545;
$kingly_cloud: #dfdfdf;
$grams_hair: #F4F5F7;
$paper_white: #EEEFF4;
$big_fish_to_fry: #D9DBE1;
$blackwater: #535867;
$coarse_wool: #191C24;
$carbon_blue: #363C50;
$corbeau: #0E1424;
$hei_se_black: #191E2E;
$soulful: #383F56;
$moonless_mystery1: #1E2332;
$neon_blue: #00d4ff;    //rgba(0,212,255,1)
$latin_charm: #262d41;
$bleached_silk: #F2F2F2;
$biscay: #303853;
$legal_eagle: #6D7592;
$infinity3: #222632;
$cold_heights: #20e0f6;
$polar_mist: #AEAFBF;
$ancestral_water: #D0D0D0;
$china_aster1: #444A5F;
$sweet_emily: #CBD1E2;
$vintage_velvet: #495166;
$old_mill: #353C4E;
$aster_flower_blue: #9DACD5;
$ma_white: #F4F7FF;
$perano: #AABAE9;

//base
$base_font: 'Montserrat';
$base_size: 16px;

//breakpoints
// $ : 1720px;
// $ : 1550px;
// $ : 1370px; 
$desctop: 1240px;
// $ : 1199px;
// $ : 1024px;
// $ : 1010px;
// $ : 970px;
// $ : 799px;
// $ : 768px;
// $ : 767px;
// $ : 750px;
// $ : 680px;
// $ : 610px;
// $ : 580px;
// $ : 522px;
// $ : 479px;
// $ : 464px;
// $ : 425px;
// $ : 424px;
// $ : 406px;
// $ : 399px;
// $ : 390px;
// $ : 375px;
// $ : 360px;
// $ : 353px;

