.app{
    /* font-weight: ;
    justify-content:space-between ;
    height: ;
    flex-direction: column;
    outline: ;
    align-items: ;
    align-items,
    background-image: ;
    text-align: ; */
}