/* ABOUT US STYLES*/
.c-aboutus {
    background-color: #232733;

    &__whowe {}

    &__content {}

    &__roadmap {
        margin-top: 120px;

        @media(max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        @media(max-width: 1024px) {
            margin-top: 60px
        }
    }

    &__projects {
        position: relative;
        z-index: 2;
        padding-bottom: 160px;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;
        margin-top: 80px;

        @media(max-width: 1370px) {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0 20px;
        }
    }

    &__project {
        padding-bottom: 10px;
        margin-bottom: 50px;
        border-bottom: 1px solid #343949;
    }

    &__banner {
        max-width: 100%;

        @media(max-width: 1370px) {
            max-width: 100%;
            width: 800px;
        }
    }

    &__projectcompany {
        display: block;
        margin-top: 20px;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background: linear-gradient(89.03deg, #679FEF 0.54%, #A87FFF 97.66%);
        -webkit-background-clip: text;
    }

    &__donats {
        padding: 50px 0;
        display: flex;
        justify-content: center;

        .c-button--icon {
            &:hover {
                color: #f57707;
            }
        }
    }


    h2 {
        position: relative;
        width: 100%;
        margin-bottom: 50px;
        font-weight: bold;
        font-size: 76px;
        line-height: 115%;
        text-align: center;
        color: #FFFFFF;
        z-index: 1;

        @media(max-width: 768px) {
            font-size: 45px;
        }

        @media(max-width: 399px) {
            font-size: 40px;
        }
    }
}

.c-whowe {
    position: relative;
    padding-top: 150px; //235px;
    padding-bottom: 180px; //345px;
    text-align: center;
    background-image: url(../images/background/about_us_preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: 599px) {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    &__inner {
        max-width: 1240px;
        margin: 0 auto;

        @media(max-width: 1199px) {
            padding: 0 30px;
        }
    }

    &__title {
        position: relative;
        width: 100%;
        margin-bottom: 50px;
        font-weight: bold;
        font-size: 76px;
        line-height: 115%;
        text-align: center;
        color: #FFFFFF;
        z-index: 1;

        @media(max-width: 768px) {
            font-size: 60px;
        }

        @media(max-width: 374px) {
            font-size: 40px;
        }
    }

    &__img {
        position: absolute;
        left: 0;
        z-index: 1;

        &--right {
            left: auto;
            right: 0;
        }
    }

    &__bg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 1px;
        background: linear-gradient(0deg, #232733 2.22%, rgba(35, 39, 51, 0) 177.88%);
    }

    p {
        font-weight: normal;
        font-size: 20px;
        line-height: 36px;
        color: #FFFFFF;
        max-width: 865px;
        margin: 0 auto;
        position: relative;
        z-index: 1;

        @media(max-width: 768px) {
            font-size: 15px;
            line-height: 2;
        }

        @media(max-width: 374px) {
            font-size: 12px;
        }
    }
}

.c-goals {

    &__title {
        position: relative;
        width: 100%;
        margin-bottom: 50px;
        font-weight: bold;
        font-size: 76px;
        line-height: 115%;
        text-align: center;
        color: #FFFFFF;
        z-index: 1;

        @media(max-width: 768px) {
            font-size: 60px;
        }

        @media(max-width: 374px) {
            font-size: 40px;
        }
    }


}



.about_us-btn {
    left: 50%;
    margin-bottom: 10px;
    top: 33px;
    margin-top: 40px;
    width: 100%;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-about_us {
    margin: 0 auto;
    border-radius: 10px;
    display: block;
    height: 67px;
    max-width: 280px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn-about_us:after {
    position: absolute;
    content: "";
    display: inline-block;
    background: #3bade3;
    background: linear-gradient(45deg,
            #3bade3 0%,
            #576fe6 25%,
            #9844b7 51%,
            #ff357f 100%);
    height: 67px;
    width: 1000px;
    z-index: -1;
    -webkit-transform: translateX(-750px);
    transform: translateX(-750px);
    transition: -webkit-transform 400ms ease-in;
    transition: transform 400ms ease-in;
    transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}

.btn-about_us:hover:after {
    -webkit-transform: translateX(-535px);
    transform: translateX(-535px);
}

.btn-about_us span {
    color: #fff;
    position: relative;
    top: 20px;
}

.our_goal_item a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.our_goal_item a img {
    position: relative;
    top: -2px;
}

.about_us_vector-2 {
    position: absolute;
    right: 0;
}

.about_us_vector-3 {
    position: absolute;
    left: 0;
    margin-top: -250px;
}

.our_team {
    margin-top: 180px;
}

.our_team_block {
    margin-top: 90px;
    display: grid;
    grid-template-columns: calc(25% - 9.75px) calc(25% - 9.75px) calc(25% - 9.75px) calc(25% - 9.75px);
    gap: 13px;
}

.our_team_item {
    min-height: 464px;
    text-align: center;
    margin-bottom: 60px;
    z-index: 1;
}

.our_team_item img {
    border-radius: 10px;
}

.our_team_item p {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 11px;
}

.our_team_item span {
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: #CAD4F3;
}

.project-btn {
    margin-bottom: 10px;
    margin-top: 30px;
    width: 130px;
    position: relative;
    -webkit-transform: translate(0);
    transform: translate(0);
}

.btn-project {
    margin: 0 auto;
    border-radius: 6px;
    display: block;
    height: 44px;
    max-width: 130px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 0.8px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bold;
}

.btn-project:after {
    position: absolute;
    content: "";
    display: inline-block;
    background: #3bade3;
    background: linear-gradient(45deg,
            #3bade3 0%,
            #576fe6 40%,
            #9844b7 61%,
            #ff357f 100%);
    height: 67px;
    width: 1000px;
    z-index: -1;
    -webkit-transform: translateX(-750px);
    transform: translateX(-750px);
    transition: -webkit-transform 400ms ease-in;
    transition: transform 400ms ease-in;
    transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}

.btn-project:hover:after {
    -webkit-transform: translateX(-535px);
    transform: translateX(-535px);
}

.btn-project span {
    color: #fff;
    position: relative;
    top: 12px;
}

.watch_more_container {
    width: 230px;
    height: 60px;
    margin: 0 auto;
    background: linear-gradient(89.03deg, #679FEF 0.54%, #A87FFF 97.66%);
    border-radius: 5px;
    padding: 1px;
}

.watch_more_button {
    width: 100%;
    height: 100%;
    background: #232733;
    border-radius: 5px;
    text-align: center;
    padding-top: 17px;
    transition: .8s;
}

.watch_more_button span {
    background: linear-gradient(89.03deg, #679FEF 0.54%, #A87FFF 97.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    transition: .8s;
}

.watch_more_container:hover .watch_more_button {
    background: none;
}

.watch_more_container:hover .watch_more_button span {
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width: 1199px) {
    .our_team {
        margin-top: 180px;
    }

    // .our_goal_block {
    //     gap: 16px;
    //     grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    // }

    .our_team_block {
        gap: 16px;
        grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    }

    .about_us_vector-1 {
        display: none;
    }

    .our_goal {
        padding: 0 30px;
    }

    .road_map_container {
        justify-content: space-around;
    }
}

@media(max-width: 767px) {

    .our_team_block {
        grid-template-columns: 100%
    }
}

// change page about us
.title-animation {
    position: relative;
    width: 100%;
    font-weight: bold;
    font-size: 76px;
    line-height: 115%;
    padding-bottom: 0.5rem;
    margin: 0;
    letter-spacing: 0.5rem;
    color: #FFFFFF;
    transition: all 0.3s ease;
    z-index: 3;
    // margin-bottom: 50px;
}

.title-animation:hover {
    transform: translate3d(0, -10px, 22px);
    color: #9844b7;
}