.c-adminform {
    padding-top: 20px;
    padding-bottom: 20px;

    &__section {}

    &__group {
        display: grid;
        grid-template-columns: minmax(max-content, 300px) 1fr;
        grid-template-areas: 'a_title a_gr'
            'a_title a_gr'
            'a_title a_gr';
        gap: 10px;
        padding-top: 10px;
        border-top: 1px solid #333B55;

        &:first-of-type {
            border: none;
        }

        &:last-of-type {
            border-bottom: 1px solid #333B55;
            margin-bottom: 15px;
        }
    }

    &__grouptitle {
        grid-column: 1 / 2;
        font-size: 1.2rem;
    }

    &__block {
        grid-column: 2 / 3;
        margin-bottom: 20px;
    }

    &__label {
        display: block;
        margin-left: 2px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 115%;
        color: #9CA2B5;

        &--adding {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        &--title {
            font-size: 20px;
        }
    }

    &__field {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 25px 25px 25px 30px;
        color: #FFFFFF;
        background: #262A39;
        border: 1px solid #333B55;
        border-radius: 10px;
        box-sizing: border-box;
    }

    &__addfile {
        width: 20px;
        cursor: pointer;
    }

    &__delfile {
        width: 22px;
        cursor: pointer;
    }

    &__preview {
        display: flex;
        gap: 20px;
        overflow-x: auto;
    }

    &__wrapper {
        position: relative;
        margin-top: 20px;

        img {
            border-radius: 10px;
            object-fit: cover;
            cursor: pointer;
        }
    }

    textarea {
        &.c-adminform__field {
            height: auto;
        }
    }
}