.c-careers {
    padding-top: 60px;

    &__container {}

    &__title {
        // max-width: 466px;
        margin: 0 0 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 43px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    &__tabs {

        .c-careers {
            &__content {
                padding-top: 35px;
            }
        }
    }

    .c-tabs {
        font-size: 0;

        &>input[type="radio"] {
            display: none;

            &:checked+label {
                background: linear-gradient(89.03deg, #679FEF 0.54%, #A87FFF 97.66%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;

                &::after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background: linear-gradient(89.03deg, #679FEF 0.54%, #A87FFF 97.66%);
                }
            }
        }

        &>label {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
            // top: 1px;

            position: relative;
            display: inline-flex;
            align-items: center;
            margin-right: 6.56%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 43px;
            cursor: pointer;
        }

        &>div {
            /* скрыть контент по умолчанию */
            display: none;
            border-top: 1px solid #383E50;
            font-size: 16px;
        }
    }

    /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
    #freelancers:checked~.content--freelancers,
    #сompany:checked~.content--сompany {
        display: block;
    }

    &__content {
        padding-bottom: 90px;
    }

    &__tags {
        padding: 0;
        background: none;
        box-shadow: none;
        gap: 20px;
        margin-bottom: 25px;

        .tag_button {
            margin: 0;

            &::after {
                background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
            }
        }
    }

    &__searchblock {

        @media(max-width: 767px) {
            margin-bottom: 97px;
        }

        .c-search {
            &__container {
                width: 100%;
                margin-top: 0;
                margin-right: 0;
            }

            &__icon {
                top: 50%;
                transform: translateY(-50%);
            }

            &__input {
                height: 75px;
                padding-right: 200px;
            }
        }

        .c-button {
            &--gradient4 {
                position: absolute;
                top: 5px;
                right: 5px;
                bottom: 5px;
                max-width: 185px;
                min-height: 65;
                height: auto;
                transform: none;

                @media(max-width: 767px) {
                    top: 0;
                    transform: translateY(calc(100% + 15px));
                    left: 0;
                    right: 0;
                    max-width: 100%;
                }
            }
        }
    }

    &__filter {
        display: flex;
        gap: 15px;
        margin-bottom: 50px;
        overflow: visible;

        @media(max-width: 1239px) {
            margin-bottom: 42px;
        }

        @media(max-width: 767px) {
            margin-bottom: 30px;
        }

        .profit_calculator_inputs_container {
            flex-grow: 1;
        }

        .justselect {
            &-title {
                height: 60px;
            }
        }
    }

    &__wrapper {

        @media(max-width: 1239px) {
            flex-basis: calc(50% - 7.5px)
        }

        @media(max-width: 767px) {
            flex-basis: 100%;
        }

        &:nth-last-child(1) {
            @media(max-width: 767px) {
                flex-basis: calc(46% - 7.5px)
            }
        }

        &:nth-last-child(2) {
            @media(max-width: 767px) {
                flex-basis: calc(54% - 7.5px)
            }
        }

        div,
        input {
            width: 100%;
        }
    }

    &__country {
        position: relative;

        &::before {
            position: absolute;
            content: url("../svg/icon/country.svg");
            top: 50%;
            left: 25px;
            transform: translateY(-50%);
            z-index: 2;
        }

        input {
            display: flex;
            align-items: center;
            padding: 0 50px 0px 60px;
            height: 60px;
            font-weight: 600;
            color: #FFFFFF;
            background-color: #3D4457;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtOC42MjggOC42NjcgNy4xMi02LjY3NWEuNzkuNzkgMCAwIDAgMC0xLjE2TDE1LjIyNC4zNGEuOTE4LjkxOCAwIDAgMC0xLjIzOCAwbC01Ljk4IDUuNjA1TDIuMDIyLjMzNGEuOS45IDAgMCAwLS42MTktLjI0LjkuOSAwIDAgMC0uNjE5LjI0TC4yNi44MjVhLjc5Ljc5IDAgMCAwIDAgMS4xNmw3LjEyNyA2LjY4MmEuOS45IDAgMCAwIC42Mi4yNC45LjkgMCAwIDAgLjYyMi0uMjRaIiBmaWxsPSIjQTJBNkIzIi8+PC9zdmc+);
            background-repeat: no-repeat;
            background-position: bottom calc(50% - 0px) right 15px;
            border: none;
            border-radius: 5px !important;
            cursor: pointer;
        }
    }

    &__budget {
        position: relative;

        &::before {
            position: absolute;
            content: url("../svg/icon/budget.svg");
            top: 50%;
            left: 25px;
            transform: translateY(-50%);
            z-index: 2;
        }

        input {
            padding-left: 60px;
        }
    }

    &__input {
        height: 60px;
        padding: 22px 25px 21px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #BBC3DB;
        border: none;
        background: #3D4457;
        border-radius: 5px;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 20px;

            @media(max-width: 1239px) {
                margin-bottom: 15px;
            }

            @media(max-width: 767px) {
                margin-bottom: 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__resume {
        display: grid;
        grid-template-columns: 300px 1fr min-content;
        grid-template-rows: auto;
        padding: 20px;
        background: #2B3040;
        border: 1px solid #40465a;
        border-radius: 10px;

        @media(max-width: 1239px) {}

        @media(max-width: 767px) {
            grid-template-columns: 1fr minmax(120px, 41%);
            border-radius: 0;
        }

        .comment_avatar {
            position: relative;
            grid-column: 1 / 2;
            grid-row: 4 / 5;
            flex-basis: 240px;
            flex-shrink: 1;
            // flex-grow: 1;
        }

        .c-avataricon {
            &__name {
                top: 14px;

                br {
                    display: none;
                }

                span {
                    &:first-child {
                        display: block;
                        margin-bottom: 4px;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                        white-space: nowrap;

                        @media(max-width: 1239px) {
                            margin-bottom: 8px;
                            font-size: 14px;
                            line-height: 22px;
                        }

                        @media(max-width: 767px) {
                            margin-bottom: 5px;
                            font-size: 12px;
                        }
                    }
                }
            }

            &__speciality {
                top: -2;
                font-size: 14px;
                line-height: 20px;

                @media(max-width: 1239px) {
                    font-size: 13px;
                    line-height: 22px;
                }

                @media(max-width: 767px) {
                    font-size: 11px;
                }
            }
        }
    }

    &__resposition {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        margin-bottom: 20px;
        flex-basis: 100%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 20px;
        color: #FFFFFF;

        @media(max-width: 1239px) {
            margin-bottom: 16px;
            font-size: 18px;
        }

        @media(max-width: 767px) {
            margin-bottom: 12px;
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__resabout {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        margin-bottom: 15px;
        flex-basis: 100%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #D7DEF3;

        @media(max-width: 1239px) {
            font-size: 14px;
            color: #ffffff;
        }

        @media(max-width: 767px) {
            margin-bottom: 8px;
            font-size: 12px;
            line-height: 16px;
        }
    }

    &__resdate {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        margin-bottom: 17px;
        flex-basis: 100%;
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #929CBB;

        @media(max-width: 1239px) {
            margin-bottom: 15px;
            font-size: 13px;
            line-height: 22px;
            color: #B0B7CD;
        }

        @media(max-width: 767px) {
            margin-bottom: 16px;
            font-size: 12px;
        }
    }

    &__rescompany {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        align-self: center;

        span {
            display: block;
        }

        :first-child {
            margin-bottom: 4px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;

            @media(max-width: 1239px) {
                margin-bottom: 8px;
                font-size: 14px;
                line-height: 22px;
            }

            @media(max-width: 767px) {
                margin-bottom: 5px;
                font-size: 12px;
            }
        }

        :nth-child(2) {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #AAB5D6;

            @media(max-width: 1239px) {
                font-size: 13px;
                line-height: 22px;
                color: #B0B7CD;
            }

            @media(max-width: 767px) {
                font-size: 11px;
            }
        }
    }

    &__resfooter {
        grid-column: 3 / 4;
        grid-row: 1 / 5;
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        align-items: flex-end;
        flex-grow: 1;

        @media(max-width: 767px) {
            grid-column: 1 / 3;
            grid-row: 5 / 6;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 12px;
            margin-top: 30px;
        }
    }

    &__resstatistic {
        display: flex;
        order: 1;
        justify-content: flex-end;
        align-items: center;
        gap: 45px;
        height: 72px;
        margin-top: auto;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 43px;
        color: #FFFFFF;

        @media(max-width: 1239px) {
            gap: 30px;
            font-size: 14px;
        }

        @media(max-width: 767px) {
            order: 0;
            height: auto;
            gap: 10px;
            margin-right: auto;
        }
    }

    &__resviews,
    &__rescomments {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__resprice {
        margin-bottom: 15px;
        text-align: right;

        @media(max-width: 767px) {
            margin-bottom: 0;
        }

        span {
            display: block;

            &:nth-child(1) {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                color: #FFFFFF;

                @media(max-width: 1239px) {
                    font-size: 18px;
                }

                @media(max-width: 767px) {
                    font-size: 16px;
                }
            }

            &:nth-child(2) {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                color: #D4DEFF;

                @media(max-width: 1239px) {
                    font-size: 11px;
                }

                @media(max-width: 767px) {
                    display: none;
                }
            }
        }
    }

    &__resurgency {
        position: relative;
        // align-self: center;
        padding: 10px 9px 9px 41px;
        font-size: 0;
        border: 1px solid rgb(255, 114, 114);
        border-radius: 10px;

        @media(max-width: 1239px) {
            padding: 8px 9px 8px 36px;
        }

        @media(max-width: 767px) {
            padding: 2px 11px;
            border-radius: 6px;
        }

        &::before {
            position: absolute;
            content: url("../svg/fire.svg");
            top: 50%;
            left: 9px;
            transform: translateY(-50%);

            @media(max-width: 767px) {
                content: none;
            }
        }

        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 20px;
            text-transform: uppercase;
            background: linear-gradient(107.19deg, #FFFFFF 1.5%, rgba(255, 255, 255, 0.5) 109.67%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;

            @media(max-width: 1239px) {
                font-size: 12px;
            }

            @media(max-width: 767px) {
                font-size: 10px;
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.c-pagination {
    padding-top: 60px;
    padding-bottom: 60px;

    &__btn {
        position: relative;
        width: auto;
        padding: 17px 20px 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-transform: none;

        &:first-of-type {
            padding-left: 43px;

            &::after {
                position: absolute;
                content: url("../svg/arr_back.svg");
                top: 19px;
                left: 23px;
            }
        }

        &:nth-of-type(2) {
            padding-right: 43px;

            &::after {
                position: absolute;
                content: url("../svg/arr_back.svg");
                top: 16px;
                right: 23px;
                transform: rotate(180deg);
            }
        }

        &:hover {
            &::before {
                background: transparent;
            }
        }
    }

    &__pages {
        display: flex;
        align-items: stretch;
        gap: 4px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 18px;
        color: #C7C7C7;
    }

    &__link {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &:not(span) {
            cursor: pointer;
        }

        &--active {
            background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
            cursor: default;
        }

        span {
            margin: auto;
        }
    }
}