.c-events {
    padding-top: 15px;
    padding-bottom: 15px;

    &__container {}

    &__title {
        margin: 0;
        margin-bottom: 1rem;
    }

    &__cover {
        margin: 0 0 1rem;

        img {
            width: 100%;
        }
    }

    &__searchblock {

        .c-search {
            &__icon {
                top: 23px;

                @media(min-width: 1200px) {
                    top: 14px;
                }

                &--filter {
                    top: 23px;
                }
            }
        }
    }

    &__filter {

        &[data-active="true"] {
            margin-bottom: 1rem;
        }

        @media(min-width: 1200px) {
            height: auto !important;
            margin-bottom: 1rem;
        }
    }

    &__wrapper {

        &:first-child {
            input {
                margin-left: 0;
            }
        }

        @media(max-width:767px) {
            width: 100%;
        }

        div {
            @media(max-width:767px) {
                width: 100%;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        list-style-type: none;
        padding: 0;
        margin: 0;

        @media(max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        display: block;
        padding: 20px;
        color: inherit;
        text-decoration: none;
        background: #303545;
        border-radius: 8px;
        cursor: pointer;
    }

    &__titlecard {
        margin-bottom: 1rem;
        background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__covercard {
        margin: 0;
        margin-bottom: 1rem;

        img {
            width: 100%;
            // aspect-ratio: 1;
        }
    }

    &__footercard {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__datecard {
        position: relative;
        padding-left: 25px;
        font-size: 12px;
        color: #8b93ab;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: url(../svg/calendar_icon.svg);
            background-repeat: no-repeat;
        }
    }

    &__citycard {
        font-size: 12px;
        color: #8b93ab;
    }
}

.c-event {
    display: grid;
    grid-template-areas: 'e_img e_name'
        'e_img e_about'
        'e_img e_place'
        'e_img e_date'
        'e_img e_contacts'
        'e_btn e_btn';
    grid-template-columns: minmax(50%, 600px) 50%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    gap: 30px;
    padding-top: 15px;

    @media(max-width: 767px) {
        grid-template-columns: 1fr;
    }

    &__title {
        grid-area: e_name;
    }

    &__slider {
        grid-area: e_img;
        aspect-ratio: 1;
        width: 100%;
        max-width: 600px;
        margin: 0;
    }

    &__sliderwrap {
        margin: 0;
    }

    &__about {
        grid-area: e_about;
    }

    &__place {
        grid-area: e_place;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__date {
        grid-area: e_date;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__contacts {
        grid-area: e_contacts;
        display: flex;
        align-items: baseline;
        gap: 30px;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__btn {

        grid-area: e_btn;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}


.Modal-1 {


    position: absolute;
    width: 24px;
    height: 22px;
    right: 30px;
    //top: 25px;
    color: #4f5362;
    border: none;
    //Добавитьо какую то иконку 
    //z-index: 100;
    //cursor: pointer;

}

.conteiner_moda-2 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.mod__open {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.search_mod {
    //display: grid;

    padding: 20px;
    background: linear-gradient(149.17deg, #282D3C 0.97%, rgba(40, 45, 60, 0) 86.74%);
    filter: drop-shadow(0px 0px 70px #202431);
    border-radius: 20px;
    border: 1px solid #363B4C;



}

.search_mod input {
    //display: grid;
    //grid-template-rows: 1fr;
    width: 100%;
    height: 50px;
    background: #262A39;
    border: 1px solid #333B55;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 24px;
    box-sizing: border-box;
    padding: 25px;
    padding-left: 61px;
    color: #FFF;
    position: relative;

}

.modal__close-1 {
    position: absolute;
    width: 24px;
    height: 22px;
    right: 30px;
    top: 25px;
    color: #4f5362;
    border: none;
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI0Y4RjhGOCIgZD0ibTEzLjAxNSAxMSA4LjU2Ny04LjU2N2ExLjQyMyAxLjQyMyAwIDAgMCAwLTIuMDE1IDEuNDI0IDEuNDI0IDAgMCAwLTIuMDE1IDBMMTEgOC45ODUgMi40MzQuNDE4YTEuNDI0IDEuNDI0IDAgMCAwLTIuMDE2IDAgMS40MjMgMS40MjMgMCAwIDAgMCAyLjAxNUw4Ljk4NCAxMSAuNDE4IDE5LjU2N0ExLjQyMyAxLjQyMyAwIDAgMCAxLjQyNiAyMmMuMzY1IDAgLjczLS4xNCAxLjAwOC0uNDE4TDExIDEzLjAxNWw4LjU2NyA4LjU2N2ExLjQyMSAxLjQyMSAwIDAgMCAyLjAxNSAwIDEuNDIzIDEuNDIzIDAgMCAwIDAtMi4wMTVMMTMuMDE1IDExWiIvPjwvc3ZnPg==) center/1em auto no-repeat;
    z-index: 100;
    cursor: pointer;
}

.fa-fa-search {
    display: grid;
    //justify-self: center;
    //float: left;
    width: 20%;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background: linear-gradient(89.03deg, #2c66b8 0.54%, #8859ec 97.66%);
    padding: 10px;
    border-radius: 8px;
    height: 45 px;
    text-decoration: none;
    color: white;
    //display: flex;
    text-align: center;
    //justify-content: space-between;
    font-size: 20px;
}

.polya-1 {}