/* Footer styles */
.c-footer {

    &__container {
        position: relative;
        margin: 0 auto;
        padding-top: 67px;
        height: 450px;
        font-family: "Roboto", sans-serif;
        background: $noble_black;

        &--panel {
            padding-bottom: 65px;

            @media(max-width: 1199px) {
                padding-bottom: 65px; //52px;
            }
        }
    }

    &__nav {
        max-width: 1240px;
        margin: 0 auto 28px;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .c-accordion {

            &__btn {
                padding: 0;
                color: inherit;
                font-size: inherit;
                font-weight: inherit;
                background: none;
                border: none;
                width: 100%;
                box-shadow: none;

                &::after {
                    background-image: url('../svg/icon/down.svg');
                }
            }

            &__body {
                padding: 0;
            }
        }
    }

    &__accordion {}

    &__bottom {
        border-top: 1px solid #353944;
        width: 100%;
        max-width: 1240px;
        left: 50%;
        transform: translateX(-50%);
        height: 84px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #D9DBE1;
        bottom: 65px;
    }

    &__link {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: 300;
        color: #EEEFF4;
        text-decoration: none;
        @extend .c-link;

        span {
            display: inline-block;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
        }
    }

    &__socials {
        display: flex;
        gap: 15px;
    }

    .c-userpanel {
        // display: none;

        top: auto;
        bottom: -1px;
        height: 65px; //52px;
        width: 100%;
        transition: 0.7s;
        z-index: 9999;
        border-top: 1px solid #363C50;
        max-width: 1240px;
        left: 50%;
        transform: translateX(-50%);

        &__icons {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            margin-left: 0;
            margin-top: 0;
            padding: 5px 30px;
        }

        &__icon {
            &:not(.c-userpanel__icon--logo) {
                position: static;
                align-self: center;
                margin: 0;
                filter: invert(70%) sepia(16%) saturate(191%) hue-rotate(199deg) brightness(99%) contrast(88%);

                &.c-userpanel__icon--active {
                    // filter: invert(39%) sepia(18%) saturate(4538%) hue-rotate(228deg) brightness(93%) contrast(90%);
                    filter: invert(35%) sepia(113%) saturate(4472%) hue-rotate(129deg) brightness(93%) contrast(90%) !important
                }
            }

            &--logo {
                margin-bottom: 10px;
                width: 48px;
                margin-bottom: 0;
                background: no-repeat url("../svg/mini_logo.svg") center / 70%;

                img {
                    width: 31px;
                    position: relative;
                    left: 5px;
                    bottom: -4px;
                }
            }

            &--lenta {
                background: no-repeat url("../svg/user_news_page.svg") center / 78%;
            }

            &--blog {
                background: no-repeat url("../svg/blog_menu_icon1.svg") center / 70%;
            }

            &--chats {
                background: no-repeat url("../svg/profile_icon-2.svg") center / 75%;
            }

            &--posts {
                background: no-repeat url("../svg/plus_in_circle.svg") center / 71%;
            }

            &--questions {
                background: no-repeat url("../svg/user_mobile_answers_and_questions.svg") center / 68%;
            }

            &--news {
                background: no-repeat url("../svg/news_menu_icon1.svg") center / 70%;
            }

            &--notify {
                background: no-repeat url("../svg/icon/notifications_icon.svg") center top / 58%;
            }

            &--burger {
                display: block;
                background: no-repeat url("../svg/user_burger_menu.svg") center / 68%;
            }

            &--disabled {
                filter: invert(45%) sepia(16%) saturate(191%) hue-rotate(199deg) brightness(99%) contrast(88%) !important;
            }
        }
    }
}

.c-accordion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #F4F5F7;
    font-weight: 600;

    &__header {
        margin-bottom: 24px;
    }

    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem 1.25rem;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        background-color: #fff;
        border: 0;
        border-radius: 0;
        overflow-anchor: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s;
        cursor: pointer;

        &::after {
            content: "";
            flex-shrink: 0;
            width: 1.25rem;
            height: 1.25rem;
            margin-left: auto;
            background-repeat: no-repeat;
            background-size: 1.25rem;
            transition: transform .2s ease-in-out;
        }

        &:not(.c-accordion__btn--collapsed) {

            &::after {
                transform: rotate(-180deg);
            }
        }
    }

    &__collapse {

        &--collapse {
            // height: 0;
            height: auto;
            max-height: 0;
            overflow: hidden;
            transition: max-height .8s;

            &:not(.c-accordion__collapse--show) {
                // display: none;
            }
        }

        &--show {
            // height: auto;
            // max-height: max-content;
        }
    }

    &__body {
        padding: 1rem 1.25rem;
    }
}

.c-button {

    &__app {
        display: block;
        font-size: 0;
        max-width: 197px;
        height: 57px;
    }
}

.c-socialicon {
    position: relative;

    &__tooltip {
        position: absolute;
        width: 200px;
        height: 120px;
        background-color: $infinity1;
        top: -140px;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid $sceptre_blue;
        border-radius: 10px;
        padding: 20px;
        z-index: 5;

        &::before {
            content: ' ';
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 15px solid $sceptre_blue;
            z-index: -1;
        }

        div {
            margin-bottom: 15px;
        }

        img {
            margin-right: 10px;
        }

        a {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            color: $white;
            text-decoration: none;

            &:hover {
                background: linear-gradient(56.57deg, $hailey_blue 0%, $thick_purple 51.56%, $spicy_pink 105.28%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &--right {

            img {
                width: 18px;
                height: 18px;
            }
        }
    }

    &__link {
        background-color: $blue_nights;
        color: $white;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background: linear-gradient(56.57deg, $hailey_blue 0%, $thick_purple 51.56%, $spicy_pink 105.28%);
            color: white;
        }

        img {
            max-height: 18px;
        }

        &-github {
            position: relative;
            background-color: $white;
            color: $blue_nights;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            font-size: 34px;
            transition: all 0.2s;
            cursor: pointer;

            &:hover {
                i {
                    background: linear-gradient(56.57deg, $hailey_blue 0%, $thick_purple 51.56%, $spicy_pink 105.28%);
                    color: white;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    border-radius: 100%;
                }
            }
        }

        &-reddit {
            background-color: $white;
            color: $blue_nights;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.2s;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                i {
                    background: linear-gradient(56.57deg, $hailey_blue 0%, $thick_purple 51.56%, $spicy_pink 105.28%);
                    color: white;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    border-radius: 100%;
                }
            }
        }

        &-inst {
            font-size: 21px;
        }
    }
}

.fa-github {
    width: 32px;
    height: 32px;
    /* left: -1px; */
    top: -1px;
    position: absolute;
}

.fa-reddit {
    font-size: 34px;
}

.btn-gr {
    border-radius: 3px;
    display: block;
    height: 50px;
    width: 120px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 1px;
    color: $white;
    font-size: 14px;
    text-align: center;
    color: $white;
    font-weight: 500;
    z-index: 1;

    &::after {
        position: absolute;
        content: "";
        display: inline-block;
        background: #3bade3;
        background: linear-gradient(45deg,
                #3bade3 0%,
                #576fe6 25%,
                #9844b7 51%,
                #ff357f 100%);
        height: 50px;
        width: 240px;
        z-index: -1;
        -webkit-transform: translateX(-180px);
        transform: translateX(-180px);
        transition: -webkit-transform 400ms ease-in;
        transition: transform 400ms ease-in;
        transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
    }

    &:hover {
        &::after {
            -webkit-transform: translateX(-130px);
            transform: translateX(-130px);
        }
    }

    span {
        font-size: 13px;
        color: #fff;
        position: relative;
        top: 16px;
    }
}

@media(min-width: 600px) {
    .c-footer {

        &__nav {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                'f_comp f_support'
                'f_rulls f_cem'
                'f_app f_app';
            gap: 25px;
            align-items: flex-start;
            margin-bottom: 12px;
            text-align: left;
        }

        &__accordion {

            &:nth-child(1) {
                grid-area: f_comp;
            }

            &:nth-child(2) {
                grid-area: f_support;
            }

            &:nth-child(3) {
                grid-area: f_rulls;
            }

            &:nth-child(4) {
                grid-area: f_cem;
            }

            &:nth-child(5) {
                grid-area: f_app;
                justify-self: center;
            }

            &:nth-child(5) {
                flex-direction: row;
                align-items: stretch;
                justify-content: center;
                flex-wrap: nowrap;
                width: 100%;
                margin-top: 30px;

                a {
                    display: block;
                    width: 50%;
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .c-accordion {

        &__btn {
            pointer-events: none;

            &::after {
                content: none;
            }
        }

        &__collapse {

            &--collapse {
                display: block;
                max-height: max-content;
            }
        }
    }
}

@media(min-width: 800px) {
    .c-footer {

        &__nav {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
                'f_comp f_support f_rulls'
                'f_cem f_cem f_app';
            align-items: flex-start;
        }

        &__accordion {

            &:nth-child(5) {
                justify-self: stretch;
                align-self: flex-start;
                margin-top: 0;
            }
        }
    }
}

@media(min-width: 1200px) {
    .c-footer {

        &__nav {
            grid-template-areas: 'f_comp f_support f_rulls f_cem f_app';
            grid-template-columns: auto;
            grid-template-rows: auto;
            justify-content: space-between;
        }

        &__accordion {

            &:nth-child(5) {
                flex-direction: column;

                a {
                    width: 150px
                }
            }
        }
    }
}

@media(max-width: 1240px) {
    .c-footer {

        &__container {
            width: calc(100% - 60px);
            margin-left: 30px;
            margin-right: 30px;
            height: auto;
        }

        &__nav {
            justify-content: space-between;
            flex-wrap: wrap;

            .c-accordion {

                &__header {

                    &:nth-child(4) {
                        // width: 70%;
                        // flex-direction: row;
                        // margin-top: 40px;

                        a {
                            margin-right: 21px;
                        }

                        span {
                            width: 100%;
                        }
                    }

                    &:nth-child(5) {
                        // margin-top: 40px;
                    }
                }
            }
        }

        &__bottom {
            position: relative;
            bottom: auto;
        }
    }
}

@media(max-width: 1199px) {
    .c-footer {

        .c-userpanel {
            // display: block;
        }
    }

    .c-socialicon {

        &__tooltip {
            width: 154px;
            left: -50%;
            transform: none;
            z-index: 1000;

            &::before {
                left: 0%;
                transform: none;
            }

            &--right {
                width: 154px;
                right: -50%;
                left: auto;
                transform: none;
                z-index: 1000;

                &::before {
                    right: 0%;
                    left: auto;
                    transform: none;
                }
            }
        }
    }

    .user-left-panel {
        top: auto;
        bottom: -1px;
        height: 52px;
        width: 100%;
        transition: 0.7s;
        z-index: 9999;
        border-top: 1px solid $carbon_blue;

        .user_main_page_logo img {
            width: 31px;
            position: relative;
            left: 5px;
            bottom: -7px;
        }

        .comment_avatar {
            display: none;
        }

        .user_avatar {
            display: none;
        }
    }

    .user_left_menu_description {
        display: none !important;
    }

    .user_icon {
        display: none;

        &:nth-child(8) {
            order: 4;
        }
    }

    .left_panel_icons {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
        padding: 5px 30px;
    }

    .main_site_bottom_menu {
        display: block;
    }

    .footer {
        padding-bottom: 52px;
    }
}

@media(max-width: 1024px) {
    .nav-footer {
        margin-top: 30px;
    }
}

@media(max-width: 970px) {
    .c-footer {

        &__container {
            padding-top: 20px;
        }

        &__nav {}

        &__accordion {

            &:nth-child(4) {
                width: 100%;
                margin-top: 0px;
            }

            &:nth-child(5) {
                margin-top: 0px;
            }

            &-text {
                margin-top: 15px;
            }
        }
    }
}

@media(max-width: 768px) {
    .c-footer {

        &__bottom {
            height: 120px;
            flex-wrap: wrap;
        }

        &__copyright {
            width: 100%;
            text-align: center;
            position: relative;
            top: 60px;
        }

        &__socials {
            position: relative;
            top: -45px;
            left: 50%;
            transform: translateX(-50%);
        }

        .c-accordion {

            &__header {
                margin-bottom: 8px;
                margin-top: 24px;
            }
        }
    }

    .unicode {
        width: 100%;
        text-align: center;
        position: relative;
        top: 60px;
    }
}

@media(max-width: 599px) {
    .c-footer {

        &__accordion {

            &:nth-child(5) {
                flex-direction: row;
                align-items: stretch;
                justify-content: center;
                flex-wrap: nowrap;
                width: 100%;
                margin-top: 30px;

                a {
                    display: block;
                    width: 50%;
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media(max-width: 522px) {
    .user_icon_mobile_visible {
        width: 18px;
        height: 18px;
    }

    .user_icon_only_mobile_visible {
        width: 18px;
        height: 18px;
    }

    .left_panel_icons {
        padding: 5px 20px;
    }
}

@media(max-width: 425px) {
    .nav-footer {
        margin-top: 5px;
    }
}

@media(max-width: 390px) {
    .user_icon_mobile_visible {
        width: 17px;
        height: 17px;
    }

    .user_icon_only_mobile_visible {
        width: 17px;
        height: 17px;
    }

    .left_panel_icons {
        padding: 5px 10px;
    }
}