.с-summerforum {
    background: url("../images/summer_forum/left.png") no-repeat top 4500px left calc(50% - 600px)/300px auto,
        url("../images/summer_forum/right.png") no-repeat top 4000px right calc(50% - 315px)/860px auto,
        url("../images/summer_forum/bottom.png") no-repeat bottom 729px center/1500px auto;
    background-color: #171717;

    @media(max-width: 1279px) {
        background-position: top 3100px left calc(50% - 506px), top 2450px left calc(50% + 188px), bottom 729px center;
        background-size: 20% auto, 1140px auto, 1521px auto;
    }

    @media(max-width: 1099px) {
        background-position: top 3200px left, top 3000px right, bottom 729px center;
        background-size: 20% auto, 500px auto, contain;
    }

    @media(max-width: 1023px) {
        background-position: top 3200px left, top 2900px right, bottom 729px center;
        background-size: 20% auto, 500px auto, contain;
    }

    @media(max-width: 979px) {
        background-position: top 2650px left, top 2400px right, bottom 729px center;
        background-size: 20% auto, 380px auto, contain;
    }

    @media(max-width: 899px) {
        background-position: top 2750px left, top 2500px right, bottom 729px center;
        background-size: 20% auto, 380px auto, contain;
    }

    @media(max-width: 799px) {
        background-position: top 2750px left, top 2500px right, bottom 729px center;
        background-size: 20% auto, 380px auto, contain;
    }

    @media(max-width: 767px) {
        background-position: top 3500px left, top 2800px right, bottom 429px center;
        background-size: 20% auto, 380px auto, contain;
    }

    @media(max-width: 699px) {
        background-position: top 3270px left, top 2500px right, bottom 429px center;
        background-size: 20% auto, 380px auto, contain;
    }

    @media(max-width: 599px) {
        background-position: top 2832px left, top 2200px right, bottom 429px center;
        background-size: 20% auto, 300px auto, contain;
    }

    @media(max-width: 499px) {
        background-position: top 1740px left, top 1570px left calc(100%), bottom 429px center;
        background-size: 20% auto, 50% auto, contain;
    }

    &__title {
        margin: 25px 0;
        font-size: 4.7vw; //90px;
        font-weight: 700;
        text-align: center;

        @media(max-width: 767px) {
            font-size: 7.7vw;
        }

        @media(min-width: 1280px) {
            font-size: 90px;
        }
    }

    .c-container {
        // max-width: 1920px;
    }

    .page-content {
        background: transparent;
    }

    .c-button {
        display: inline-flex;
        width: auto;
        height: auto;
        text-transform: none;
        border-radius: 1.77vw; //34px;
        min-width: 200px;

        &::after {
            content: none;
        }

        &__text {
            padding: 1.9vw 3.6vw;
            // padding: 27px 55px;
            font-size: 27px;
            font-weight: 700;

            @media(max-width: 1279px) {
                // padding: 20px 40px;
                // font-size: 23px;
                font-size: 1.5vw;
            }


            @media(max-width: 767px) {
                padding: 2.9vw 4.6vw;
                font-size: 4vw;
            }

            @media(min-width: 1280px) {
                padding: 27px 55px;
            }
        }
    }
}

.c-aboutforum {
    position: relative;
    padding-top: 133px;
    // padding-bottom: 80px;
    background: url("../images/summer_forum/circles.png") no-repeat top 926px left calc(50% + 570px)/1200px;

    @media(max-width: 1279px) {
        padding-top: 50px;
        background-position: top 750px left calc(50% + 570px);
        // background-position: top 544px left calc(50% + 330px);
        background-size: 841px;
    }

    @media(max-width: 1199px) {
        background-position: top 671px left calc(50% + 330px);
        background-size: 900px;
    }

    @media(max-width: 1099px) {
        background-position: top 693px left calc(50% + 330px);
        background-size: 890px;
    }

    @media(max-width: 1023px) {
        background-position: top 693px left calc(50% + 330px);
        background-size: 890px;
    }

    @media(max-width: 979px) {
        background-position: top 613px left calc(50% + 330px);
        background-size: 700px;
    }

    @media(max-width: 799px) {
        background-position: top 544px left calc(50% + 330px);
        background-size: 841px;
    }

    @media(max-width: 767px) {
        padding-top: 10px;
        background-position: top 544px left calc(50% + 330px);
        background-size: 841px;
    }

    @media(max-width: 699px) {
        background-position: top 454px left calc(50% + 340px);
        background-size: 770px;
    }

    @media(max-width: 600px) {
        background-position: top 427px left calc(50% + 238px);
        background-size: 680px;
    }

    @media(max-width: 499px) {
        background-position: top 374px left calc(50% + 238px);
        background-size: 576px;
    }

    @media(max-width: 479px) {
        background-position: top 325px left calc(50% + 200px);
        background-size: 480px
            /*top 330px right -490px/700px*/
        ;

    }

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        width: 100%;
        max-width: 1500px;
        height: 850px;
        transform: translateX(-50%);
        background: url("../svg/summer_forum/after.svg") no-repeat top 80px center/cover;

        @media(max-width: 1279px) {
            background-position: top -72px center;
        }

        @media(max-width: 1179px) {
            background-position: top -23px center;
            height: 670px;
        }

        @media(max-width: 1024px) {
            height: 630px;
        }

        @media(max-width: 820px) {
            background-position: top -55px center;
        }

        @media(max-width: 767px) {
            height: 435px;
            background-position: top center;
        }

        @media(max-width: 599px) {
            height: 334px; //850px;
        }

        @media(max-width: 400px) {
            height: 262px;
        }
    }

    &__title {}

    &__cover {
        display: flex;
        align-items: center;
        gap: 5%;
        padding: 0 2.5%;
        margin-bottom: 100px;
        background: rgb(1, 200, 171);
        background: linear-gradient(90deg, rgba(1, 200, 171, 1) 0%, rgba(2, 195, 167, 1) 13%, rgba(4, 180, 154, 1) 28%, rgba(7, 155, 133, 1) 45%, rgba(11, 121, 105, 1) 62%, rgba(16, 76, 67, 1) 81%, rgba(23, 23, 23, 1) 100%);
        border-radius: 6vw; //65px;

        @media(max-width: 979px) {
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 40px;
            // border-radius: 30px;
        }

        @media(max-width: 767px) {
            // border-radius: 0;
        }

        @media(max-width: 599px) {
            // flex-direction: column;
            // gap: 18px;
        }

        @media(min-width: 1280px) {
            border-radius: 65px;
        }

        .c-button {
            margin-bottom: 0 !important;
            min-width: auto;

            &__text {

                @media(max-width: 767px) {
                    font-size: 3vw;
                }
            }
        }
    }

    &__logo {
        flex-basis: 60%;
        flex-grow: 0;
        flex-shrink: 0;
        margin: -35px 0 0;
        z-index: 2;

        @media(max-width: 1279px) {
            flex-basis: 50%;
            margin: 0;
        }

        @media(max-width: 599px) {
            max-width: 300px;
        }

        img {
            width: 100%;
        }
    }

    &__caption {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        z-index: 2;

        @media(max-width: 599px) {
            // align-items: center;
            // text-align: center;
        }

        h2 {
            margin-top: 0;
            font-size: 45px;
            line-height: 62.1px;
            text-align: left;

            @media(max-width: 1279px) {
                font-size: 38px;
                line-height: 115%;
                max-width: 350px;
            }

            @media(max-width: 979px) {
                font-size: 32px;
            }


            @media(max-width: 767px) {
                font-size: 24px;
                margin-bottom: 1.5rem;
            }

            @media(max-width: 599px) {
                font-size: 17px;
                margin-bottom: 1rem;
            }

            @media(max-width: 389px) {
                font-size: 14px;
            }
        }

        span {
            display: block;
            margin-bottom: 45px;
            font-size: 39px;
            font-weight: 300;

            @media(max-width: 1279px) {
                font-size: 33px;
            }

            @media(max-width: 979px) {
                font-size: 30px;
            }


            @media(max-width: 767px) {
                font-size: 20px;
                margin-bottom: 1.5rem;
            }

            @media(max-width: 599px) {
                font-size: 15px;
                margin-bottom: 1rem;
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        padding-bottom: 183px;

        @media(max-width: 1279px) {
            padding-bottom: 80px;
        }

        @media(max-width: 767px) {
            padding-bottom: 10vw;
        }

        p {
            display: block;
            width: 100%;
            // max-width: 850px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            padding: 8px 20px;
            font-size: 43px;
            // text-indent: 50px;
            text-align: left;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 10px;

            b {
                color: #02C6A9;
            }

            @media(max-width: 1279px) {
                font-size: 30px;
            }

            @media(max-width: 979px) {
                margin-bottom: 30px;
                font-size: 26px;
            }

            @media(max-width: 767px) {
                font-size: 3.6vw;
                margin-bottom: 5vw;
                padding: 8px;
            }

            &:first-child {
                width: 70%;
                max-width: 850px;
                padding: 0;
                font-size: 45px;
                text-align: center;
                background: none;
                border: none;

                @media(max-width: 1279px) {
                    font-size: 32px;
                }

                @media(max-width: 979px) {
                    font-size: 28px;
                }

                @media(max-width: 767px) {
                    font-size: 4vw;
                }
            }

            &:last-of-type {
                padding: 0;
                margin-bottom: 80px;
                background: none;
                border: none;

                @media(max-width: 767px) {
                    margin-bottom: 5vw;
                }
            }
        }

        .c-button {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 80px;


            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .c-container {

        @media(min-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .c-button {
        display: inline-flex;
        width: auto;
        height: auto;
        text-transform: none;
        background: rgb(100, 70, 210);
        background: linear-gradient(90deg, rgba(100, 70, 210, 1) 0%, rgba(100, 82, 208, 1) 13%, rgba(98, 114, 203, 1) 38%, rgba(96, 166, 195, 1) 70%, rgba(94, 221, 187, 1) 100%);
        border-radius: 1.77vw; //34px;

        @media(max-width: 767px) {
            margin-bottom: 10vw;
        }

        &::after {
            content: none;
        }
    }

    .swiper {
        &-container {
            width: 100%;

            @media(max-width: 1479px) {
                max-width: calc(100% - 230px);
            }

            @media(max-width: 1279px) {
                max-width: calc(100% - 110px);
            }

            @media(max-width: 767px) {
                max-width: calc(100% - 40px);
            }
        }

        &-wrapper {
            margin-bottom: 0 !important;
        }

        &-button {

            &-next,
            &-prev {
                top: 50% !important;
                width: 79px !important;
                height: 109px !important;
                margin-top: 0;
                background: transparent;
                box-shadow: none;

                @media(max-width: 1279px) {
                    width: 5vw !important; //50px !important;
                    height: auto !important;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-prev {
                left: 0 !important;
                transform: translateX(-100px) translateY(-50%);

                @media(max-width: 1279px) {
                    transform: translateX(-55px) translateY(-50%);
                }

                @media(max-width: 767px) {
                    transform: translateX(-25px) translateY(-50%);
                }
            }

            &-next {
                right: 0 !important;
                transform: translateX(100px) translateY(-50%) rotate(180deg);

                @media(max-width: 1279px) {
                    transform: translateX(55px) translateY(-50%) rotate(180deg);
                }

                @media(max-width: 767px) {
                    transform: translateX(25px) translateY(-50%) rotate(180deg);
                }
            }
        }
    }
}

.c-speakers {
    display: flex;
    flex-direction: column;
    padding-bottom: 180px;

    @media(max-width: 1279px) {
        padding-bottom: 80px;
    }

    @media(max-width: 767px) {
        padding-bottom: 8vw;
    }

    &__title {
        margin: 0 0 80px;

        @media(max-width: 767px) {
            margin-bottom: 8vw;
        }
    }

    &__list {
        list-style-type: none;
        margin: 0 auto 100px;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content;
        gap: 8vw;
        justify-content: space-between;
        // align-items: baseline;
        width: 100%;
        height: auto;

        @media(max-width: 1279px) {
            // grid-template-columns: repeat(2, 1fr);
            // margin-bottom: 60px;
            margin-bottom: 5vw;
            gap: 7vw;
        }

        @media(max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 5vw;
            gap: 3vw;
        }

        @media(min-width: 1280px) {
            gap: 80px;
        }

        li {
            flex-shrink: 1;
            justify-self: center;
            width: 100%;
            max-width: 318px;

            // &:nth-child(odd) {
            //     @media(max-width: 1279px) {
            //         justify-self: flex-end;
            //     }

            // }

            &:nth-child(even) {
                @media(max-width: 767px) {
                    justify-self: flex-start;
                }
            }

            @media(max-width: 1023px) {
                width: 94%;
            }

            @media(max-width: 767px) {
                width: calc(100% - 30px);
                max-width: 318px;
                margin-bottom: 0.6rem;
            }

            &:nth-last-of-type(1),
            &:nth-last-of-type(2),
            &:nth-last-of-type(3) {

                @media(max-width: 767px) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__item {
        margin: 0;

        img {
            position: relative;
            width: 100%;
            border-radius: 50%;
            border: 2px solid #00D5BE;
            z-index: 2;
        }
    }

    &__wrappper {
        // position: relative;
        margin-bottom: 11%;

        // &::before {
        //     position: absolute;
        //     left: 50%;
        //     top: 50%;
        //     transform: translateY(-50%) translateX(-45%);
        //     content: '';
        //     width: 104%;
        //     height: 104%;
        //     border-radius: 50%;
        //     background: rgb(187, 248, 191);
        //     background: linear-gradient(90deg, rgba(187, 248, 191, 1) 56%, rgba(0, 161, 159, 1) 100%);

        //     @media(max-width: 767px) {
        //         left: 50%;
        //         top: 50%;
        //         transform: translateY(-52.5%) translateX(-40%);
        //         width: 100%;
        //         height: 100%;
        //     }
        // }
    }

    &__caption {
        // margin-right: -10%;
        text-align: center;

        h3 {
            white-space: nowrap;

            @media(max-width: 1279px) {
                font-size: 1.5vw;
                margin-bottom: 0.3rem;
            }

            @media(max-width: 767px) {
                font-size: 3.3vw;
                margin-bottom: 0.2rem;
            }
        }

        p {
            font-size: 1.1rem;
            margin-bottom: 0;

            @media(max-width: 1279px) {
                font-size: 1.1vw;
            }

            @media(max-width: 767px) {
                font-size: 2.5vw;
            }
        }
    }

    .c-button {
        background: rgb(100, 70, 210);
        background: linear-gradient(90deg, rgba(100, 70, 210, 1) 0%, rgba(11, 218, 252, 1) 100%);
        margin-left: auto;
        margin-right: auto;

        @media(max-width: 1279px) {
            // margin-right: auto;
        }
    }
}

.c-eventmap {
    display: flex;
    flex-direction: column;
    padding-bottom: 180px;

    @media(max-width: 1279px) {
        padding-bottom: 80px;
    }

    @media(max-width: 767px) {
        padding-bottom: 8vw;
    }

    &__title {
        margin: 25px 0;
        text-align: center;
    }

    &__image {
        display: none;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

        @media(max-width: 1023px) {
            display: block;
            margin-bottom: 100px;
            width: 100%;
        }

        @media(max-width: 767px) {
            margin-bottom: 5vw;
        }
    }

    &__wrapper {
        position: relative;
        margin-bottom: 100px;

        @media(max-width: 1023px) {
            display: none;
        }
    }

    &__imagebg {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

        @media(max-width: 1023px) {
            display: none;
        }
    }

    &__highlight {
        position: absolute;
        left: 11%;
        min-width: 150px;
        // height: 19px;
        padding: 3px 3px 3px 20px;
        font-size: 12px;
        border: 1px solid transparent;
        border-radius: 5px;
        box-shadow: 0 0 4px 2px transparent;
        transition: .2s;
        cursor: pointer;

        &::before {
            position: absolute;
            content: '';
            top: 4px;
            left: 5px;
            width: 10px;
            height: 10px;
            background: #ffffff;
            border-radius: 50%;
        }

        // &--general {
        //     top: 36%;

        //     &:hover {
        //         border: 1px solid #00a69c;
        //         box-shadow: 0 0 4px 2px #00a69c;

        //         &~.c-eventmap {
        //             &__zone {
        //                 &[data-zone="general"] {
        //                     border: 1px solid #00a69c;
        //                     box-shadow: 0 0 4px 2px #00a69c;
        //                 }
        //             }
        //         }
        //     }
        // }

        /* Вход */
        &--entrance {
            top: 9%;

            &::before {
                background-color: #ff1d1d;
            }

            &:hover {
                border: 1px solid #ff1d1d;
                box-shadow: 0 0 4px 2px #ff1d1d;

                &~.c-eventmap {
                    &__area {
                        &[data-zone="entrance"] {
                            background: rgba(255, 255, 238, .5);
                        }
                    }

                    &__areapopup {
                        &--entrance {
                            display: flex;
                        }
                    }
                }
            }
        }

        /* Регистрация */
        &--registration {
            top: 12%;

            @media(max-width: 1239px) {
                top: 13%;
            }

            &::before {
                background-color: #f86901;
            }

            &:hover {
                border: 1px solid #f86901;
                box-shadow: 0 0 4px 2px #f86901;

                &~.c-eventmap {
                    &__area {
                        &[data-zone="registration"] {
                            background: rgba(255, 255, 238, .5);
                        }
                    }

                    &__areapopup {
                        &--registration {
                            display: flex;
                        }
                    }
                }
            }
        }

        /* Буфет */
        &--buffet {
            top: 15%;

            @media(max-width: 1239px) {
                top: 17%;
            }

            &::before {
                background-color: #f5d401;
            }

            &:hover {
                border: 1px solid #f5d401;
                box-shadow: 0 0 4px 2px #f5d401;

                &~.c-eventmap {
                    &__area {
                        &[data-zone="buffet"] {
                            background: rgba(255, 255, 238, .5);
                        }
                    }

                    &__areapopup {
                        &--buffet {
                            display: flex;
                        }
                    }
                }
            }
        }

        /* Фотозона */
        &--photozone {
            top: 18%;

            @media(max-width: 1239px) {
                top: 21%;
            }

            &::before {
                background-color: #00723e;
            }

            &:hover {
                border: 1px solid #00723e;
                box-shadow: 0 0 4px 2px #00723e;

                &~.c-eventmap {
                    &__area {
                        &[data-zone="photozone"] {
                            background: rgba(255, 255, 238, .5);
                        }
                    }

                    &__areapopup {
                        &--photozone {
                            display: flex;
                        }
                    }
                }
            }
        }

        /* Зона отдыха */
        &--restzone {
            top: 21%;

            @media(max-width: 1239px) {
                top: 25%;
            }

            &::before {
                background-color: #065ad2;
            }

            &:hover {
                border: 1px solid #065ad2;
                box-shadow: 0 0 4px 2px #065ad2;

                &~.c-eventmap {
                    &__area {
                        &[data-zone="restzone"] {
                            background: rgba(255, 255, 238, .5);
                        }
                    }

                    &__areapopup {
                        &--restzone {
                            display: flex;
                        }
                    }
                }
            }
        }

        /* Сцена */
        &--scene {
            top: 24%;

            @media(max-width: 1239px) {
                top: 29%;
            }

            &::before {
                background-color: #290699;
            }

            &:hover {
                border: 1px solid #290699;
                box-shadow: 0 0 4px 2px #290699;

                &~.c-eventmap {
                    &__area {
                        &[data-zone="scene"] {
                            background: rgba(255, 255, 238, .5);
                        }
                    }

                    &__areapopup {
                        &--scene {
                            display: flex;
                        }
                    }
                }
            }
        }

        &--ourstand {
            top: 27%;

            @media(max-width: 1239px) {
                top: 33%;
            }

            &::before {
                background-color: #C126CE;
            }

            &:hover {
                border: 1px solid #C126CE;
                box-shadow: 0 0 4px 2px #C126CE;

                &~.c-eventmap {
                    &__area {
                        &[data-zone="ourstand"] {
                            background: rgba(255, 255, 238, .5);
                        }
                    }

                    &__areapopup {
                        &--ourstand {
                            display: flex;
                        }
                    }
                }
            }
        }

        /* Свободные стенды */
        &--freestands {
            top: 48%;

            &::before {
                background-color: #065ad2;
            }

            &:hover {
                border: 1px solid #065ad2;
                box-shadow: 0 0 4px 2px #065ad2;

                &~.c-eventmap {
                    &__zone {
                        &[data-zone="freestands"] {
                            border: 1px solid #065ad2;
                            box-shadow: 0 0 4px 2px #065ad2;
                        }
                    }
                }
            }
        }

        /* Зарезервированные стенды */
        &--reservedstands {
            top: 51%;

            @media(max-width: 1239px) {
                top: 52%;
            }

            &::before {
                background-color: #ff1d1d;
            }

            &:hover {
                border: 1px solid #ff1d1d;
                box-shadow: 0 0 4px 2px #ff1d1d;

                &~.c-eventmap {
                    &__zone {
                        &[data-zone="reservedstands"] {
                            border: 1px solid #ff1d1d;
                            box-shadow: 0 0 4px 2px #ff1d1d;
                        }
                    }
                }
            }
        }
    }

    &__zone {
        display: flex;
        border: 1px solid #00a69c;

        &:hover {
            box-shadow: 0 0 4px 2px #00a69c;

            &[data-zone="freestands"],
            &[data-zone="reservedstands"] {
                box-shadow: none;
            }

            .c-eventmap {
                &__popup {
                    display: grid;
                }
            }
        }

        &[data-zone="freestands"] {
            &:hover {
                box-shadow: 0 0 4px 2px #065ad2;
            }

            &~.c-eventmap {
                &__zone {
                    .c-eventmap__popup {
                        grid-template-columns: 50px 1fr;
                        gap: 10px;
                        min-height: 70px;
                        padding: 12px;
                    }
                }
            }
        }

        &[data-zone="reservedstands"] {
            &:hover {
                box-shadow: 0 0 4px 2px #ff1d1d;
            }
        }

        &--1 {
            position: absolute;
            top: 39%;
            left: 70%;
            width: 2%;
            height: 5.2%;
        }

        &--2 {
            position: absolute;
            top: 44%;
            left: 70%;
            width: 2%;
            height: 5%;
        }

        &--3 {
            position: absolute;
            top: 49%;
            left: 70%;
            width: 2%;
            height: 5%;
        }

        &--4 {
            position: absolute;
            top: 54%;
            left: 70%;
            width: 2%;
            height: 5.5%;
        }

        &--5 {
            position: absolute;
            top: 61.5%;
            left: 70%;
            width: 2%;
            height: 5%;
            border-color: #7fff00;
            color: #7fff00;
        }

        &--6 {
            position: absolute;
            top: 69.3%;
            left: 70%;
            width: 2%;
            height: 5%;
        }

        &--7 {
            position: absolute;
            top: 74.3%;
            left: 70%;
            width: 2%;
            height: 5%;
        }

        &--8 {
            position: absolute;
            top: 79.3%;
            left: 70%;
            width: 2%;
            height: 5%;
        }

        &--9 {
            position: absolute;
            top: 84.3%;
            left: 70%;
            width: 2%;
            height: 5%;
        }

        &--10 {
            position: absolute;
            top: 89.3%;
            left: 70%;
            width: 2%;
            height: 5%;
        }

        &--11 {
            position: absolute;
            top: 92.3%;
            left: 66%;
            width: 3%;
            height: 3%;
        }

        &--12 {
            position: absolute;
            top: 92.3%;
            left: 63%;
            width: 3%;
            height: 3%;
        }

        &--13 {
            position: absolute;
            top: 92.3%;
            left: 60%;
            width: 3%;
            height: 3%;
        }

        &--14 {
            position: absolute;
            top: 89%;
            left: 57%;
            width: 2%;
            height: 5%;
        }

        &--15 {
            position: absolute;
            top: 84%;
            left: 57%;
            width: 2%;
            height: 5%;
        }

        &--16 {
            position: absolute;
            top: 79%;
            left: 57%;
            width: 2%;
            height: 5%;
        }

        &--17 {
            position: absolute;
            top: 74%;
            left: 57%;
            width: 2%;
            height: 5%;
        }

        &--18 {
            position: absolute;
            top: 69%;
            left: 57%;
            width: 2%;
            height: 5%;
        }

        &--19 {
            position: absolute;
            top: 84.5%;
            left: 63.5%;
            width: 2%;
            height: 5%;
        }

        &--20 {
            position: absolute;
            top: 76%;
            left: 63.5%;
            width: 2%;
            height: 5%;
            border-color: #ff8c00;
            color: #ff8c00;
        }

        &--21 {
            position: absolute;
            top: 71%;
            left: 63.5%;
            width: 2%;
            height: 5%;
            border-color: #ff8c00;
            color: #ff8c00;
        }

        &--22 {
            position: absolute;
            top: 54%;
            left: 63.5%;
            width: 2%;
            height: 5%;
            border-color: #ff8c00;
            color: #ff8c00;
        }

        &--23 {
            position: absolute;
            top: 49%;
            left: 63.5%;
            width: 2%;
            height: 5%;
            border-color: #ff8c00;
            color: #ff8c00;
        }

        &--24 {
            position: absolute;
            top: 41%;
            left: 63.5%;
            width: 2%;
            height: 5%;
        }

        &--25 {
            position: absolute;
            top: 32%;
            left: 50%;
            width: 5%;
            height: 3%;
            border-color: #8846D3;
            color: #8846D3;
        }

        &--26 {
            position: absolute;
            top: 75.5%;
            left: 43.5%;
            width: 4.5%;
            height: 3%;
            border-color: #8846D3;
            color: #8846D3;
        }
    }

    &__titlezone {
        display: block;
        margin: auto;
        font-weight: 700;
        font-size: 14px;
        color: inherit;
        text-align: center;
    }

    &__popup {
        // display: grid;
        display: none;
        grid-template-columns: 100px 1fr;
        gap: 15px;
        align-items: center;
        min-height: 100px;
        padding: 20px;
        width: 360px;
        border-radius: 5px;
        background: #fff;
        color: #000;
        z-index: 2;

        &--righttop {
            position: absolute;
            top: 0;
            left: 100%;
            transform: translateY(-100%);
        }
    }

    &__linkzone {
        line-height: 1;
        text-align: center;

        img {
            height: auto;
            width: 100%;
        }

        span {
            position: relative;
            top: 5px;
            color: #0072ff;
            font-size: 11px;
            font-weight: 300;
            letter-spacing: .08em;
            line-height: 10px;
            text-align: center;
        }

        &+span {
            color: #000;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: .02em;
            line-height: 130%;
            text-align: left;
            text-transform: none;
        }
    }

    &__area {
        position: absolute;
        cursor: pointer;

        &:hover {
            background: rgba(255, 255, 238, .5);
        }

        // &--conferencehall {}

        &--entrance {
            width: 5%;
            height: 7%;
            top: 5%;
            left: 57%;

            &:hover {
                &~.c-eventmap {
                    &__areapopup--entrance {
                        display: flex;
                    }
                }
            }
        }

        &--registration {
            width: 9%;
            height: 12%;
            top: 13%;
            left: 49.3%;

            &:hover {
                &~.c-eventmap {
                    &__areapopup--registration {
                        display: flex;
                    }
                }
            }
        }

        &--scene {
            width: 8.5%;
            height: 4%;
            top: 75%;
            left: 48.4%;

            &:hover {
                &~.c-eventmap {
                    &__areapopup--scene {
                        display: flex;
                    }
                }
            }
        }

        &--buffet {
            width: 15.8%;
            height: 26%;
            top: 9.5%;
            left: 33.5%;

            &:hover {
                &~.c-eventmap {
                    &__areapopup--buffet {
                        display: flex;
                    }
                }
            }
        }

        &--photozone {
            width: 9%;
            height: 15%;
            top: 45%;
            left: 33.5%;

            &:hover {
                &~.c-eventmap {
                    &__areapopup--photozone {
                        display: flex;
                    }
                }
            }
        }

        &--restzone {
            width: 6.8%;
            height: 11.5%;
            top: 66.5%;
            left: 27%;

            &:hover {
                &~.c-eventmap {
                    &__areapopup--restzone {
                        display: flex;
                    }
                }
            }
        }

        &--ourstand {
            width: 6.8%;
            height: 4.5%;
            top: 34.8%;
            left: 49%;

            &:hover {
                &~.c-eventmap {
                    &__areapopup--ourstand {
                        display: flex;
                    }
                }
            }
        }
    }

    &__areapopup {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        width: 300px;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        border-radius: 5px;
        overflow: hidden;

        &--entrance {

            @media(max-width: 1239px) {
                top: 56%;
            }
        }

        &--registration {

            @media(max-width: 1239px) {
                top: 57%;
            }
        }

        &--buffet {
            left: 55%;

            @media(max-width: 1239px) {
                top: 66%;
            }
        }

        &--photozone {
            left: 55%;

            @media(max-width: 1239px) {
                left: 60%;
            }
        }

        &--restzone {

            @media(max-width: 1239px) {
                left: 51%;
            }
        }

        &--scene {
            top: 46%;

            @media(max-width: 1239px) {
                top: 43%;
            }
        }

        &--ourstand {
            left: 68%;

            @media(max-width: 1239px) {
                left: 73%;
            }
        }
    }

    &__areatitle {
        padding: 20px;
        // background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
        background: rgb(100, 70, 210);
        background: linear-gradient(90deg, rgba(100, 70, 210, 1) 0%, rgba(100, 82, 208, 1) 13%, rgba(98, 114, 203, 1) 38%, rgba(96, 166, 195, 1) 70%, rgba(94, 221, 187, 1) 100%);

        h5 {
            margin: 0 auto;
            font-weight: 600;
            letter-spacing: .04em;
            color: white;
        }
    }

    &__areaphoto {
        margin: 0;
        line-height: 1;
        font-size: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__areainfo {
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        letter-spacing: .04em;
        line-height: 1.3;
        text-align: left;
        color: black;

        p {
            margin: 0;
        }
    }

    .c-button {
        margin-left: auto;
        margin-right: auto;
        background: rgb(100, 70, 210);
        background: linear-gradient(360deg, rgba(100, 70, 210, 1) 0%, rgba(103, 74, 211, 1) 16%, rgba(113, 85, 214, 1) 30%, rgba(129, 104, 218, 1) 45%, rgba(152, 131, 225, 1) 59%, rgba(181, 166, 233, 1) 73%, rgba(216, 208, 244, 1) 87%, rgba(255, 255, 255, 1) 100%);

        @media(max-width: 1279px) {
            // margin-right: auto;
            // margin-right: 10%;
        }
    }
}

.с-guests {
    padding-bottom: 180px;

    @media(max-width: 1279px) {
        padding-bottom: 80px;
    }

    @media(max-width: 767px) {
        padding-bottom: 8vw;
    }

    &__title {
        margin: 25px auto;
        max-width: 890px;

        @media(max-width: 1279px) {
            max-width: 600px;
        }

        @media(max-width: 1023px) {
            max-width: 480px;
        }

        @media(max-width: 991px) {
            max-width: 460px;
        }

        @media(max-width: 767px) {
            margin-bottom: 8vw;
            max-width: 590px;
        }

        @media(max-width: 600px) {
            max-width: 100%;
        }

        @media(max-width: 499px) {
            // max-width: 283px;
        }
    }

    &__list {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        // gap: 3vw;
        width: 100%;
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;

        @media(max-width: 767px) {
            flex-wrap: wrap;
            gap: 6vw;
        }

        li {
            flex-basis: calc(25% - 2.25vw);
            flex-shrink: 0;
            flex-grow: 0;

            @media(max-width: 767px) {
                flex-basis: calc(50% - 3vw);
            }
        }
    }

    &__item {
        display: flex;
        max-width: 300px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        color: inherit;
        cursor: pointer;

        @media(max-width: 1279px) {
            // padding: 1vw 3vw;
        }

        @media(max-width: 767px) {
            max-width: 100%;
            // aspect-ratio: 2.5;
        }

        figure {
            margin: 0;
        }

        figcaption {
            text-align: center;

            p {
                max-width: 78%;
                margin: 0 auto;

                @media(max-width: 767px) {
                    font-size: 2.7vw;
                }
            }
        }

        h5 {
            margin: auto;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            text-align: center;
            color: #ffffff;
            white-space: nowrap;

            @media(max-width: 1279px) {
                font-size: 1.6vw;
            }

            @media(max-width: 767px) {
                font-size: 3.5vw;
            }
        }
    }

    &__wrap {
        margin-bottom: 1rem;
        aspect-ratio: 1.77;
        // border: 1px solid #6747CD;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto
        }
    }
}

.c-partnersforum {
    display: flex;
    flex-direction: column;
    padding-bottom: 180px;

    // @media(max-width: 1279px) {
    //     padding-bottom: 80px;
    // }

    @media(max-width: 1279px) {
        padding-bottom: 8vw;
    }

    &__list {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
        margin-bottom: 100px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @media(max-width: 1279px) {
            margin-bottom: 60px;
        }

        // @media(max-width: 1024px) {
        //     grid-template-columns: calc(50% - 5px) calc(50% - 5px);
        // }

        @media(max-width: 767px) {
            grid-template-columns: calc(50% - 5px) calc(50% - 5px);
            margin-bottom: 5vw;
        }
    }

    &__item {
        display: flex;
        width: 100%;
        text-align: center;
        // background: #ffffff;
        border: 1px solid #01c8ab;
        border-radius: 10px;
        overflow: hidden;

        img {
            max-width: 82%;
            margin: auto;
        }
    }

    .c-button {
        background: rgb(100, 70, 210);
        background: linear-gradient(270deg, rgba(100, 70, 210, 1) 0%, rgba(11, 218, 252, 1) 100%);
        margin-left: auto;
        margin-right: auto;

        // @media(max-width: 1279px) {
        //     // margin-right: auto;
        //     margin-right: 10%;
        // }
    }
}

.c-localmap {

    &__map {
        width: 100%;
        max-width: 1500px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;

        @media(max-width: 767px) {
            height: 400px;
        }
    }
}

//TIWO
.wrap_e9e7 {
    left: auto !important;
    right: 10px !important;
    bottom: 47px !important;

    .button_beaa {
        background: #01c8ab !important;
    }
}