.c-groupimage {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    gap: 3px;
    max-width: 203px;

    &__item {
        position: relative;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 7.5px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }

        &--more {
            display: flex;

            &::before {
                background: rgba(0, 0, 0, 0.6);
            }
        }

        .controls {
            bottom: auto;
            top: 50%;
        }
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        margin: 0 !important;

        &.video_container {

            .progress_player,
            .time {
                display: none;
            }
        }
    }

    &__counter {
        display: inline-block;
        margin: auto;
        color: #ffffff;
        z-index: 3;
        font-weight: 700;
    }
}

.c-viewarrmedia {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &__item {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__image {
        width: 100%;
    }
}