/* Lenta styles */
.user {

    &_news {

        &_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            align-self: flex-start;

            .button-container-comm {
                left: 0;
                -webkit-transform: translate(0);
                transform: translate(0);
            }
        }

        &_title {
            display: flex;

            img {
                filter: invert(89%) sepia(2%) saturate(2555%) hue-rotate(194deg) brightness(103%) contrast(102%);
                position: relative;
                bottom: 5px;
                margin-left: 15px;
                cursor: pointer;
            }
        }

        &_filter {
            margin-top: 15px;

            &_summoner {
                cursor: pointer;
                font-weight: 500;

                img {
                    height: 12px;
                    position: relative;
                    bottom: 2px;
                }
            }

            &_checkbox {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                width: 30%;
                min-width: 150px;
                justify-content: center;

                &es {
                    display: flex;
                }

                p {
                    margin-right: 15px;
                    margin-bottom: 0;
                    width: 40px;
                    font-size: 12px;
                    font-weight: 500;
                }
            }

            .questions_filter_language {
                margin-left: 0;
                margin-top: 0;
                width: auto;
                height: 65px;
            }
        }
    }

    &s {
        &_news {
            max-width: 1240px;
            margin: 0 auto;
            // margin-top: 40px;

            .justselect {
                &-list {
                    border: 1px solid $black_flame;
                    width: 115%;
                    max-width: 220px;
                }
            }

            .tox {
                margin-bottom: 0 !important;
            }

            .create_post {
                display: none;
            }

            .user_news {

                &_item {
                    max-width: 100%;
                }
            }

            &_left {
                max-width: 60%;
                margin: 0 auto;
                overflow: hidden;

                .users_news {

                    &_category {
                        padding: 0;
                    }
                }
            }

            iframe {
                width: 100%;
                height: 250px;
            }
        }
    }
}

.user_gallery {
    display: grid;
    grid-template-columns: calc(20% - 4.8px) calc(20% - 4.8px) calc(20% - 4.8px) calc(20% - 4.8px) calc(20% - 4.8px);
    grid-gap: 6px;
    margin-bottom: 15px;

    @media(max-width: 1199px) {
        grid-template-columns: calc(25% - 4.5px) calc(25% - 4.5px) calc(25% - 4.5px) calc(25% - 4.5px);
        grid-gap: 6px;
    }

    img {
        width: 100%;
        height: 230px;
        object-fit: cover;
        border: 1px solid #C5B8EB;
        cursor: pointer;
    }

    .delete_post_media {
        display: block;

        img {
            width: auto;
            height: auto;
            border: 0;
            height: 20px;
            opacity: 0.8;
            transition: 0.5s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.addItemInGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #C5B8EB;
    cursor: pointer;
    height: 230px;

    @media(max-width: 750px) {
        height: 115px;
    }

    img {
        width: 25%;
        height: auto;
        filter: invert(77%) sepia(17%) saturate(590%) hue-rotate(213deg) brightness(99%) contrast(86%);
        border: 0
    }
}

.userNewsBlock {

    .bl_one {
        /* width: calc(100% - 24px);
        min-width: calc(100% - 24px);
        margin: 0 12px; */
        width: 100%;
        min-width: 100%;
        margin: 0 auto 24px;
    }

    .c-avataricon {
        &__name {
            &--show {
                display: block;
                margin-bottom: 0;
                margin-top: 7px;
                margin-left: 10px;

                span {

                    // &:nth-child(2),
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
    }

    .blog_post_stat {
        div:last-child {
            position: static;
        }
    }
}

.lenta_avatar {
    display: flex;
}

.c-lentaitem {

    &__header {
        display: flex;
    }

    &__link {
        flex-grow: 1;
    }

    &__counter {
        position: absolute;
        z-index: 200;
        right: 14px;
        top: 80px;
        display: flex;
        align-items: center;
        min-width: 26px;
        // aspect-ratio : 1 / 1;
        padding: 5px;
        text-align: right;
        // color: #8192F6;
        color: "white";
        font-weight: 600;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 10px;

        * {
            margin: auto;
        }
    }
}

.bl_one {

    .comment {
        &_avatar {
            padding-left: 20px;
        }
    }

    &.c-container {
        min-width: auto;
    }
}

.c-lenta {
    max-width: 700px;
    width: calc(100% - 40px);
    margin: 0 auto;

    @media(max-width: 1024px) {
        width: 100%;
    }
 }

@media(max-width: 1199px) {
    .user {

        &s {

            &_news {

                &_left {
                    max-width: 100%;
                }
            }
        }
    }
}

@media(max-width: 1024px) {
    .user {

        &_news {

            h4 {
                margin-left: 20px;
            }

            &_top,
            &_filter {
                padding-left: 15px;
                padding-right: 15px;
            }

            &_item {
                border-left-width: 0;
                border-right-width: 0;
                border-bottom-width: 0;
                margin-bottom: 0;
                padding-bottom: 1px;
            }
        }

        &s {

            &_news {

                &_categories {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    .bl_one {

        .user {

            &_news {

                &_block {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        // .comment {
        //     &_avatar {
        //         padding-left: 20px;
        //     }
        // }
    }
}

@media(max-width: 610px) {
    .user {
        &_news {
            &_filter {
                &_checkbox {
                    &es {
                        flex-wrap: wrap;
                        justify-content: center;

                        .user_news_filter_checkbox {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}