/* List exchange offices styles */
.top_professionals_container {
    background: url(../svg/lines-three4.svg) top 170px left 0 no-repeat;
}

.exanges_date_create {
    display: flex;
    align-items: center;
}

.crypto_coin {
    &_container {
        position: relative;
        margin-left: -8px;
        padding: 0 !important;
        height: auto !important;

        &:hover {
            .crypto_coin_description {
                display: flex !important;
                align-items: center;
            }
        }
    }

    &_description {
        position: absolute;
        padding: 10px 15px !important;
        line-height: 14px !important;
        background: $infinity1;
        border: 1px solid $tried_true_blue;
        border-radius: 5px;
        bottom: calc(100%);
        left: 50%;
        transform: translateX(-50%);
        display: none !important;
    }

    &_icons {

        &:first-child {
            margin-left: 0;
        }
    }
}

@media(max-width: 970px) {
    .exanges_date_create {
        position: relative;
        
        span {
            position: absolute;
            white-space: nowrap;
            right: 0;
        }
    }
}