/* MESSAGES */
.messages {

	&_block {
		width: 100%;
		max-width: 1240px;
		height: 100vh;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		display: flex;
		position: relative;
		margin-bottom: -63px;
		min-height: calc(100vh - 41px);
		// padding-bottom: 63px;

		@media(max-width: 1024px) {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		.micro_user_avatar {
			margin-left: 0px;
			left: -10px;
			height: 74px;
		}
	}

	&_left_part {
		width: 35%;
		padding-bottom: 63px;
		margin-bottom: -63px;

		&--inactive {

			@media(max-width: 1199px) {
				display: none !important;
			}

			&~.messages_goback {
				@media(max-width: 1199px) {
					display: block;
					position: absolute;
					height: 28px;
					// filter: invert(70%) sepia(6%) saturate(518%) hue-rotate(208deg) brightness(94%) contrast(88%);
					top: 30px;
					left: 15px;
					cursor: pointer;
				}

			}
		}
	}

	&_list {
		width: 100%;
		height: 93%;
		background-color: #1E222D;
		// padding: 16px;
		padding-top: 0px;
		overflow-y: scroll;
		overflow-x: hidden;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-button {
			/*background-image: url(App.css);*/
			background-repeat: no-repeat;
			width: 5px;
			height: 0px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background-color: #2F3645;
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		.active {
			background: #2B3040;
			// border-radius: 20px;
		}

		.micro_user_avatar {
			min-width: 77px;
			height: 83px;
			z-index: 0;
		}

		&_item {
			padding-bottom: 5px;
			padding-left: 10px;
			margin-bottom: 5px;
			border-bottom: 1px solid #323848;
			display: flex;
			cursor: pointer;

			&:last-child {
				border-bottom: 0px solid #323848;
			}

			&_info {
				display: flex;
				justify-content: space-between;
				width: calc(100% - 70px);
				// margin-top: 15px;
				margin-left: 5px;

				padding-bottom: 15px;

				&-1 {
					display: flex;
					flex-direction: column;
					position: relative;
					top: 8px;
					max-width: 50%;

					p {
						font-weight: 600;
						font-size: 16px;
						line-height: 20px;
						color: #FFFFFF;
						margin-bottom: 7px;
					}

					span {
						font-weight: 500;
						font-size: 14px;
						line-height: 17px;
						color: rgba(255, 255, 255, 0.75);
						word-break: break-word;
						max-height: 51px;
						overflow: hidden;
					}
				}

				&-2 {
					display: flex;
					flex-direction: column;
					padding-right: 10px;
					position: relative;
					top: 8px;
					position: relative;
					flex-basis: 110px;
					flex-shrink: 0;
					flex-grow: 0;

					@media(max-width: 479px) {
						flex-basis: 80px;
					}

					p {
						font-weight: 500;
						font-size: 12px;
						line-height: 15px;
						color: rgba(255, 255, 255, 0.5);
						text-align: right;

						@media(max-width: 479px) {
							text-align: center;
						}
					}

					img {
						height: 22px;
						width: 22px;
						position: absolute;
						right: 15px;
						bottom: 5px;
					}

					div {
						height: 30px;
						width: 30px;
						position: absolute;
						right: 15px;
						bottom: 0;
						background: linear-gradient(89.03deg, #2C66B8 0.54%, #8859EC 97.66%);
						color: #FFF;
						font-weight: bold;
						font-size: 14px;
						line-height: 17px;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 50%;
					}
				}
			}

			.avatar_user {

				&_online {
					right: 5%;
					bottom: 22%;
				}

				&_offline {
					right: 5%;
					bottom: 22%;
				}
			}

			.c-avataricon {
				&--micro {
					margin-left: 0;
				}
			}
		}

		.comment_avatar {
			top: 10px;
			width: 70px;
		}
	}

	&_dialog {
		width: 65%;
		height: 100%;
		background-color: #12161F;
		padding: 32px;
		padding-top: 10px;
		padding-bottom: 63px;
		margin-bottom: -63px;
		position: relative;
		padding-left: 0 !important;
		padding-right: 0 !important;

		@media(max-width: 767px) {
			padding-left: 10px;
			padding-right: 10px;
		}

		.c-comments {
			&__field {
				position: relative;
				width: 100%;
				padding: 10px;
				background: #383c48;
				display: flex;
				align-items: flex-end;

				textarea {
					width: calc(100% - 56px);
					min-height: 41px;
					padding-top: 7px;
					padding-bottom: 7px;
					border-radius: 30px !important;
					border: 0;
					background: #15161b;
				}
			}

			&__send {
				height: 41px;
				margin-left: 1px !important;
				position: relative;
				filter: none;
				outline: none;
				border: none;
				background: transparent;
				align-self: flex-end;
			}
		}

		&>section {
			display: flex;
			flex-direction: column;
			justify-content: stretch;
			height: 100%;
		}

		.companion {
			flex-basis: 83px;
			flex-grow: 0;
			flex-shrink: 0;
		}

		.c-mediabtn {
			display: inline-flex;
			margin-top: 0;
			grid-gap: 0;

			&__action {
				width: 38px;
				height: 41px;
				padding: 8px 6px;
				background: transparent;
			}

			&__icon {
				width: 100%;
			}
		}

		button[data-type='voiceline'][data-page_type="posts"] {
			width: 38px;
			height: 41px;
			padding: 10px 6px;
			background-image: url("../svg/message_voice.svg");
		}

		.create_post_chapter {
			width: calc(100% - 56px);

			&.createPostImage {
				border: none;
				background-color: transparent;
				overflow-y: auto;
			}
		}
	}

	&_container {
		background: #12161F url("../images/chat_pattern.png") repeat;
		color: white;
		padding: 25px 0;
		width: 100%;
		// height: 650px;
		// height: calc(100% - 63px);
		flex-basis: calc(100% - 63px);
		flex-grow: 1;
		flex-shrink: 1;
		overflow-y: scroll;
		overflow-x: hidden;
		display: flex;
		flex-direction: column-reverse;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-button {
			/*background-image: url(App.css);*/
			background-repeat: no-repeat;
			width: 5px;
			height: 0px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background-color: #2F3645;
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		a[target="_blank"] {
			background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
				text-decoration-color: #8846D3;
			}
		}
	}

	&_goback {
		display: none;
	}

	&_settings {
		position: absolute;
		z-index: 2;
		font-size: 0;
		width: 32px;
		height: 32px;
		top: 0px;
		right: 28px;
	}

	&_wrapper {
		display: flex;
		flex-direction: column-reverse;

		&:last-child {
			.messages {
				&_date {
					margin-top: 0;
				}
			}
		}
	}

	&_date {
		order: 1;
		align-self: center;
		display: inline-block;
		padding: 4px 10px;
		margin-top: 30px;
		margin-bottom: 8px;
		font-size: 14px;
		font-weight: 400;
		background: #554f6e;
		border-radius: 10px;

		&:first-letter {
			text-transform: uppercase;
		}
	}
}

.messages_block,
.messages_dialog {
	overflow: hidden;
}

.messages_block {
	align-items: stretch;
}

.messages_list {
	padding-bottom: 75px;
	height: calc(100% - 70px);
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-button {
		background-repeat: no-repeat;
		width: 6px;
		height: 0px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: linear-gradient(45deg, $summer_sky 0, $blue_oyster_cult 45%, $akebi_purple 57%, $lilac_lotion 70%);
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

.message--new {
	// position: relative;

	span {
		font-weight: 700 !important;
		// color: #8846D3 !important;
		background-image: linear-gradient(90deg, #FFA0AF, #8729DA);
		background-size: 100%;
		background-repeat: repeat;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	i {
		position: absolute;
		bottom: 5px;
		right: 45px;
		width: 23px;
		height: 23px;
		border-radius: 50%;
		border: 2px solid #8846D3;
		background: linear-gradient(90deg, #FFA0AF, #8729DA); //#8846D3;
		color: black;
		text-align: center;
		line-height: 19px;
		font-style: normal;
	}
}

.companion {
	border-bottom: 1px solid #242A38;
	padding: 10px;
	padding-top: 0;
	display: flex;

	.avatar_user {

		&_online {
			right: 5%;
			bottom: 26%;
		}

		&_offline {
			right: 5%;
			bottom: 26%;
		}
	}

	&_info {
		position: relative;
		top: 13px;

		p {
			&:first-child {
				font-style: normal;
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				color: #FFFFFF;
				margin-bottom: 7px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			&:last-child {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 17px;
				color: rgba(255, 255, 255, 0.85);
			}
		}
	}
}

.friend_message {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	// background: #293040;
	background: #746cc7;
	color: white;
	padding: 8px 15px 8px;
	border-radius: 18px 18px 18px 0; //10px;
	position: relative;
	left: 20px;
	word-break: break-word;
	max-width: 80%;

	&::before {
		content: url("../images/beforeYou.png");
		position: absolute;
		background: 0;
		// width: 0;
		// height: 0;
		// border-left: 15px solid transparent;
		// border-right: 15px solid transparent;
		// border-bottom: 20px solid #293040;
		// border-radius: 10px;
		// bottom: -4px;
		// left: -10px;
		// transform: rotate(127deg)
		left: 0px;
		bottom: -5px;
		transform: translateX(-100%);
	}

	&_date {
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 15px;
		color: rgba(255, 255, 255, 0.35);
		margin-top: 2px;
		position: relative;
		width: 100%;
		display: flex;
		justify-content: left;
	}

	&_container {
		width: 92%;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #FFFFFF;
		display: flex;
		justify-content: left;
		flex-wrap: wrap;
	}

	img {
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.swiper {
		&-wrapper {
			margin-bottom: 0 !important;
		}

		&-slide {
			width: 100% !important;
		}
	}

	p {
		margin-bottom: 0;
		padding-left: 12px;
		padding-right: 12px;

		&:first-child {
			padding-top: 5px;
		}

		&:last-child {
			padding-bottom: 5px;
		}

		&+p {
			margin-top: 1rem;
		}
	}
}

.your_message {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	// background: linear-gradient(89.03deg, rgba(136, 89, 236, 0.7) 0.54%, rgba(44, 102, 184, 0.7) 97.66%);
	background: #532d8a;
	color: white;
	padding: 5px 10px; //3px; //8px 15px 8px;
	border-radius: 18px 18px 0 18px;
	position: relative;
	max-width: 80%;

	&.message--media {
		padding: 3px !important;
	}

	&::before {
		content: url("../images/beforeMy.png");
		position: absolute;
		background: 0;
		// width: 0;
		// height: 0;
		// border-left: 15px solid transparent;
		// border-right: 15px solid transparent;
		// border-bottom: 20px solid #244F8A;
		// border-radius: 10px;
		// bottom: -4px;
		// right: -10px;
		// transform: rotate(-127deg)
		bottom: -5px;
		right: 1px;
		transform: translateX(100%);
	}

	&_date {
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 15px;
		color: rgba(255, 255, 255, 0.35);
		margin-top: 2px;
		position: relative;
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	&_container {
		width: 92%;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #FFFFFF;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		word-break: break-word;
	}

	&_content {
		img {
			width: 100%;
		}

		&:first-child {
			img {
				margin-top: 0;
				border-radius: 18px 18px 0 0; //10px 10px 0 0;
			}
		}

		&:nth-last-child(2) {
			img {
				margin-bottom: 0;
			}
		}
	}

	img {
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.swiper {

		&-wrapper {
			margin-bottom: 0 !important;
		}

		&-slide {
			width: 100% !important;
		}
	}

	p {
		margin-bottom: 0;
		padding-left: 12px;
		padding-right: 12px;

		&:first-child {
			padding-top: 5px;
		}

		&:last-child {
			padding-bottom: 5px;
		}

		&+p {
			margin-top: 1rem;
		}
	}

	.audio_container {
		.controls {
			border-radius: 18px;
		}
	}

	&>.video_container {
		&:first-child {
			border-top-left-radius: 18px;
			border-top-right-radius: 18px;
			overflow: hidden;
		}
	}
}

.message {

	&_input {
		width: 95%;
		background: #2F3645;
		border-radius: 10px;
		position: relative;
		border: none;
		color: white;
		resize: none;

		.createPostAudio {

			.create_post_photo_preview {
				min-height: 50px;
				max-height: 50px;
			}
		}

		textarea {
			padding: 10px 0px 0px 60px;

			&:focus {
				outline: 0;
			}
		}

		img {

			&:nth-child(2) {
				position: absolute;
				cursor: pointer;
				z-index: 1;
				top: 14px;
				right: 80px;
			}

			&:nth-child(3) {
				position: absolute;
				cursor: pointer;
				z-index: 1;
				top: 14px;
				right: 50px;
			}
		}
	}

	&_photo {

		img {
			height: 100px;
			margin-top: 5px;
		}
	}
}

#sendMessageForm {

	img {

		&:nth-child(1) {
			position: absolute;
			cursor: pointer;
			z-index: 1;
			top: 50%;
			transform: translateY(-50%);
			left: 21px;
			height: 23px;
		}

		&:nth-child(2) {
			position: absolute;
			cursor: pointer;
			z-index: 1;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
			height: 30px;
			filter: invert(96%) sepia(5%) saturate(6439%) hue-rotate(180deg) brightness(95%) contrast(76%);
		}
	}
}

/* CHART STYLES */
.chart_block {
	margin: 0 auto;
	margin-top: 200px;
	width: calc(100% - 224px);
}

.mini_charts {

	&_block {
		display: flex;
		justify-content: space-between;
	}

	&_item {
		height: 100px;
		width: 18%;
		border: 1px solid #312F62;
		border-radius: 10px;
	}
}

.main_chart_block {
	width: 100%;
	height: 405px;
	margin-top: 32px;
	background: #2B3040;
	border-radius: 12px;
	border: 1px solid #363C50;
}

#myChart {
	margin: 0 auto;
	width: calc(100% - 80px);
	max-height: 345px;
	margin: 30px 40px;
	box-sizing: border-box;
}

.chats {

	&_search {
		height: 70px;
		background: #1E222D;
		padding-top: 20px;
		padding: 15px 35px;
		position: relative;

		input {
			width: 100%;
			height: 40px;
			background: #2B3142;
			border: none;
			border-radius: 10px;
			padding: 0 60px 0 20px;
			color: white;
			font-weight: 500;
		}

		img {
			position: absolute;
			right: 55px;
			height: 21px;
			filter: invert(70%) sepia(16%) saturate(191%) hue-rotate(199deg) brightness(99%) contrast(88%);
			cursor: pointer;

			&.goBackFromChat {
				filter: none
			}
		}
	}
}

.chat_messages {

	&_search {
		position: absolute;
		// top: 32px;
		z-index: 2;
		width: calc(100% - 64px);
		display: none;
		right: 10px;
		top: 10px;

		&_input {
			width: 100%;
			// height: 65px;
			height: 75px;
			background: #2B3142;
			border: none;
			border-radius: 10px;
			padding: 0 60px 0 20px;
			color: white;
			font-weight: 500;
		}

		&_button {
			position: absolute;
			top: 19px;
			right: 25px;
			height: 28px;
			filter: invert(70%) sepia(16%) saturate(191%) hue-rotate(199deg) brightness(99%) contrast(88%);
			cursor: pointer;
		}

		&_summoner {
			position: absolute;
			top: 35px;
			right: 32px;
			filter: invert(70%) sepia(16%) saturate(191%) hue-rotate(199deg) brightness(99%) contrast(88%);
			cursor: pointer;
			height: 26px;
		}
	}
}

button[data-type='voiceline'][data-page_type="chat"] {
	background-image: url(../svg/message_voice.svg);
	background-size: 45%;
	background-position: center;
	background-repeat: no-repeat;
	padding: 10px;
	outline: none;
	border: 0;
	position: absolute;
	right: -52px;
	top: -7px;
}

/* adaptive */
#sendMessageForm {

	img {

		&:first-child {
			transform: none;
			top: auto;
			bottom: 9px;
		}

		&:nth-child(2) {
			transform: none;
			top: auto;
			bottom: 5px;
		}
	}
}

.message_input {
	width: calc(100% - 39px);
}

button[data-type=voiceline][data-page_type=chat] {
	top: auto;
	bottom: -6px;
	transform: none;
}

@media(max-width: 1199px) {
	.companion {
		justify-content: center;
	}

	.messages {

		&_block {
			width: 100%;
		}

		&_left_part {
			width: 100%;
		}

		&_list {
			width: 100%;

			.active {
				background: transparent;
				border-radius: 0;
			}

			&_item_info-1 {
				max-width: 80%;
			}
		}

		&_dialog {
			width: 100%;
			display: none;
		}
	}
}

@media(max-width: 970px) {
	.companion {

		&_info {

			p {

				&:first-child {
					max-width: 500px;
					overflow: hidden;
				}
			}
		}
	}
}

@media(max-width: 768px) {
	.companion {

		&_info {

			p {

				&:first-child {
					max-width: 440px;
					overflow: hidden;
				}
			}
		}
	}
}

@media(max-width: 767px) {
	.companion {

		&_info {

			p {

				&:first-child {
					max-width: 430px;
					overflow: hidden;
					top: 15px;
					position: relative;
				}
			}
		}
	}

	.messages {

		&_block {
			width: 100%;
		}
	}
}

@media(max-width: 680px) {
	.companion {

		&_info {

			p {

				&:first-child {
					max-width: 330px;
					overflow: hidden;
				}
			}
		}
	}
}

@media(max-width: 522px) {
	.companion {
		&_info {
			p {
				&:first-child {
					max-width: 230px;
					overflow: hidden;
				}
			}
		}
	}
}

@media(max-width: 425px) {
	.companion {

		&_info {

			p {

				&:first-child {
					max-width: 175px;
					overflow: hidden;
				}
			}
		}
	}
}

@media (max-width: 390px) {
	.companion {
		justify-content: center;

		&_info {

			p {
				&:first-child {
					max-width: 140px;
				}
			}
		}
	}
}