.c-infopartners {
    padding-bottom: 20px;

    &__title {}

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;

        @media(min-width: 480px) {
            grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
        }

        // @media(min-width: 768px) {
        //     grid-template-columns: calc(33% - 10px) calc(33% - 10px) calc(33% - 10px);
        // }

        @media(min-width: 993px) {
            grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
        }
    }

    &__item {
        width: 100%;
        text-align: center;
        border: 2px solid white;
        border-radius: 10px;

        @media(max-width: 1024px) {
            display: none;
        }

        &:first-child,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {

            @media(max-width: 1024px) {
                display: block;
            }
        }
    }

    &__more {
        display: none;
        padding-top: 60px;

        @media (max-width: 1024px) {
            display: block;
            padding-top: 20px;
        }
    }
}