.c-rooms {

    &__langs {
        margin-bottom: 30px;
    }

    &__searchblock {
        margin-bottom: 30px;

        .c-search {

            &__icon {
                top: 14px;

                &--filter {
                    top: 23px;
                }
            }

            &__container {
                margin-right: 0;
            }
        }
    }

    &__chats {
        margin-bottom: 30px;
    }
}