.c-rooms {

    &__langs {
        margin-bottom: 30px;
    }

    &__searchblock {
        margin-bottom: 30px;

        .c-search {

            &__icon {
                top: 14px;

                &--filter {
                    top: 23px;
                }
            }

            &__container {
                margin-right: 0;
            }
        }
    }

    &__chats {
        margin-bottom: 30px;
    }

    &__list {
        margin: 0 auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 330px);
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
        max-width: 1240px;

        @media(max-width: 1240px) {
            margin-top: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: calc(100%);
            margin-left: 30px;
            margin-right: 30px;
        }

        @media (max-width: 750px) {
            grid-gap: 10px;
        }

        @media (max-width: 680px) {
            max-width: calc(100%);
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

.c-room {
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 100%;
    max-width: 330px;
    padding: 20px;
    background: #313643;
    border-radius: 6px;
    border: 1px solid #474c5a;

    @media (max-width: 1240px) {
        width: 48.9%;
        max-width: none;
        padding: 30px 60px;
    }

    @media (max-width: 970px) {
        width: 48.1%;
        padding: 30px;
    }

    @media (max-width: 768px) {
        width: 48.5%;
        padding: 30px;
    }

    @media (max-width: 750px) {
        padding: 20px;
        padding-top: 2px;
        width: 100%;
        height: auto;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__datecreate {
        font-family: "Montserrat", Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        color: #536172;
    }

    &__settings {
        cursor: pointer;
    }

    &__icon {}

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;

        figcaption {
            width: 100%;
        }
    }

    &__image {
        position: relative;
        display: flex;
        width: 100%;
        height: 158px;
        padding: 4px;
        margin: 0 auto 20px;
        background: linear-gradient(45deg, #3bade3 0%, #576fe6 45%, #9844b7 57%, #ff357f 70%);
        border-radius: 50%;
        overflow: hidden;
        border-radius: 5px;
        border: 1px solid #474c5a;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            border-radius: 50%;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
        }

        &--quadro {
            padding: 0;
            border-radius: 0;
            width: 158px;
            height: 158px;

            img {
                border-radius: 0;
                width: 100%;
                height: 100%;
            }
        }

        &--rectangle {
            background: none;
            
            img {
                position: static;
                transform: none;
                border-radius: 0;
                width: 100%;
                height: auto;
            }
        }
    }

    &__caption {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    &__lang {}

    &__category {
        font-size: 15px;
        margin-bottom: 0;
    }

    &__title {
        flex-basis: 100%;
        flex-shrink: 0;
        max-width: 330px;
        height: 58px;
        // margin-top: 10px;
        font-weight: 500;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        display: flex;
        align-items: flex-start;

        span {
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
        }

        i {
            display: block;
            font-size: 12px;
            font-style: normal;
        }

        &:hover {
            span {
                background: linear-gradient(56.57deg, #2973FF 0%, #8846D3 51.56%, #FF22AC 105.28%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &__count {
        margin: 0 0 15px;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #536172;
    }

    .c-button {

        &--outline2 {
            color: $white;
            font-size: 12px;

            @media(max-width: 390px) {
                width: 100%;
            }
        }
    }
}