/* Startaps styles */
.c-startaps {
    max-width: 1240px;
    margin: 20px auto;

    @media(max-width: 1240px) {
        width: calc(100% - 60px);
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 30px;
        margin-right: 30px;
    }

    @media(max-width: 680px) {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }

    .swiper {

        &-slide {
            img {
                // width: 100%;
                object-fit: cover;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }

        &-pagination {

            @media(max-width: 1240px) {
                bottom: 0 !important;
            }
        }
    }

    h4 {
        margin-bottom: 40px;
    }

    img {
        width: 290px;
        height: 140px;
        display: block;
        margin: 0 auto;

        // @media(max-width: 1240px) {
        //     width: 100% !important;
        // }
    }
}

// .sturtups-wrapper {
//     padding-top: 60px;
//     background: url("../svg/lines-three.svg") no-repeat;
//     background-position: top 165px right 20px;
//     margin-bottom: 20px;

//     @media(max-width: 1240px) {
//         padding-top: 0;
//     }

//     @media(max-width: 1024px) {
//         padding-top: 0;
//     }
// }

.swiper-startups {
    width: 1240px;
    height: auto;

    .swiper-wrapper {
        .swiper-slide {
            img {

                // @media(max-width: 970px) {
                //     width: 250px;
                // }

                // @media(max-width: 799px) {
                //     width: 329px;
                // }

                // @media(max-width: 768px) {
                //     // width: 300px;
                // }

                // @media(max-width: 599px) {
                //     width: 290px !important;
                //     height: 140px;
                //     display: block;
                //     margin: 0 auto;
                // }
            }
        }
    }

    .swiper-slide {height: 1px}  
    .swiper-slide-active { height:auto}
}

@media(max-width: 1240px) {
    #prev-startup{
        display: none;
    }
    
    #next-startup{
        display: none;
    }

    
    .swiper-startups {
        width: 100%;
    }
}

@media(max-width: 799px) {
    .swiper-startups {

    }
}